<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Vendedor Online Internacional" %}</title>
</head>
<body>

<div id="template-email" style="background: #fff; padding: 18px 30px 45px 30px; font: 13px/120% 'Helvetica';">
    <a href="{{ protocol}}://{{ request.CURRENT_DOMAIN }}/" style="text-decoration: none;">
        <img src="{{ protocol}}://{{ request.CURRENT_DOMAIN }}/static/img/logo_sup.png" width="55" style="float: left;margin: 11px 0 0 0;"/><span style="display: block;margin: 27px 0 0 2px;margin-left: 0;font-size: 17px;font-weight: bold;color: #3C3E77;font-family: sans-serif;float: left;">VOI </span><span style="display: block;margin: 27px 0 0 2px;margin-left: 0;font-size: 17px;font-weight: bold;color: #DC3438;font-family: sans-serif;float: left;">SERVICES</span>
    </a>
    <div style="float: left; width: 97%; background: #eee; padding: 10px 20px 20px 20px;">
        <p style="color:#858585;font:13px/120% 'Helvetica'">
        {% blocktrans %}Caro usuário, você foi registrado em nosso serviço de venda de Lotes - VOI Lots e de redirecionamento - FBA Prep Master.
            <br><br>
            • Serviço de redirecionamento FBA Prep Master (https://fbaprepmaster.com): Sempre que enviar produtos para a Warehouse da FBA Prep Master, você deverá incluir o seu código de cliente como remetente, além do seu nome, claro. Seu código de cliente é: {{ user_from_key }}
            Veja tu\orial de funcionamento da plataforma: http://TUTORIAL-DA-PLATAFORMA-REDIRECIONAMENTO.
            <br><br>
            • Serviço de venda de Lotes (https://lots.voiserices.com): Os Lotes adquiridos irão direto para o seu estoque na FBA Prep Master, considerando o redirecionamento gratuito, dentro das políticas informadas no site.
            Veja o tutorial explicando todo o funcionamento desde a compra de um lote até o redirecionamento: http://TUTORIAL-DE-LOTES
            <br><br>
            Att,
            <br>
            VOI Lots e FBA Prep Master{% endblocktrans %}
        </p>
        <p>
            {% url 'login' as my_url %}
            <a href="{{ protocol}}://{{ request.CURRENT_DOMAIN }}{{ my_url }}" style="font: 13px/120% 'Helvetica';display: block; background: #337ab7;width: 210px;color: #fff; height: 32px; margin: 0 auto;text-align: center;padding-top: 9px;font-size: 20px;text-decoration: none;font-weight: bold;border-radius: 10px;">{% trans "LOGIN" %}</a>
        </p>
    </div>
    <small style="color: #858585;font: 13px/120% 'Helvetica';width: 100%;float: left;margin: 10px 1px;font-size: 10px;">{% trans "Caso você não tenha feito esta solicitação nos avise através do e-mail" %} <a href="mailto:{% trans 'support@voiservices.com' %}">{% trans "support@voiservices.com" %}</a>.</small>
    <small style="color: #858585;font: 13px/120% 'Helvetica';width: 100%;float: left;margin: 10px 1px;font-size: 10px;">{% trans "Este é um e-mail automático disparado pelo sistema. Favor não respondê-lo, pois esta conta não é monitorada." %}</small>
</div>

</body>
</html>