{% extends 'includes/layout.html' %}
{% load i18n tz permissions users shipments commons lots %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        {% if view_perm %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          {% block list_title %}{% endblock %}
          <div class="row">
              <div class="filtros col-md-12">
                <h3><i class="fa fa-filter"></i> {% trans "Filtros" %}</h3>  <br>
                <form action="" method="get" id="form-filter-shipment" class="form-filter">
                <div class="form-group col-md-2">
                    {% trans "ID" as id %}
                    <label for="filtro-id">{{ id }}</label>
                    <input type="text" class="form-control" id="filtro-id" placeholder="{{ id }}..." name="id" value="{{ filter_values.id }}">
                </div>
                {% if user|has_user_perm:'view_users' or user|has_store_perm:'collaborator' %}
                <!-- somente o admin visualiza esse filtro -->
                <div class="form-group col-md-2">
                    {% trans "Usuário" as user_label %}
                    <label for="filtro-usuario">{{ user_label }}</label>
                    <input type="text" class="form-control" id="filtro-usuario" placeholder="{{ user_label }}..." name="user" value="{{ filter_values.user }}">
                </div>
                <!-- fim filtro usuario-->
                {% endif %}
                <div class="form-group col-md-2">
                    {% trans "Status" as status %}
                    <label for="filtro-status">{{ status }}</label>
                    {% select_status filter_values '0' as create_filter_status %}
                    {% select_status filter_values '1' as preparing_filter_status %}
                    {% select_status filter_values '2' as upload_filter_status %}
                    {% select_status filter_values '3' as payed_filter_status %}
                    {% select_status filter_values '4' as checkings_filter_status %}
                    {% select_status filter_values '5' as sent_filter_status %}
                    <select class="form-control" id="filtro-status" name="status">
                      <option value="">{{ status }}</option>
                      <option value="0" {{ create_filter_status }}>{% trans "We create your AZ Shipment" %}</option>
                      <option value="1" {{ preparing_filter_status }}>{% trans "Preparando para Envio" %}</option>
                      <option value="2" {{ upload_filter_status }}>{% trans "Upload Etiqueta Caixa Autorizado" %}</option>
                      <option value="3" {{ payed_filter_status }}>{% trans "Pagamento Autorizado" %}</option>
                      <option value="4" {{ checkings_filter_status }}>{% trans "Checagens Finais" %}</option>
                      <option value="5" {{ sent_filter_status }}>{% trans "Enviado" %}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                  {% trans "Data de Criação" as created_date %}
                    <label for="datepicker">{{ created_date }}</label>
                    <input type="text" class="form-control datepicker" id="datepicker" placeholder="{{ created_date }}..." name="date" value="{{ filter_values.date }}">
                </div>
                <div class="col-md-12">
                  <label for="filtro-arquivado">
                    <input type="checkbox" class="" id="filtro-arquivado" name="archived" {{ filter_values.archived }}> {% trans "Exibir envios arquivados" %}
                  </label>
                </div>
                <div class="col-md-12">
                  <label for="filtro-cancelado">
                    <input type="checkbox" class="" id="filtro-cancelado" name="canceled" {{ filter_values.canceled }}> {% trans "Exibir envios cancelados" %}
                  </label>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary filtar-btn" id="filtro"><i class="fa fa-fw fa-filter"></i> {% trans "Filtrar" %}</button>
                </div>
                </form>
              </div>
          </div><br><br>
          {% block add_button %}{% endblock %}
          <div class="table-responsive">
          <br>
            {% if shipments.paginator.count > 0 %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>
                    {% trans "Ordenar pelo ID" as order_id %}
                    <a title="{{ order_id }}" href="javascript:void(0);">{{ id }} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  {% if user|has_user_perm:'view_users' or user|has_store_perm:'collaborator' %}
                  <!-- somente admin visualiza -->
                  <th class="center">
                    {% trans "Ordenar pelo usuário" as order_user %}
                    <a title="{{ order_user }}" href="javascript:void(0);">{{ user_label }} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  <!-- fim campo -->
                  {% endif %}
                  <th>
                    {% trans "Ordenar pela data de criação" as order_created_date %}
                    <a title="{{ order_created_date }}" href="javascript:void(0);">{{ created_date }} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  <th class="center">
                    {% trans "Ordenar pela quantidade" as order_qty %}
                    <a title="{{ order_qty }}" href="javascript:void(0);">{% trans "Quantidade" %} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  <th class="center">
                    {% trans "Ordenar pelo status" as order_status %}
                    <a title="{{ order_status }}" href="javascript:void(0);">{{ status }} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  <th class="center">{% trans "Visualizar" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for shipment in shipments %}
                <tr {% if shipment.is_archived or shipment.is_canceled %}style="color: gray;"{% endif %}>
                  <td>{{ shipment.id }}{% if shipment.is_canceled %} ({% trans "Cancelado" %}){% elif shipment.is_archived %} ({% trans "Arquivado" %}){% endif %}</td>
                  {% if user|has_user_perm:'view_users' or user|has_store_perm:'collaborator' %}
                  <!-- somente admin visualiza -->
                  <td class="center">{{ shipment.user.first_name }}<br>({{ shipment.user.email }})</td>
                  <!-- fim campo -->
                  {% endif %}
                  {% timezone_name LANGUAGE_CODE as mytz %}
                  {% timezone mytz %}
                  <td>{{ shipment.created_date|date:'SHORT_DATE_FORMAT' }}</td>
                  {% endtimezone %}
                  <td class="center">{{ shipment.total_products }}</td>
                  <td class="center">
                    {% if shipment.is_fba_create is True %}(*) {% endif %}
                    {{ shipment.get_status_display  }}
                    {% if shipment.is_standby%}
                      <br>
                      ({% trans "Aguardando resposta do usuário" %})
                    {% endif %}
                  </td>
                  <td class="center"><a class="download" href="{% url 'shipment_details' shipment.id %}"><i class="fa fa-pencil-square"></i> {% trans "Visualizar" %}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
              <p>{% trans "Nenhum envio encontrado." %}</p>
            {% endif %}
          </div>
          <nav aria-label="...">
            {% if shipments.has_other_pages %}
              <ul class="pagination">
                {% if shipments.has_previous %}
                  <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ shipments.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in shipments.paginator.page_range %}
                  {% if shipments.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if shipments.has_next %}
                  <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ shipments.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
          </nav>
        </div>
        <div class="col-md-1 sidebar">
        </div>
        {% endif %}
      </div>
    </div>

{% endblock %}
