{% extends 'includes/layout.html' %}
{% load i18n l10n tz permissions users shipments services commons products lots %}

{% block specific_styles %}
<link href="/static/css/inlines.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<!-- Passo 1 -->
{% has_payment shipment as shipment_has_payment %}
 <div class="container-fluid">
      <form method="delete">
          <input type="hidden" name="delete_product_shipment_id" id="delete_product_shipment_id" value="">
          <input type="hidden" name="delete_product_product_id" id="delete_product_product_id" value="">
      </form>
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {% block details_title %}{% endblock %} {{ shipment.id }}{% if shipment.is_canceled %} ({% trans "Cancelado" %}){% elif shipment.is_archived %} ({% trans "Arquivado" %}){% endif %}</h1>

          <!-- bloco com as infos do endereço e colaborador -->

            <div class="row">
                <div class="col-md-3 content-partner info-envio-partner">
                   <p>{% trans "Este envio será feito pelo colaborador" %}:</p>
                   <img src="/static/img/team/1.png"><br>
                   <div class="infos-parceiro ">
                      <p><strong>{% if collaborator %}{{ collaborator.name }}{% else %}VOI Services{% endif %}</strong></p>
                      {% if collaborator %}
                       {% stars collaborator.rating as stars_rating %}
                      {% else %}
                       {% assign 'cinco' as stars_rating %}
                      {% endif %}
                      <div class="rating {{ stars_rating }} ">
                           <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                       </div><br><br>
                   </div>
                 </div>
                <div class="col-md-4 content-partner info-envio-partner">
                     <i class="fa fa-4x fa-info-circle"></i><br>
                     <p><strong>{% trans "Não se esqueça que para este envio você deve colocar como &quot;FROM&quot; na Amazon o endereço ao lado." %}  </strong><br></p><br>
                </div>
                <div class="col-md-3 center">
                    <i class="fa fa-3x fa-map-marker"></i>
                    <p><strong>{% trans "Endereço FROM" %}:</strong><br><br>
                        {% if collaborator %}
                        {{ collaborator.address_1 }}
                        <br>
                        {{ collaborator.address_2 }}
                        {% else %}
                        920 Lafayette Rd
                        <br>
                        Seabrook, NH 03874
                        {% endif %}
                    </p>
                </div>
            </div>

           <!-- fim do bloco -->

           <hr />

          {% if shipment.status != 1 and shipment.status != 0 %}
          <form action="" method="post" id="form-upload-file" enctype="multipart/form-data">
          {% endif %}
          {% if shipment.status == 1 or shipment.status == 0 %}
          <form action="{% url 'shipment_details' shipment.id %}" method="post" id="form-add-package" enctype="multipart/form-data">
          {% endif %}
            <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{% trans "Link Amazon" %}</th>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "ASIN" %}</th>
                  <th>{% trans "Nome" %}</th>
                  <th>{% trans "Descrição" %}</th>
                  <th>{% trans "Validade" %}</th>
                  <th class="center">{% trans "Tempo em estoque" %}</th>
                  <th class="center">{% trans "Quantidade" %}</th>
                  {% if user|has_user_perm:'view_users' or user|has_store_perm:'collaborator' %}
                  <th>{% trans "Usuário" %}</th>
                  {% endif %}
                  {% if shipment.status == 1 and user|has_shipment_perm:'add_productservice' and shipment.collaborator_id|check_collaborator:user or shipment.status > 1 %}
                  <th>{% trans "Serviços" %}</th>
                  {% endif %}

                  {% if shipment.status < 5 and user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_archived is False and shipment.is_canceled is False and shipment.collaborator_id|check_collaborator:user %}
                  <th>{% trans "Retirar" %}</th>
                  {% endif %}

                </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                  <!-- btn amazon -->
                  <td>
                      <center>
                      {% assign product.product.url as amazon_url %}
                      {% if amazon_url %}
                      <a class="btn btn-default link-amz-s" target="_blank" href="{{ amazon_url }}"><i class="fab fa-amazon"></i></a>
                      {% else %}
                      -
                      {% endif %}
                      </center>
                  </td>
                  <td>{{ product.product.id }}</td>
                  <td>{% if product.product.asin %}{{ product.product.asin }}{% endif %}</td>
                  <td>{{ product.product.name }}</td>
                  <td>{{ product.product.description }}</td>

                  <td>
                      {% with best_before_date=product.product.best_before|date:'SHORT_DATE_FORMAT' %}
                      {% if best_before_date %}
                          {{ best_before_date }}
                      {% endif %}
                      {% endwith %}
                  </td>
                  <td class="center">
                    {% days_in_stock product max_time_period=max_time_period as days_in_voi_stock %}
                    {{ days_in_voi_stock }} {% trans "dias" %}
                  </td>
                  <td class="center">{{ product.quantity }}</td>
                  {% if user|has_user_perm:'view_users' or user|has_store_perm:'collaborator' %}
                  <td>{{ shipment.user.first_name }}</td>
                  {% endif %}
                  {% if shipment.status == 1 and user|has_shipment_perm:'add_productservice' and shipment.collaborator_id|check_collaborator:user or shipment.status > 1 %}
                  <td>
                  {% if shipment.status == 1 and user|has_shipment_perm:'add_productservice' and shipment.collaborator_id|check_collaborator:user %}
                      <a class="btn btn-primary add-service-product-shipment" title="{% trans 'Atribuir serviços' %}" href="javascript:void(0);" data-shipment-product-id="{{product.id}}" data-shipment-product-uid="{{product.uid}}"><i class="fa fa-fw fa-cogs"></i></a>
                      <input type="hidden" name="services{{product.id}}" id="services{{product.id}}" class="required-validate services-validation" value="{% if product|has_product_service %}1{% endif %}" />
                  {% elif shipment.status > 1 %}
                      <a class="btn btn-primary add-service-product-shipment" title="{% trans 'Visualizar serviços' %}" href="javascript:void(0);" data-shipment-product-id="{{product.id}}" data-shipment-product-uid="{{product.uid}}"><i class="fa fa-fw fa-cogs"></i></a>
                  {% endif %}
                  </td>
                  {% endif %}

                  {% if shipment.status < 5 and user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_archived is False and shipment.is_canceled is False and shipment.collaborator_id|check_collaborator:user %}
                  {% trans "Excluir" as delete %}
                  <td>
                      <a class="btn btn-danger delete-product-shipment" title="{{ delete }} {{ product.product.name }}" href="#" data-delete-product-shipment-id="{{ shipment.id }}" data-delete-product-product-id="{{ product.id }}"><i class="fa fa-fw fa-times-circle"></i></a>
                  </td>
                  {% endif %}

                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% if user|has_user_perm:'view_users' or user|has_store_perm:'collaborator' %}
          <!-- Bloco Informacoes do usuario -->

          <div class="row">
            <div class="col-md-12">
                <h4><i class="fa fa-fw fa-user"></i> {% trans "Informações do usuário" %}</h4><br>
            </div>
            <div class="col-md-6">
                 <label>{% trans "ID" %}: </label> {{ shipment.user.id }} <br>
                 <label>{% trans "Nome" %}: </label> {{ shipment.user.first_name }} {{ shipment.user.last_name }}<br>
                 <label>{% trans "Email" %}: </label> {{ shipment.user.email }}<br>
                 <label>{% trans "Nome loja Amazon"%}: </label> Nome da loja<br>
                <br> <p><a href="{%url 'admin:myauth_myuser_change' shipment.user.id %}" class="btn btn-default"><i class="fas fa-external-link-square-alt"></i> {% trans "Acessar cadastro do usuário" %}</a></p>
            </div>
              <div class="col-md-6">
                  <h4><i class="fa fa-fw fa-info-circle"></i>Observação:</h4>
                  <p>texto da observação</p><br><br>
              </div>
          </div>

          <!-- fim bloco informacoes do usuario -->
          {% endif %}
          {% block warehouses %}{% endblock %}
          <hr />
{% comment %}<!-- FORM GERAL ABRIR -->{% endcomment %}

          <div class="row">
            <div class="{% block info_values %}{% endblock %}">
                <label><i class="fas fa-chart-bar"></i> {% trans "Valores" %}:</label><br><br>
                <p><strong><i class="fa fa-fw fa-list-ol"></i> {% trans "Total de Produtos" %}: </strong><span id="totalProducts">{{ shipment.total_products }}</span> </p>
{% comment %}
                <!-- Campo desconto visao usuario -->
                <p><strong><i class="fa fa-fw fa-minus-square"></i> {% trans "Desconto" %}: </strong> U$ <span id="DescCost">5,99</span></p>
{% endcomment %}

                <p class="{% if shipment_has_payment is False %}hide{% endif %}">
                    <strong><i class="fa fa-fw fa-money"></i> {% trans "Valor Total" %}: </strong> U$ <span id="totalCost">{{ shipment.cost|floatformat:2|localize }}</span>
                    {% if shipment.status == 1 %}
                    <span class="help help-tooltip help-icon" title="{% blocktrans %}Este valor poderá ser alterado após inclusão dos serviços necessários para o preparo.{% endblocktrans %}"></span>
                    {% endif %}
                </p>

                {% minimum_value_alert shipment %}

            </div>
            {% timezone_name LANGUAGE_CODE as mytz %}
            <div class="{% block info_created_date %}{% endblock %}">
                <p><strong><i class="fa fa-fw fa-calendar"></i> {% trans "Data de Criação" %}: </strong></p>
                <div class="form-group">
                    {% timezone mytz %}
                    {{ shipment.created_date|date:'SHORT_DATE_FORMAT' }}
                    {% endtimezone %}
                </div>
{% comment %}
                {% if user|has_group:'admins' %}
                <!-- Campo cadastro de desconto visao admin -->
                <br>
                <p><strong><i class="fa fa-fw fa-minus-square"></i> {% trans "Cadastro de Desconto" %}: </strong></p>
                <div class="form-group">
                    <input placeholder="{% trans 'Digite o valor de desconto' %}..." name="shipment_discount" class="form-control menor" id="shipment_discount" value="" aria-required="true" type="text">
                    <a href="#" class="btn btn-success"><i class="fa fa-fw fa-retweet"></i></a>
                </div>
                {% endif %}
{% endcomment %}
            </div>
            {% block info_pdf_1 %}{% endblock %}
           </div>
           <hr />
           {% trans "Peso" as weight %}
           {% trans "L" as length %}
           {% trans "W" as width %}
           {% trans "H" as height %}
           {% if shipment.status != 1 %}
           <div class="row">
          <!-- lista das informacoes dos pacotes. fiz duas linhas com os possiveis campos -->
             <div class="col-md-12">
                <h4><i class="fa fa-fw fa-archive"></i> {% trans "Informações dos pacote(s)" %}:</h4>
                  {% csrf_token %}
                  {% if shipment.status == 2 %}
                  <input type="hidden" name="add_package_file" value="1">
                  {% elif shipment.status > 3 and user|has_shipment_perm:'add_package' and shipment.collaborator_id|check_collaborator:user %}
                  <input type="hidden" name="add_package_tracking" value="1">
                  {% endif %}
                  {% if shipment.status <= 4 and user|has_shipment_perm:'add_package' and shipment.collaborator_id|check_collaborator:user %}
                    <input type="hidden" name="edit_package_warehouse" value="1">
                  {% endif %}
                 {% block add_info_2 %}{% endblock %}
                  {{ packages.management_form }}
                {% for package in packages %}
                    {{ package.id }}
                <div class="form-group pacote-infos">
                    <div class="col-md-12">
                        <hr>
                        <label class="titulo-pct"><span>{% trans "Pacote" %} {{ forloop.counter }}:</span></label>
                    </div>
                    {% block package_warehouse_2 %}{% endblock %}
                    <div class="{% block package_info_class %}{% endblock %}">
                        <label><i class="fa fa-fw fa-info-circle"></i> {% trans "Informações do pacote" %}:</label><br><br>
                        <p><strong>{{ weight }}:</strong> {{ package.weight.value|unlocalize }} {% unit_weight_display 1 abbreviate=True %} <br /> <strong>{% trans "Dimensões" %} - </strong> {{ length }}: {{ package.length.value|unlocalize }}{% unit_length_display 3 abbreviate=True %} x {{ width }}: {{ package.width.value|unlocalize }}{% unit_length_display 3 abbreviate=True %} x {{ height }}: {{ package.height.value|unlocalize }}{% unit_length_display 3 abbreviate=True %}</p>
                        {% if user|has_shipment_perm:'add_package' and shipment.collaborator_id|check_collaborator:user %}
                        <!-- info localizacao visao usuario -->
                        <p>
                            <strong>{{ package.pick_ticket.label }}: </strong>
                            {% if shipment.status < 5 %}
                            <input placeholder="{{ package.pick_ticket.label }}..." name="{{ package.pick_ticket.html_name }}" class="form-control" id="{{ package.pick_ticket.id_for_label }}" value="{% if package.pick_ticket.value %}{{ package.pick_ticket.value }}{% endif %}" aria-required="true" type="text">
                            {% else %}
                            {% if package.pick_ticket.value %}{{ package.pick_ticket.value }}{% endif %}
                            {% endif %}
                        </p>
                        {% endif %}
                        <input type="hidden" name="{{ package.weight.html_name }}" value="{{ package.weight.value|unlocalize }}">
                        <input type="hidden" name="{{ package.length.html_name }}" value="{{ package.length.value|unlocalize }}">
                        <input type="hidden" name="{{ package.width.html_name }}" value="{{ package.width.value|unlocalize }}">
                        <input type="hidden" name="{{ package.height.html_name }}" value="{{ package.height.value|unlocalize }}">
                    </div>
                    <div class="{% block package_label_class %}{% endblock %}">
                        <label><i class="fa fa-fw fa-file"></i> {{package.pdf_2.label}}:</label><br><br>
                        {% if shipment.status == 2 %}
                          {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                          {% if user == shipment.user or user|has_group:'admins' or shipment.collaborator_id|is_collaborator:user %}
                        <p>
                            {{ package.pdf_2 }}
                            {% for error in package.pdf_2.errors %}
                            <label id="{{ package.pdf_2.id_for_label }}-error" class="error" for="{{ package.pdf_2.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                        </p>
                          {% else %}
                        <p>{% trans "Upload não permitido" %}</p>
                          {% endif %}
                          {% else %}
                        <p>{% trans "Upload não permitido" %}</p>
                          {% endif %}
                        {% else %}
                        <div class="upload-pdf-edit">
                            <div class="link-download-pdf"><br>
                                <a href="{% url 'shipment_pdf_2' 'pdf_2' package.id.value %}" class="download" target="_blank">Download</a>
                                {% if shipment.status < 5  %}
                                {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                                <a href="javascript:void(0);" class="btn btn-warning edit-pdf"><i class="fa fa-fw fa-pencil-square-o"></i> {% trans "Alterar" %}</a>
                                {% endif %}
                                {% endif %}
                            </div>
                            {% if shipment.status < 5 %}
                            {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                            <div class="input-content-edit-pdf"><br>
                                {{ package.pdf_2 }}
                                <a href="javascript:void(0);" class="btn btn-default edit-pdf-undo"><i class="fa fa-fw fa-undo"></i></a>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>



                        {% endif %}
                    </div>
                    <div class="{% block package_tracking_class %}{% endblock %}">
                        <div class="form-group">
                            <label for="{{ package.shipment_tracking.id_for_label }}"><i class="fa fa-fw fa-file-pdf-o"></i> {{ package.shipment_tracking.label }}:</label><br><br>
                            <p>
                                {% if shipment.status > 3 and user|has_shipment_perm:'add_package' and shipment.collaborator_id|check_collaborator:user %}
                                {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                                <input type="text" name="{{ package.shipment_tracking.html_name }}" class="form-control" id="{{ package.shipment_tracking.id_for_label }}" value="{% if package.shipment_tracking.value %}{{ package.shipment_tracking.value }}{% endif %}" />
                                {% for error in package.shipment_tracking.errors %}
                                <label id="{{ package.shipment_tracking.id_for_label }}-error" class="error" for="{{ package.shipment_tracking.id_for_label }}">{{ error|escape }}</label>
                                {% endfor %}
                                {% endif %}
                                {% elif shipment.status == 5 and shipment.shipment != '' %}
                                {% if not user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                                {% if package.shipment_tracking.value %}{{ package.shipment_tracking.value }}{% endif %}
                                {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}

                {% endif %}
                {% endfor %}
             </div>
          <!-- fim lista pacotes -->
           </div>
           <br>
           <hr />
           {% endif %}
           <div class="row">
               <h4><i class="fa fa-fw fa-step-forward"></i> {% trans "Status" %}: </h4> {% trans "Acompanhe abaixo o status do envio" %}:<br><br><br>

               <div class="progress">
                  <div class="progress-bar progress-bar-success {% status_bar shipment shipment_has_payment=shipment_has_payment %}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  </div>
               </div>

               <div class="col-md-12 itens-progress">
                   <div class="col-md-3 center">
                        <label>
                            <i class="fa fa-2x fa-fw fa-plus-square"></i><br>{% trans "Preparando para Envio" %}
                            {% if shipment.status == 1 %}
                             <br>
                             {% etc shipment.created_date estimate='preparation' as etc_preparation %}
                             {% if etc_preparation %}
                              {% timezone mytz %}
                              <span class="previsao">({% trans "Previsão: Até" %} {{ etc_preparation|date:'SHORT_DATE_FORMAT' }} {% trans "inclusive" %})</span>
                              {% endtimezone %}
                             {% endif %}
                             {% if shipment.is_standby%}
                              <br>
                              <span class="previsao">({% trans "Aguardando resposta do usuário" %})</span>
                             {% endif %}
                            {% endif %}
                        </label>
                   </div>
                   <div class="col-md-3 center">
                        <label>
                            <i class="fas fa-2x fa-upload"></i><br>{% trans "Upload Etiqueta Caixa Autorizado" %}
                            {% if shipment.status == 2 %}
                             {% if shipment.is_standby%}
                              <br>
                              <span class="previsao">({% trans "Aguardando resposta do usuário" %})</span>
                             {% endif %}
                            {% endif %}
                        </label>
                   </div>
                   {% if shipment_has_payment %}
                   <div class="col-md-3 center">
                        <label>
                            <i class="fa fa-2x fa-shopping-cart"></i><br>{% trans "Pagamento Autorizado" %}
                            {% if shipment.status == 3 %}
                             {% if shipment.is_standby%}
                              <br>
                              <span class="previsao">({% trans "Aguardando resposta do usuário" %})</span>
                             {% endif %}
                            {% endif %}
                        </label>
                   </div>
                   {% endif %}
                   <div class="col-md-{{ shipment_has_payment|get_column_size:4 }} center">
                        <label>
                            <i class="fa fa-2x fa-list-alt"></i><br>{% trans "Checagens Finais" %}
                            {% if shipment.status == 4 %}
                             <br>
                             {% etc shipment.payment_date estimate='shipment' as etc_shipment %}
                             {% if etc_shipment %}
                              {% timezone mytz %}
                               <span class="previsao">({% trans "Previsão: Até" %} {{ etc_shipment|date:'SHORT_DATE_FORMAT' }} {% trans "inclusive" %})</span>
                              {% endtimezone %}
                             {% endif %}
                             {% if shipment.is_standby%}
                              <br>
                              <span class="previsao">({% trans "Aguardando resposta do usuário" %})</span>
                             {% endif %}
                            {% endif %}
                        </label>
                   </div>
                   <div class="col-md-1 item-progress last">
                        <label><i class="fa fa-2x fa-thumbs-up"></i><br>{% trans "Enviado" %}</label>
                   </div>
               </div>
           </div><hr />
           {% if shipment.status == 1 and user|has_shipment_perm:'add_package' and shipment.collaborator_id|check_collaborator:user %}
              {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
           <div class="row">
               <h4><i class="fa fa-fw fa-line-chart"></i> {% trans "Área Administrativa" %}</h4><br>
               {% csrf_token %}
               <input type="hidden" name="add_shipment_package" value="1">
               {% block add_info %}{% endblock %}

               <div class="col-md-12 js-inline-admin-formset" id="{{ packages.prefix }}-group"
               data-inline-type="stacked"
               data-inline-formset="{{ packages.inline_formset_data }}">
                   {{ packages.management_form }}
                   <label>{% trans "Informações do(s) pacote(s)" %}:</label>
                    <div class="lista-pacotes-cadastro">
                   {% for package_form in packages %}
                     <div class="form-group pacote-infos pacote-infos-item inline-related {% if forloop.last and not forloop.first %} empty-form{% endif %}"
                         id="{{ packages.prefix }}-{% if not forloop.last or forloop.first %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                       {{ package_form.id }}
                       {{ package_form.shipment }}
                        <div class="col-md-2">
                            <label class="filtar-btn-m inline_label">{% trans "Pacote" %} #{{ forloop.counter }}: </label>
                        </div>

                        {% block package_warehouse %}{% endblock %}

                        <div class="col-md-1">
                            <input type="text" placeholder="{{ package_form.weight.label }}..." name="{{ package_form.weight.html_name }}" class="form-control required-number-validate" id="{{ package_form.weight.id_for_label }}" value="{% if package_form.weight.value %}{{ package_form.weight.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.weight.errors %}
                              <label id="{{ package_form.weight.id_for_label }}-error" class="error" for="{{ package_form.weight.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge">{% trans "em" %} {% unit_weight_display 1 %}</span>
                        </div>
                        <div class="col-md-1">
                            <input type="text" placeholder="{{ package_form.length.label }}..." name="{{ package_form.length.html_name }}" class="form-control required-number-validate" id="{{ package_form.length.id_for_label }}" value="{% if package_form.length.value %}{{ package_form.length.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.length.errors %}
                              <label id="{{ package_form.length.id_for_label }}-error" class="error" for="{{ package_form.length.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge profun">{% trans "em" %} {% unit_length_display 3 %}</span><br><br>
                        </div>
                        <div class="col-md-1">
                            <input type="text" placeholder="{{ package_form.width.label }}..." name="{{ package_form.width.html_name }}" class="form-control required-number-validate" id="{{ package_form.width.id_for_label }}" value="{% if package_form.width.value %}{{ package_form.width.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.width.errors %}
                              <label id="{{ package_form.width.id_for_label }}-error" class="error" for="{{ package_form.width.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge largura">{% trans "em" %} {% unit_length_display 3 %}</span>
                        </div>
                        <div class="col-md-1">
                            <input type="text" placeholder="{{ package_form.height.label }}..." name="{{ package_form.height.html_name }}" class="form-control required-number-validate" id="{{ package_form.height.id_for_label }}" value="{% if package_form.height.value %}{{ package_form.height.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.height.errors %}
                              <label id="{{ package_form.height.id_for_label }}-error" class="error" for="{{ package_form.height.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge altura">{% trans "em" %} {% unit_length_display 3 %}</span>
                        </div>
                        <!-- Campo localizacao adm -->
                        <div class="col-md-2">
                            <input placeholder="{{ package_form.pick_ticket.label }}..." name="{{ package_form.pick_ticket.html_name }}" class="form-control" id="{{ package_form.pick_ticket.id_for_label }}" value="{% if package_form.pick_ticket.value %}{{ package_form.pick_ticket.value }}{% endif %}" aria-required="true" type="text">
                            <span class="badge altura">{{ package_form.pick_ticket.label }}</span>
                        </div>
                        {% if forloop.first is False %}
                        <div class="col-md-1">
                            <a class="rem-track btn btn-danger rem-pacote-shipment inline-deletelink" title="{{ packages.deleteText }}" href="#"><i class="fa fa-fw fa-times"></i></a>
                        </div>
                        {% endif %}
                     </div>
                   {% endfor %}
                   {% if shipment.is_archived is False and shipment.is_canceled is False %}
                     <div class="col-md-12">
                         <a class="add-track btn btn-success add-pacote-shipment {{ packages.prefix }}-add-row add-row" title="{{ packages.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus"></i> {% trans "Adicionar Pacote ao Envio" %}</a>
                     </div>
                   {% endif %}
                    </div>
              </div>
           </div><hr />
              {% endif %}
           {% endif %}
          {% if shipment.status != 1 %}
          </form>
          {% endif %}
          {% if shipment.status == 1 and user|has_shipment_perm:'add_package' and shipment.collaborator_id|check_collaborator:user %}
          </form>
          {% endif %}
{% comment %}<!-- FORM GERAL FECHAR -->{% endcomment %}
           {% if shipment.status == 3 and shipment.is_archived is False and shipment.is_canceled is False %}
            {% if user == shipment.user or user|has_group:'admins' or shipment.collaborator_id|is_collaborator:user %}
             {% render_payment_button paypal_form shipment.id %}
             <br><br>
            {% endif %}
           {% endif %}
             <div class="row">
             {% if shipment.is_canceled is False %}
              {% if shipment.is_archived and shipment.status < 5 %}
                 <!-- Botao arquivar -->
                 <a class="btn btn-primary filtar-btn alterar-status" id="restore-btn" href="#">
                    <i class="fa fa-fw fa-edit"></i> {% trans "Reativar Envio" %}
                 </a>
              {% else %}
               {% if shipment.status == 4 and user|has_group:'admins' or shipment.status == 4 and shipment.collaborator_id|is_collaborator:user or request.session.impersonated is not None %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-final" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Enviar e Finalizar Envio" %}
                </a>
               {% endif %}
               {% if shipment.status == 0 or shipment.status == 1 %}
                 {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-1" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}
                </a>
                 {% endif %}
               {% endif %}
               {% if shipment.status == 2 %}
                {% if user == shipment.user or user|has_group:'admins' or user|has_shipment_perm:'add_package' %}
                 {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-3" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}
                </a>
                 {% endif %}
                {% endif %}
               {% endif %}
               {% if shipment.status == 5 and user|has_group:'admins' or shipment.status == 5 and shipment.collaborator_id|is_collaborator:user or shipment.status == 4 or shipment.status == 3 %}
                 {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-5" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}
                </a>
                 {% endif %}
               {% endif %}
               {% if user|has_group:'admins' or shipment.collaborator_id|is_collaborator:user %}
                {% if shipment.status > 0 and shipment.status < 4 %}
                <a class="btn btn-primary filtar-btn alterar-status" id="change-btn-status-forward" href="{% url 'shipment_status' shipment.id 'forward' %}">
                    <i class="fa fa-fw fa-forward"></i> {% trans "Pular etapa" %}
                </a>

                {% endif %}
                {% if shipment.status > 1 and shipment.status < 5 %}
                <a class="btn btn-primary filtar-btn alterar-status" id="change-btn-status-backward" href="{% url 'shipment_status' shipment.id 'backward' %}">
                    <i class="fa fa-fw fa-backward"></i> {% trans "Voltar etapa" %}
                </a>

                {% endif %}
               {% endif %}
               {% if user|has_group:'admins' or shipment.collaborator_id|is_collaborator:user %}
                 <form class="left" action="{% if shipment.is_standby%}{% url 'shipment_standby' shipment.id '1' %}{% else %}{% url 'shipment_standby' shipment.id '2' %}{% endif %}" method="post" id="form-standby-shipment">
                    {% csrf_token %}
                    <input type="hidden" name="standby_shipment" value="1">
                 </form>
               <!-- Botao stand by -->
               <a class="btn btn-primary filtar-btn alterar-status" id="standby-btn" href="#">
                <i class="fa fa-fw fa-phone"></i>
                {% if shipment.is_standby%}
                {% trans "Retirar de Stand by" %}
                {% else %}
                {% trans "Colocar em Stand by" %}
                {% endif %}
               </a>
               {% endif %}
               {% if shipment.status < 5 %}
                 {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                 <!-- Botao arquivar -->
                 <a class="btn btn-danger filtar-btn alterar-status" id="archive-btn" href="#">
                    <i class="fa fa-fw fa-archive"></i> {% trans "Arquivar Envio" %}
                 </a>
                 {% endif %}
               {% endif %}
              {% endif %}
              {% if shipment.status < 5 %}
                 <form class="left" action="{% if shipment.is_archived %}{% url 'shipment_archive' shipment.id '1' %}{% else %}{% url 'shipment_archive' shipment.id '2' %}{% endif %}" method="post" id="form-archive-shipment">
                    {% csrf_token %}
                    <input type="hidden" name="archive_shipment" value="1">
                 </form>
                 <!-- botao arquivar -->
                 {% if user|has_shipment_perm:'create_fba_shipment_admin' and shipment.is_fba_create is True or shipment.is_fba_create is False %}
                 <!-- Botao cancelar -->
                 <a class="btn btn-danger filtar-btn alterar-status" id="cancel-btn" href="#">
                    <i class="fas fa-trash-alt"></i> {% trans "Cancelar Envio" %}
                 </a>
                 {% endif %}
                 <br><br>
              {% endif %}
             {% endif %}
                <a href="javascript:history.back()"><i class="fas fa-arrow-left"></i> {% trans "Voltar" %}</a>
                <br><br><br><br>
             </div>
          </div>
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    {% if shipment.status == 4 and user|has_group:'admins' or shipment.status == 4 and shipment.collaborator_id|is_collaborator:user %}
    <div id="send-shipment-confirmation" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Confirmação" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Confirma a conclusão do processo de envio?" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="send-btn-final-confirmation" class="btn btn-danger"><i class="fa fa-fw fa-check"></i> {% trans "Sim" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> {% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if shipment.is_canceled is False %}
     <form action="{% url 'shipment_cancel' shipment.id %}" method="post" id="form-cancel-shipment">
        {% csrf_token %}
        <input type="hidden" name="cancel_shipment" value="1">
        <div id="confirmacao-exclusao" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans "Cancelar" %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans "Confirma o cancelamento deste envio?" %}</p>
                        <p>{% trans "Esta ação não poderá ser desfeita." %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> {% trans "Sim" %}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> {% trans "Fechar" %}</button>
                    </div>
                </div>
            </div>
        </div>
     </form>
    {% endif %}
    {% if shipment.status == 1 and user|has_shipment_perm:'add_productservice' and shipment.collaborator_id|check_collaborator:user %}
    <form>
    <input type="hidden" name="service_product_id" value="">
    <input type="hidden" name="shipment_product_uid" value="">
    {% endif %}
    <div id="add-service-product" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Composição do preço de redirecionamento" %}</h4>
                </div>
                <div class="modal-body">
                    {% for service in services%}
                    <div class="checkbox">
                        {% if shipment.status == 1 and user|has_shipment_perm:'add_productservice' and shipment.collaborator_id|check_collaborator:user %}
                        <label><input type="checkbox" name="service" value="{{ service.id }}"> {{ service.name }}</label>
                        <input type="text" name="price{{ service.id }}" value="{{service.price|unlocalize}}">
                        {% else %}
                        <span id="service_{{ service.id }}">
                        <label>{{ service.name }}</label>
                        - ${{service.price|unlocalize}}
                        </span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {% if shipment.status == 1 and user|has_shipment_perm:'add_productservice' and shipment.collaborator_id|check_collaborator:user %}
                    <button type="button" id="send-btn-add-service-product" class="btn btn-info">{% trans "Salvar" %}</button>
                    {% endif %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% if shipment.status == 1 and user|has_shipment_perm:'add_productservice' and shipment.collaborator_id|check_collaborator:user %}
    </form>
    {% endif %}
{% endblock %}
