{% extends 'includes/layout.html' %}

{% block conteudo %}

<div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-cart-arrow-down"></i> Nome do produto/lote</h1>
          <div class="row">
              <div class="col-md-4">
                  <p><strong>Situação: </strong> Vendido</p>
                  <p><strong>Data venda: </strong> 03/04/2017</p>
                  <p><strong>Valor dos Produtos: </strong> U$ 147,89</p>
                  <p><strong>Lucro: </strong> U$ 87,00</p>
              </div>
              <div class="col-md-4">
                  <p><strong>ROI médio: </strong> 58,30%</p>
                  <p><strong>Redirecionamento: </strong> U$ 14,90</p>
                  <p><strong>Total a pagar: </strong> U$ 162,08</p>
              </div>
              <div class="col-md-4">
                  <!-- Aparece apenas para usuarios comuns -->
                    <br><br>
                    <a class="btn btn-default" href="#"><i class="fa fa-fw fa-paypal"></i> Comprar Agora</a>
                  <!-- fim botao compra -->
              </div>
          </div>
          <div class="row">
              <br><h3><i class="fa fa-list-ol"></i> Produto(s)</h3><br><br>
          </div>
          <div class="row lista itens">
              <div class="col-md-4 item">
                  <div class="col-md-12">
                      <p class="nome"><strong>Nome:</strong><br> my Charge - Transit Plus 3000 mAh Power Bank</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>UPC / CODIGO IDENTIFICADOR:</strong><br> 847843002842</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Compra:</strong><br> U$ 11,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Quantidade:</strong><br> 6</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Venda:</strong><br> U$ 26,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>FBA Fee:</strong><br> U$ 6,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Amazon Fee:</strong><br> U$ 0,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Redirecionamento:</strong><br> U$ 1,29</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>Envio para Amazon:</strong><br> U$ 6,99</p>
                  </div>

                  <div class="col-md-12">
                      <p><strong>Lucro liquido por unidade:</strong><br> U$ 4,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Lucro total:</strong><br> U$ 24,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>ROI (%):</strong><br> 41</p>
                  </div>
              </div>
              <div class="col-md-4 item">
                  <div class="col-md-12">
                      <p class="nome"><strong>Nome:</strong><br> LEE Capri Preto</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>UPC / CODIGO IDENTIFICADOR:</strong><br> 847843002842</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Compra:</strong><br> U$ 11,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Quantidade:</strong><br> 6</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Venda:</strong><br> U$ 26,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>FBA Fee:</strong><br> U$ 6,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Amazon Fee:</strong><br> U$ 0,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Redirecionamento:</strong><br> U$ 1,29</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>Envio para Amazon:</strong><br> U$ 6,99</p>
                  </div>

                  <div class="col-md-12">
                      <p><strong>Lucro liquido por unidade:</strong><br> U$ 4,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Lucro total:</strong><br> U$ 24,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>ROI (%):</strong><br> 41</p>
                  </div>
              </div>
              <div class="col-md-4 item">
                  <div class="col-md-12">
                      <p class="nome"><strong>Nome:</strong><br> Calça Jeans LEE</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>UPC / CODIGO IDENTIFICADOR:</strong><br> 847843002842</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Compra:</strong><br> U$ 11,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Quantidade:</strong><br> 6</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Venda:</strong><br> U$ 26,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>FBA Fee:</strong><br> U$ 6,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Amazon Fee:</strong><br> U$ 0,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Redirecionamento:</strong><br> U$ 1,29</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>Envio para Amazon:</strong><br> U$ 6,99</p>
                  </div>

                  <div class="col-md-12">
                      <p><strong>Lucro liquido por unidade:</strong><br> U$ 4,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Lucro total:</strong><br> U$ 24,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>ROI (%):</strong><br> 41</p>
                  </div>
              </div>
              <div class="col-md-4 item">
                  <div class="col-md-12">
                      <p class="nome"><strong>Nome:</strong><br> Sutian Maidenform</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>UPC / CODIGO IDENTIFICADOR:</strong><br> 847843002842</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Compra:</strong><br> U$ 11,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Quantidade:</strong><br> 6</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Valor Venda:</strong><br> U$ 26,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>FBA Fee:</strong><br> U$ 6,18</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Amazon Fee:</strong><br> U$ 0,99</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Redirecionamento:</strong><br> U$ 1,29</p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>Envio para Amazon:</strong><br> U$ 6,99</p>
                  </div>

                  <div class="col-md-12">
                      <p><strong>Lucro liquido por unidade:</strong><br> U$ 4,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>Lucro total:</strong><br> U$ 24,29</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>ROI (%):</strong><br> 41</p>
                  </div>
              </div>
          </div>
            <!-- Aparece apenas para usuarios comuns -->
            <br><br>

            <a class="btn btn-default" href="#"><i class="fa fa-fw fa-paypal"></i> Comprar Agora</a>

            <!-- fim botao compra -->

            <br><br>
            <a href="cadastro_produto.html" class="btn btn-primary"><i class="fa fa-fw fa-pencil"></i> Editar</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i> Excluir</a><br><br>
            <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> Voltar</a>
            <br><br><br>
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>

{% endblock %}