{% extends 'includes/layout.html' %}

{% block listaprodutos %}active{% endblock %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> Estoque</h1>
          <div class="row">
              <div class="filtros col-md-12">
                <h3><i class="fa fa-filter"></i> Filtros</h3>  <br>
                <div class="form-group col-md-2">
                    <label for="filtro-id">Id</label>
                    <input type="text" class="form-control" id="filtro-id" placeholder="Id...">
                </div>
                <div class="form-group col-md-3">
                    <label for="filtro-nome">Nome</label>
                    <input type="text" class="form-control" id="filtro-nome" placeholder="Nome...">
                </div>

                <!-- somente o admin visualiza esse filtro -->
                <div class="form-group col-md-2">
                    <label for="filtro-Track">Usuário</label>
                    <input type="text" class="form-control" id="filtro-Track" placeholder="Usuário...">
                </div>
                <!-- fim filtro usuario-->

                <div class="form-group col-md-2">
                    <label for="Status">Status</label>
                    <select class="form-control" id="Status">
                      <option>Status</option>
                      <option>Enviado</option>
                      <option>Em Estoque</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <a class="btn btn-primary filtar-btn" id="filtro"><i class="fa fa-fw fa-filter"></i> Filtrar</a>
                </div>
              </div>
          </div><br><br>
          <div class="table-responsive">
            <a class="btn btn-default" href="/produtos/cadastro-produto/"><i class="fa fa-fw fa-plus-square"></i> Adicionar Produto</a>
            <a class="btn btn-default" href="/shipments/cadastro_shipment.html"><i class="fa fa-paper-plane"></i> Enviar para shipment</a><br><br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Data Envio</th>
                  <th class="center">Quantidade</th>

                  <!-- somente admin visualiza -->

                  <th class="center">Usuário</th>

                  <!-- fim campo -->

                  <th>Status</th>
                  <th class="center">Shipment</th>
                  <th class="center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1024</td>
                  <td>Chinelo Calvin Klein</td>
                  <td>09/03/2017</td>
                  <td class="center">18</td>

                  <!-- somente admin visualiza -->

                  <td class="center">Fabionm</td>

                  <!-- fim campo -->

                  <td>
                      <!-- somente admin visualiza o botao de editar status-->

                      <a id="mudar-status-102411" class="mudar-status btn btn-default" href="javascript:void(0);">
                          <i class="fa fa-pencil"></i>
                      </a>

                      <!-- fim botao -->

                      Enviado

                      <!-- somente admin visualiza -->

                      <div class="contem-status" style="display:none;">
                       <div class="status" id="status-102411">
                        <p><i class="fa fa-pencil"></i> Alterar Status:</p>
                        <label><input type="radio" checked="checked" name="nao-confirmado" id="nao-confirmado-102411" /> Enviado</label><br>
                        <label><input type="radio" name="confirmado" id="confirmado-102411" /> Em Estoque</label><br>
                        <a class="btn btn-primary alterar-status" href="javascript:void(0);"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger fechar" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                       </div>
                      </div>

                      <!-- fim box -->

                  </td>
                  <td class="center"><input type="checkbox" name="shipment-1024" id="shipment-1024" /></td>
                  <td class="center"><a class=" download" href="/produtos/detalhe"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
                <tr>
                  <td>1025</td>
                  <td>Perfume Versace</td>
                  <td>28/02/2017</td>
                  <td class="center">7</td>

                  <!-- somente admin visualiza -->

                  <td class="center">Roberto80</td>

                  <!-- fim campo -->

                  <td>
                      <!-- somente admin visualiza o botao de editar status-->

                      <a id="mudar-status-1024110" class="mudar-status btn btn-default" href="javascript:void(0);">
                          <i class="fa fa-pencil"></i>
                      </a>

                      <!-- fim botao -->

                      Em estoque

                      <!-- somente admin visualiza -->

                      <div class="contem-status" style="display:none;">
                       <div class="status" id="status-1024110">
                        <p><i class="fa fa-pencil"></i> Alterar Status:</p>
                        <label><input type="radio" checked="checked" name="nao-confirmado" id="nao-confirmado-1024110" /> Enviado</label><br>
                        <label><input type="radio" name="confirmado" id="confirmado-1024110" /> Em Estoque</label><br>
                        <a class="btn btn-primary alterar-status" href="javascript:void(0);"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger fechar" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                       </div>
                      </div>

                      <!-- fim box -->

                  </td>
                  <td class="center"><input type="checkbox" name="shipment-102422" id="shipment-102422" /></td>
                  <td class="center"><a class=" download" href="/produtos/detalhe"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
                <tr>
                  <td>1026</td>
                  <td>Camisa Armani</td>
                  <td>20/02/2017</td>
                  <td class="center">13</td>

                  <!-- somente admin visualiza -->

                  <td class="center">Guly</td>

                  <!-- fim campo -->

                  <td>
                    <!-- somente admin visualiza o botao de editar status-->

                      <a id="mudar-status-1024114" class="mudar-status btn btn-default" href="javascript:void(0);">
                          <i class="fa fa-pencil"></i>
                      </a>

                      <!-- fim botao -->

                      Em estoque

                      <!-- somente admin visualiza -->

                      <div class="contem-status" style="display:none;">
                       <div class="status" id="status-1024114">
                        <p><i class="fa fa-pencil"></i> Alterar Status:</p>
                        <label><input type="radio" checked="checked" name="nao-confirmado" id="nao-confirmado-1024114" /> Enviado</label><br>
                        <label><input type="radio" name="confirmado" id="confirmado-1024114" /> Em Estoque</label><br>
                        <a class="btn btn-primary alterar-status" href="javascript:void(0);"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger fechar" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                       </div>
                      </div>

                      <!-- fim box -->
                  </td>
                  <td class="center"><input type="checkbox" name="shipment-10245" id="shipment-10245" /></td>
                  <td class="center"><a class=" download" href="/produtos/detalhe"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>

              </tbody>
            </table>
          </div>
          <nav aria-label="...">
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=""><a href="#">2</a></li>
                <li class=""><a href="#">3</a></li>
                <li class=""><a href="#">4</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>

{% endblock %}