{% extends 'includes/layout.html' %}
{% load i18n %}
{% block comoFunciona %}active{% endblock %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header center">Uma solução completa desde a compra de produtos até o envio para Amazon</h1>
          <div class="row">
            <iframe class="youtube-iframe" src="https://www.youtube.com/embed/gyJW_KUdEq8?autoplay=1&controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
           <br /><br /><br />
           <h3 class="page-header">Veja abaixo um comparativo com os serviços mais utilizados para busca de produtos</h3>
           <div class="col-md-4">
            <div class="box-comparativo-valor">
                <div class="box-valor">
                    <p class="seja center">My Amazon Partner</p>
                    <p class="assinate-span"><span>U$ 74,90</span>/mês</p>
                    <small>*Sem adesão. Cancele a qualquer momento.</small>
                    <ul>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>Disponibiliza produtos qualificados e lucrativos</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>Venda de produtos</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>Compra com Paypal</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>Envio para Amazon até 3 dias após a compra</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>Redirecionamento Grátis</span></li>
                    </ul>

                    <div class="contem-btn-ass">
                         <a class="btn btn-primary" href="{% url 'user_registration' %}"><i class="fa fa-fw fa-user-plus"></i> {% trans "Cadastre-se" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-comparativo-valor">
                <div class="box-valor">
                    <p class="seja center">Tatical Arbitrage</p>
                    <p class="assinate-span"><span>U$ 100,00</span>/mês</p>
                    <small>*Há similares com custo relativo.</small>
                    <ul class="opacit-text">
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>Disponibiliza produtos qualificados e lucrativos</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Venda de produtos</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Compra com Paypal</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Envio para Amazon até 3 dias após a compra</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Redirecionamento Grátis</span></li>
                    </ul>
                    <div class="contem-btn-ass">
                        <a class="btn btn-default no-service" href="javascript:void(0)">Não oferecemos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-comparativo-valor">
                <div class="box-valor">
                    <p class="seja center">Bolo List</p>
                    <p class="assinate-span"><span>U$ 35,00</span>/mês</p>
                    <small>*Valor médio de R$ 120,00.<br></small>
                    <ul class="opacit-text">
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>Disponibiliza produtos qualificados e lucrativos</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Venda de produtos</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Compra com Paypal</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Envio para Amazon até 3 dias após a compra</span></li>
                        <li><i class="fa fa-fw fa-times-circle-o"></i> <span>Redirecionamento Grátis</span></li>
                    </ul>
                    <div class="contem-btn-ass">
                        <a class="btn btn-default no-service" href="javascript:void(0)">Não oferecemos</a>
                    </div>
                </div>
            </div>
        </div>

           <div class="col-md-12 box-comparativo">
                <h3 class="page-header">Veja abaixo um comparativo real de taxas pagas para compra de produtos</h3>
                  <label>Considerando uma compra no valor de $500,00 USD em produtos sendo 25 itens.</label>
                <div class="table-responsive">
            <br>

            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>

                      <i class="fa fa-fw fa-credit-card"></i> Taxas
                  </th>
                  <th class="center">
                      Meios tradicionais
                  </th>
                  <th class="center">

                      My Amazon Partner
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr>
              		<td>IOF Produtos</td>
              		<td class="center">6% - $30,00</td>
              		<td class="center">6% - $30,00</td>
                </tr>
                <tr>
              		<td>Redirecionamento</td>
              		<td class="center">$1,29/item - $32,25</td>
              		<td class="center">Grátis - $0,00</td>
                </tr>
                 <tr>
              		<td>IOF pagamento do Redirecionamento</td>
              		<td class="center">6% - $1,94</td>
              		<td class="center">Grátis - $0,00</td>
                </tr>
                 <tr>
              		<td>Compra assistida</td>
              		<td class="center">5% - $25,00</td>
              		<td class="center">0% - $0,00</td>
                </tr>
                 <tr>
              		<td>Sales TAX</td>
              		<td class="center">7% - $35,00</td>
              		<td class="center">0% - $0,00</td>
                </tr>
                 <tr>
              		<td>Valor Total Gasto com taxas</td>
                     <td class="center"><strong>$129,19</strong></td>
                     <td class="center"><strong>$30,00</strong></td>
                </tr>
                 <tr>
              		<td>Tempo desde a compra até o produto ser enviado para Amazon</td>
                     <td class="center"><strong>Em média 10 dias</strong></td>
                     <td class="center"><strong>Em até 3 dias</strong></td>
                </tr>
              </tbody>
            </table><!--
            <p>Torne-se um assinante My Amazon Partner e desfrute das inúmeras vantagens que o nosso serviço oferece.</p>
            <a class="btn btn-primary" href="{% url 'user_registration' %}"><i class="fa fa-fw fa-user-plus"></i> Seja Assinante</a>--><br><br>
          </div>
        </div>


        <div class="col-md-12"><br /><br /><br />
            <h3 class="page-header">Abaixo um passo-a-passo de como funciona nosso serviço</h3>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img alt="Cadsatre-se" class="img-circle img-responsive" src="../../static/img/about/1.jpeg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">

                            <h4 class="subheading">Primeiro cadastre-se para que possa entrar em nossa fila de espera de assinantes. </h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted"><a href="{% url 'user_registration' %}" class="download">Clique aqui</a> e cadastre-se. Não perca tempo, o quanto antes você se cadastrar, mais rápido poderá se tornar assinante! </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img alt="Insira seus produtos" class="img-circle img-responsive" src="../../static/img/email-to.jpeg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Assim que sua vaga for disponibilizada, você receberá um email para a realização da assinatura.</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Fique atento! Você terá 24 horas para realizar a assinatura, caso contrário, sua vaga será transferida para o próximo da fila e você terá que realizar um novo cadastro.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="../../static/img/about/2.jpeg" alt="Comprar lotes">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Compre quantos lotes quiser com poucos cliques!</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Como assinante, você poderá realizar a compra dos lotes disponíveis na plataforma. Assim que a compra for aprovada, todos os produtos entram instantaneamente em seu estoque na plataforma.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="../../static/img/redirect-free.jpeg" alt="Redirect gratis">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Redirecionamento Grátis para a Amazon.</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Assim que os produtos do lote entrarem em seu estoque, você terá que concluir todo o processo de redirecionamento, pela própria plataforma, em até 3 dias.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="../../static/img/envio.jpeg" alt="Envio">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Pronto! Seus produtos a caminho da Amazon!</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Nossa equipe fará todo o preparo dos seus produtos e enviará para a Amazon em até 3 dias de forma <strong>TOTALMENTE GRATUITA!</strong></p>
                        </div>
                    </div>
                </li>
            </ul>
      </div>
        </div>
      </div>
    </div>

{% endblock %}
