{% extends 'includes/layout.html' %}

{% block usuarios %}active{% endblock %}

{% block conteudo %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-users"></i> Lista de usuários</h1>
          <div class="row">
              <div class="filtros col-md-12">
                <h3><i class="fa fa-filter"></i> Filtros</h3> <br>
                <div class="form-group col-md-2">
                    <label for="filtro-id">Id</label>
                    <input type="text" class="form-control" id="filtro-id" placeholder="Id...">
                </div>
                <div class="form-group col-md-3">
                    <label for="filtro-nome">Usuário</label>
                    <input type="text" class="form-control" id="filtro-nome" placeholder="Usuário...">
                </div>
                <div class="form-group col-md-4">
                    <label for="filtro-email">Email</label>
                    <input type="text" class="form-control" id="filtro-email" placeholder="Email...">
                </div>
                <div class="form-group col-md-3">
                    <a class="btn btn-primary filtar-btn" id="filtro"><i class="fa fa-fw fa-filter"></i> Filtrar</a>
                </div>
              </div>
          </div><br><br>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Usuário</th>
                  <th>Estado</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1024</td>
                  <td>Fabionm</td>
                  <td>Rio de Janeiro</td>
                  <td><a class="download" href="mailto:fabio.n.m.h@gmail.com">fabio.n.m.h@gmail.com</a></td>
                  <td>Aguardando Aprovação</td>
                  <td><a class="download" href="detalhe_usuario.html"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
                <tr>
                  <td>1025</td>
                  <td>Roberto.80</td>
                  <td>Rio Grande do Sul</td>
                  <td><a class="download" href="mailto:fabio.n.m.h@gmail.com">80.pereira@gmail.com</a></td>
                  <td>Ativo</td>
                  <td><a class="download" href="detalhe_usuario.html"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
                <tr>
                  <td>1023</td>
                  <td>Guly</td>
                  <td>São Paulo</td>
                  <td><a class="download" href="mailto:fabio.n.m.h@gmail.com">guly@gmail.com</a></td>
                  <td>Bloqueado</td>
                  <td><a class="download" href="detalhe_usuario.html"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="...">
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=""><a href="#">2</a></li>
                <li class=""><a href="#">3</a></li>
                <li class=""><a href="#">4</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>
{% endblock %}
