{% extends 'includes/layout.html' %}

{% block lotes-u %}active{% endblock %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-shopping-bag"></i> Loja</h1>
          <div class="row">
              <div class="filtros col-md-12">
                <h3><i class="fa fa-filter"></i> Filtros</h3>  <br>
                <div class="form-group col-md-3">
                    <label for="filtro-nome">Nome</label>
                    <input type="text" class="form-control" id="filtro-nome" placeholder="Nome...">
                </div>
                <div class="form-group col-md-3">
                    <a class="btn btn-primary filtar-btn" id="filtro"><i class="fa fa-fw fa-filter"></i> Filtrar</a>
                </div>
              </div>
          </div><br>
          <div class="row">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="text-center border-bottom titulo-lote"><i class="fa fa-cart-arrow-down"></i><br> Lote 4</h3>
                        <p><strong>Lucro: </strong> U$ 83,27</p>
                        <p><strong>ROI médio: </strong> 53,30%</p>
                        <p><strong>Valor a pagar: </strong> U$ 162,89</p>
                        <p class="text-center border-top btn-comprar-list">
                            <a href="/lote/detalhe" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Comprar</a>
                        </p>
                    </div>
                </div>
            </div>
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="text-center border-bottom titulo-lote"><i class="fa fa-cart-arrow-down"></i><br> Lote 3</h3>
                        <p><strong>Lucro: </strong> U$ 83,27</p>
                        <p><strong>ROI médio: </strong> 53,30%</p>
                        <p><strong>Valor a pagar: </strong> U$ 162,89</p>
                        <p class="text-center border-top btn-comprar-list">
                            <a href="/lote/detalhe" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Comprar</a>
                        </p>
                    </div>
                </div>
            </div>
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="text-center border-bottom titulo-lote"><i class="fa fa-cart-arrow-down"></i><br> Lote 2</h3>
                        <p><strong>Lucro: </strong> U$ 83,27</p>
                        <p><strong>ROI médio: </strong> 53,30%</p>
                        <p><strong>Valor a pagar: </strong> U$ 162,89</p>
                        <p class="text-center border-top btn-comprar-list">
                            <a href="/lote/detalhe" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Comprar</a>
                        </p>
                    </div>
                </div>
            </div>
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="text-center border-bottom titulo-lote"><i class="fa fa-cart-arrow-down"></i><br> Lote 1</h3>
                        <p><strong>Lucro: </strong> U$ 83,27</p>
                        <p><strong>ROI médio: </strong> 53,30%</p>
                        <p><strong>Valor a pagar: </strong> U$ 162,89</p>
                        <p class="text-center border-top btn-comprar-list">
                            <a href="/lote/detalhe" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Comprar</a>
                        </p>
                    </div>
                </div>
            </div>
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="text-center border-bottom titulo-lote"><i class="fa fa-cart-arrow-down"></i><br> Lote 0</h3>
                        <p><strong>Lucro: </strong> U$ 83,27</p>
                        <p><strong>ROI médio: </strong> 53,30%</p>
                        <p><strong>Valor a pagar: </strong> U$ 162,89</p>
                        <p class="text-center border-top btn-comprar-list">
                            <a href="/lote/detalhe" class="btn btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Comprar</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
          <nav aria-label="...">
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=""><a href="#">2</a></li>
                <li class=""><a href="#">3</a></li>
                <li class=""><a href="#">4</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>

{% endblock %}