{% extends 'includes/layout.html' %}

{% block pagamentos %}active{% endblock %}

{% block conteudo %}

<div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-money"></i> Pagamentos</h1>
          <div class="row">
              <div class="filtros col-md-12">
                <h3><i class="fa fa-filter"></i> Filtros</h3>  <br>
                <div class="form-group col-md-2">
                    <label for="filtro-id">Id</label>
                    <input type="text" class="form-control" id="filtro-id" placeholder="Id...">
                </div>
                <div class="form-group col-md-3">
                    <label for="filtro-usuario">Usuário</label>
                    <input type="text" class="form-control" id="filtro-usuario" placeholder="Usuário...">
                </div>
                <div class="form-group col-md-3">
                    <label for="datepicker">Data do pagamento</label>
                    <input type="text" class="form-control" id="datepicker" placeholder="Data do pagamento...">
                </div>

                <div class="form-group col-md-3">
                    <a class="btn btn-primary filtar-btn" id="filtro"><i class="fa fa-fw fa-filter"></i> Filtrar</a>
                </div>
              </div>
          </div><br><br>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Usuário</th>
                  <th class="center">Data Pagamento</th>
                  <th class="center">Valor</th>
                  <th class="center">ID Shipment</th>
                  <th class="center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1024</td>
                  <td>Fabionm</td>
                  <td class="center">01/03/2017</td>
                  <td class="center">U$ 19.00</td>
                  <td class="center"><a class="download" href="/shipment/detalhe-shipment">1054</a></td>
                  <td class="center"><a class="download" href="/pagamento/detalhe-pagamento"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
                <tr>
                  <td>1993</td>
                  <td>Guly</td>
                  <td class="center">25/02/2017</td>
                  <td class="center">U$ 45.00</td>
                  <td class="center"><a class="download" href="/shipment/detalhe-shipment">9867</a></td>
                  <td class="center"><a class="download" href="/pagamento/detalhe-pagamento"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
                <tr>
                  <td>1020</td>
                  <td>ROberto.80</td>
                  <td class="center">20/02/2017</td>
                  <td class="center">U$ 45.00</td>
                  <td class="center"><a class="download" href="/shipment/detalhe-shipment">5656</a></td>
                  <td class="center"><a class="download" href="/pagamento/detalhe-pagamento"><i class="fa fa-pencil"></i> Visualizar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="...">
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=""><a href="#">2</a></li>
                <li class=""><a href="#">3</a></li>
                <li class=""><a href="#">4</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>

{% endblock %}
