{% extends 'includes/layout.html' %}

{% block addproduto %}active{% endblock %}

{% block conteudo %}

  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar">

        </div>
        <div class="col-md-6 main">
          <h1 class="page-header"><i class="fa fa-th"></i> Adicionar Lote</h1>
          <form>
              <div class="form-group col-md-12">
                <label for="nome">Nome*</label>
                <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Digite o nome...">
              </div><br>
              <div class="form-group col-md-12">
                    <label for="Descricao">Descrição</label>
                    <textarea class="form-control" id="Descricao" placeholder="Descrição do produto..."></textarea>
              </div><br>
              <div class="form-group col-md-6">
                    <label for="Valor">Valor dos Produtos*</label>
                    <input type="text" class="form-control" id="Valor" placeholder="valor...">
              </div><br>
              <div class="form-group col-md-6">
                    <label for="Lucro">Lucro*</label>
                    <input type="text" class="form-control" id="Lucro" placeholder="Digite Lucro...">
              </div><br>
              <div class="form-group col-md-6">
                    <label for="ROI">ROI Medio*</label>
                    <input type="text" class="form-control" id="ROI" placeholder="Digite ROI...">
              </div><br>
              <div class="form-group col-md-6">
                    <label for="Redirecionamento">Redirecionamento*</label>
                    <input type="text" class="form-control" id="Redirecionamento" placeholder="Digite Redirecionamento...">
              </div><br>
              <div class="form-group col-md-12">
                    <label for="total">Valor total a pagar*</label>
                    <input type="text" class="form-control menor" id="total" placeholder="Digite Valor total...">
              </div>
              <div class="col-md-12">
                <br><h4><i class="fa fa-list-ol"></i> Lista de Produtos do lote:</h4><br><br>
              </div>
              <div class="lista-produtos">
                <div class="produto">

                  <label class="titulo">Protuto <span class='num-produto'>1</span></label>
                  <div class="form-group col-md-12">
                        <label for="nome-produto-1">Nome Produto</label>
                        <input type="text" class="form-control" id="nome-produto-1" placeholder="Digite nome do Produto...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="UPC-1">UPC / Codigo identificador</label>
                        <input type="text" class="form-control" id="UPC-1" placeholder="Digite UPC...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="valor-compra-1">Valor compra</label>
                        <input type="text" class="form-control" id="valor-compra-1" placeholder="Digite Valor compra...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="Quantidade-1">Quantidade</label>
                        <input type="text" class="form-control" id="Quantidade-1" placeholder="Digite Quantidade...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="total-produto-1">Total a pagar do produto</label>
                        <input type="text" class="form-control" id="total-produto-1" placeholder="Digite Total a pagar...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="valor-venda-1">Valor venda</label>
                        <input type="text" class="form-control" id="valor-venda-1" placeholder="Digite valor venda...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="fba-1">FBA fee</label>
                        <input type="text" class="form-control" id="fba-1" placeholder="Digite FBA fee...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="Amazon-1">Amazon fee</label>
                        <input type="text" class="form-control" id="Amazon-1" placeholder="Digite Amazon fee...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="envio-1">Envio para Amazon</label>
                        <input type="text" class="form-control" id="envio-1" placeholder="Digite Envio...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="Redirecionamento-1">Redirecionamento</label>
                        <input type="text" class="form-control" id="Redirecionamento-1" placeholder="Digite Redirecionamento...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="lucro-unidade-1">Lucro liquido por unidade</label>
                        <input type="text" class="form-control" id="lucro-unidade-1" placeholder="Digite lucro por unidade...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="lucro-total-1">Lucro total</label>
                        <input type="text" class="form-control" id="lucro-total-1" placeholder="Digite Lucro total...">
                  </div><br>
                  <div class="form-group col-md-6">
                        <label for="roi-produto-1">ROI (%)</label>
                        <input type="text" class="form-control" id="roi-produto-1" placeholder="Digite ROI...">
                  </div>
                  <a class="rem-track btn btn-danger" data-toggle="tooltip" title="Remover produto" href="#"><i class="fa fa-fw fa-times"></i> Remover este produto do lote</a>
                </div>
             </div>
             <a class="add-pro btn btn-success" data-toggle="tooltip" title="Adicionar mais Produtos" href="javascript:void(0);"><i class="fa fa-fw fa-plus"></i> Adicionar Produto ao lote</a>
             <div class="form-group col-md-12"><br><br>
                  <a href="#" type="submit" class="btn btn-primary alterar-status">Salvar</a><br><br>
                  <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> Voltar</a><br><br><br>
              </div>
            </form>
        </div>
        <div class="col-md-3 sidebar">
        </div>
      </div>
    </div>

{% endblock %}
