{% extends 'includes/layout.html' %}
{% load i18n l10n shipments %}
{% block merchant_shipment_add %}active{% endblock %}

{% block specific_styles %}
<link href="/static/css/inlines.css" rel="stylesheet">
{% endblock %}

{% block specific_scripts %}
<script src="/static/externo/ckeditor/ckeditor.js"></script>
<script src="/static/js/specifics/shipment.js"></script>
{% endblock %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        {% if user|has_shipment_perm:'add_fbm_shipment' %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {% trans "Criar" %} {{ title }}</h1>
           {% if user|has_shipment_perm:'add_product' %}
           <div class="row">
            <div class="form-group">
                <div class="col-md-5">
                    <label>{% trans "Adicionar mais produtos a este envio" %}:</label>
                    {% trans "Digite o nome do Produto" as new_product %}
                    <input type="text" name="{{ product_formset.prefix }}-autocomplete" placeholder="{{ new_product }}..." class="form-control" id="{{ product_formset.prefix }}-autocomplete" />
                    <input type="hidden" name="{{ product_formset.prefix }}-autocomplete-selected" id="{{ product_formset.prefix }}-autocomplete-selected" />
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary filtar-btn {{ product_formset.prefix }}-add-row add-row" title="{{ product_formset.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus-square"></i> {{ product_formset.addText }}</a>
                </div>
            </div>
          </div>
          <br>
          {% endif %}
          <br>
        <form action="" method="post" id="form-save-merchant-shipment">
          {% csrf_token %}
            <input type="hidden" name="save_shipment" value="1">
            {{ shipment_formset.management_form }}
            {{ product_formset.management_form }}
            {{ warehouse_formset.management_form }}
          <div class="table-responsive">
            <table class="table table-striped js-inline-admin-formset" id="{{ product_formset.prefix }}-group"
               data-inline-type="stacked"
               data-inline-autocomplete="{% url 'product_autocomplete_fbm' %}"
               data-inline-formset="{{ product_formset.inline_formset_data }}">
              <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "ASIN" %}</th>
                  <th>{% trans "Nome" %}</th>
                  <th>{% trans "Descrição" %}</th>
                  <th>{% trans "Validade" %}</th>
                  <th class="center">{% trans "Quantidade" %}</th>
                  {% if user|has_shipment_perm:'delete_product' %}
                  <th>{% trans "Retirar" %}</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for product_form in product_formset %}
                <tr class="inline-related {% if forloop.last %}empty-form{% endif %}"
                  id="{{ product_formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                  {{ product_form.product|safe }}
                  <td class="center">
                      <input type="number" class="form-control menor-m quantity_validate required-number-validate" id="{{ product_form.quantity.id_for_label }}" name="{{ product_form.quantity.html_name }}" value="{% if product_form.quantity.value %}{{ product_form.quantity.value|unlocalize }}{% endif %}" />
                      {% for error in product_form.quantity.errors %}
                        <label id="{{ product_form.quantity.id_for_label }}-error" class="error" for="{{ product_form.quantity.id_for_label }}">{{ error|escape }}</label>
                      {% endfor %}
                      {{ product_form.id }}
                      {{ product_form.shipment }}
                  </td>
                  {% if user|has_shipment_perm:'delete_product' %}
                  <td>
                      {% if product_formset.can_delete %}
                      <a class="btn btn-danger inline-deletelink" title="{{ product_formset.deleteText }}" href="#"><i class="fa fa-fw fa-close"></i></a>
                      {% endif %}
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <input type="hidden" class="products_validate" id="products_validate" name="products_validate" value="{% if product_formset %}1{% endif %}" />
          </div> <hr />
          {% for shipment_form in shipment_formset %}
            {{ shipment_form.id }}
          <div class="row">
            <div class="col-md-12">
                <label for="{{ shipment_form.type.id_for_label }}"><i class="fa fa-fw fa-ship"></i> {% trans "Canal de venda" %}:</label><br><br>
                <fieldset id="{{ shipment_form.type.id_for_label }}">
                    <input type="radio" name="{{ shipment_form.type.html_name }}" value="1"> {% trans "Amazon" %}<br />
                    <input type="radio" name="{{ shipment_form.type.html_name }}" value="2"> {% trans "eBay" %}<br />
                    <input type="radio" name="{{ shipment_form.type.html_name }}" value="3" class="type_validate"> {% trans "Outro" %}
                </fieldset>
                {% for error in shipment_form.type.errors %}
                <label id="{{ shipment_form.type.id_for_label }}-error" class="error" for="{{ shipment_form.type.id_for_label }}">{{ error|escape }}</label>
                {% endfor %}
                <br><br>
            </div>
            <div class="col-md-12">
                <label><i class="fa fa-fw fa-bar-chart"></i> {% trans "Valores" %}:</label><br><br>
                <p><strong><i class="fa fa-fw fa-list-ol"></i> {% trans "Total de Produtos" %}: </strong><span id="totalProducts">-</span> </p>
            </div>
          </div>
          {% endfor %}
          <div class="row">
            <button class="btn btn-primary filtar-btn alterar-status" id="send-btn" type="submit"><i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}</button><br><br>
            <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br><br>
           </div>
        </form>
          </div>
          {% endif %}
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>

{% endblock %}
