{% extends 'includes/layout.html' %}

{% block comoFunciona %}active{% endblock %}

{% block conteudo %}
    <div class="banner-lote">
        <div class="">
            <h2><i class="fa fa-ban"></i><span class="text-gg">Chega</span> de problemas para encontrar produtos</h2>
            <h2><i class="fa fa-credit-card"></i><span class="text-gg">Chega</span> de problemas para pagar com seu cartão de crédito do Brasil</h2>
            <h2><img src="/static/img/sale-img.png" width="100%" /> </h2>
            <h2><i class="fa fa-line-chart"></i><span class="text-gg">Agora</span> preocupe-se apenas com o crescimento do seu negócio</h2>
            <h2><i class="fa fa-amazon"></i><span class="text-gg">Agora</span> com poucos cliques seus produtos já estarão no seu inventário Amazon</h2>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-2 sidebar">
            <div class="filtros">
                <label><i class="fa fa-filter"></i> Filtros</label>
                <div class="filtros-box">
                    <h6>Valor</h6>
                    <div class="form-group">
                        <label for="valor-500" id="valor-500">
                            <input type="checkbox" class="form-control" id="input-valor-500" name="input-valor-500" value="1" />
                            Até $ 500.00
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="valor-1000" id="valor-1000">
                            <input type="checkbox" class="form-control" id="input-valor-1000" name="input-valor-1000" value="1" />
                            De $500.00 até $ 1000.00
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="valor-acima" id="valor-acima">
                            <input type="checkbox" class="form-control" id="input-valor-acima" name="input-valor-acima" value="1" />
                            Acima de $ 1000.00
                        </label>
                     </div>
                </div>
                <div class="filtros-box">
                    <h6>Rank</h6>
                    <div class="form-group">
                        <label for="rank-1" id="rank-1">
                            <input type="checkbox" class="form-control" id="input-rank-1" name="input-rank-1" value="1" />
                            Até 1%
                        </label><br/>
                     </div>
                    <div class="form-group">
                        <label for="rank-3" id="rank-3">
                            <input type="checkbox" class="form-control" id="input-rank-3" name="inputrank-3" value="1" />
                            De 1% até 3%
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="rank-5" id="rank-5">
                            <input type="checkbox" class="form-control" id="input-rank-5" name="input-rank-5" value="1" />
                            De 3% até 5%
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="rank-acima" id="rank-acima">
                            <input type="checkbox" class="form-control" id="input-rank-acima" name="input-rank-acima" value="1" />
                            Acima de 5%
                        </label>
                     </div>
                </div>
                <div class="filtros-box">
                    <h6>ROI</h6>
                    <div class="form-group">
                        <label for="roi-50" id="roi-50">
                            <input type="checkbox" class="form-control" id="input-roi-50" name="input-roi-50" value="1" />
                            Até 50%
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="roi-70" id="roi-70">
                            <input type="checkbox" class="form-control" id="input-roi-70" name="input-roi-70" value="1" />
                            De 50% até 70%
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="roi-acima" id="roi-acima">
                            <input type="checkbox" class="form-control" id="input-roi-acima" name="input-roi-acima" value="1" />
                            Acima de 70%
                        </label>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 main loja">
          <div class="row">
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/cacarola.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 302,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/cabo.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>MFI Certified Apple Lightning USB Cables</h6>
                        <p class="valor-prod">$ 1200,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/default-no-image.png" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 400,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">

                     <div class="foto">
                        <img src="/static/img/default-no-image.png" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 845,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/controle.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Apple iPhone 5s AT&T</h6>
                        <p class="valor-prod">$ 1030,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote vendido">
                     <p class="vendido-text">Vendido</p>
                     <div class="foto">
                        <img src="/static/img/controle.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 400,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote vendido">
                     <p class="vendido-text">Vendido</p>
                     <div class="foto">
                        <img src="/static/img/cacarola.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 845,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote vendido">
                     <p class="vendido-text">Vendido</p>
                     <div class="foto">
                        <img src="/static/img/iphone.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Apple iPhone 5s AT&T</h6>
                        <p class="valor-prod">$ 1030,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
                <nav aria-label="...">
                  <ul class="pagination">
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="">&laquo;</a></li>
                      <li class="active"><span>1<span class="sr-only">(current)</span></span></li>
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="">&raquo;</a></li>
                  </ul>
              </nav>
          </div>
      </div>
    </div>

{% endblock %}
