{% extends 'includes/layout.html' %}

{% block comoFunciona %}active{% endblock %}

{% block conteudo %}
    <div class="banner-lote">
        <div class="">
            <h2><span class="text-gg">Chega</span> de problemas para encontrar produtos</h2>
            <h2><span class="text-gg">Chega</span> de problemas para pagar com seu cartão de crédito do Brasil</h2>
            <h2><img src="/static/img/sale-img.png" width="100%" /> </h2>
            <h2><span class="text-gg">Agora</span> preocupação apenas com o crescimento do seu negócio. Nós pensamos tudo pra você</h2>
            <h2><span class="text-gg">Agora</span> com poucos cliques seus produtos já estarão no seu inventário Amazon</h2>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <div class="row">
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/cacarola.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 302,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/cabo.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>MFI Certified Apple Lightning USB Cables</h6>
                        <p class="valor-prod">$ 1200,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/controle.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 400,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">

                     <div class="foto">
                        <img src="/static/img/iphone.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 845,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote">
                     <div class="foto">
                        <img src="/static/img/controle.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Apple iPhone 5s AT&T</h6>
                        <p class="valor-prod">$ 1030,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote vendido">
                     <p class="vendido-text">Vendido</p>
                     <div class="foto">
                        <img src="/static/img/controle.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 400,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote vendido">
                     <p class="vendido-text">Vendido</p>
                     <div class="foto">
                        <img src="/static/img/cacarola.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Cast Iron Casserole Dishes by La Cuisine</h6>
                        <p class="valor-prod">$ 845,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
              <div class="box-container-lote">
                 <a href="#" class="box-lote vendido">
                     <p class="vendido-text">Vendido</p>
                     <div class="foto">
                        <img src="/static/img/iphone.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>Apple iPhone 5s AT&T</h6>
                        <p class="valor-prod">$ 1030,00 </p>
                         <span>Somente Assinantes</span><br>
                        <p class="lucro-prod">Número de Itens: 4</p>
                        <p class="lucro-prod">ROI: 70% | Rank: 1%</p>
                     </div>
                 </a>
              </div>
                <nav aria-label="...">
                  <ul class="pagination">
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="">&laquo;</a></li>
                      <li class="active"><span>1<span class="sr-only">(current)</span></span></li>
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="">&raquo;</a></li>
                  </ul>
              </nav>
          </div>
      </div>
    </div>

{% endblock %}
