{% extends 'includes/layout.html' %}
{% load i18n permissions products users shipments commons %}
{% block listaprodutos %}active{% endblock %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        {% if user|has_product_perm:'view_products' %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-11 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {% trans "Estoque" %}</h1>
          <div class="row">
              <div class="filtros col-md-12">
                <h3><i class="fa fa-filter"></i> {% trans "Filtros" %}</h3>  <br>
                <form action="" method="get" id="form-filter-product" class="form-filter">
                    <div class="form-group col-md-2">
                        {% trans "ID" as id %}
                        <label for="filtro-id">{{ id }}</label>
                        <input type="text" class="form-control" id="filtro-id" name="id" placeholder="{{ id }}..." value="{{ filter_values.id }}">
                    </div>
                    <div class="form-group col-md-3">
                        {% trans "Nome" as name %}
                        <label for="filtro-nome">{{ name }}</label>
                        <input type="text" class="form-control" id="filtro-nome" name="name" placeholder="{{ name }}..." value="{{ filter_values.name }}">
                    </div>
                    <div class="form-group col-md-2">
                        {% trans "ASIN" as asin %}
                        <label for="filtro-asin">{{ asin }}</label>
                        <input type="text" class="form-control" id="filtro-asin" name="asin" placeholder="{{ asin }}..." value="{{ filter_values.asin }}">
                    </div>
                    {% if user|has_user_perm:'view_users' %}
                    <!-- somente o admin visualiza esse filtro -->
                    <div class="form-group col-md-2">
                        {% trans "Usuário" as user_label %}
                        <label for="filtro-usuario">{{ user_label }}</label>
                        <input type="text" class="form-control" id="filtro-usuario" name="user" placeholder="{{ user_label }}..." value="{{ filter_values.user }}">
                    </div>
                    <!-- fim filtro usuario-->
                    {% endif %}

                    <div class="form-group col-md-2">
                        {% trans "Status" as status %}
                        <label for="filtro-status">{{ status }}</label>
                        {% select_status filter_values '1' as sent_filter_status %}
                        {% select_status filter_values '2' as in_stock_filter_status %}
                        {% select_status filter_values '99' as archived_filter_status %}
                        <select class="form-control" id="filtro-status" name="status">
                          <option value="">{{ status }}</option>
                          <option value="1" {{ sent_filter_status }}>{% trans "Encaminhado VOI" %}</option>
                          <option value="2" {{ in_stock_filter_status }}>{% trans "Em Estoque VOI" %}</option>
                          <option value="99" {{ archived_filter_status }}>{% trans "Arquivado" %}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        {% trans "Rastreamento" as tracking_label %}
                        <label for="filtro-Rastreamento">{{ tracking_label }}</label>
                        <input type="text" class="form-control" id="filtro-Rastreamento" name="tracking" placeholder="{{ tracking_label }}..." value="{{ filter_values.tracking }}">
                    </div>
                    <div class="col-md-12">
                        <label for="filtro-arquivado">
                            <input type="checkbox" class="" id="filtro-arquivado" name="archived" {{ filter_values.archived }}> {% trans "Exibir produtos arquivados" %}
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary filtar-btn" id="filter-btn"><i class="fa fa-fw fa-filter"></i> {% trans "Filtrar" %}</button>
                    </div>
                </form>
              </div>
          </div><br><br>
          {% if user|has_product_perm:'add_product' %}
            <a class="btn btn-default" href="{% url 'product_add' %}"><i class="fa fa-fw fa-plus-square"></i> {% trans "Adicionar Produto" %}</a>
          {% endif %}
          {% if user|has_shipment_perm:'add_shipment' %}
            <a class="btn btn-default" id="btn-add-shipment"><i class="fa fa-amazon"></i> {% trans "Criar Envio para Amazon" %}</a>
          {% comment %}
            <!-- Novo botao -->
            <a class="btn btn-default" id="btn-add-shipment-brazil"><i class="fa fa-globe"></i> {% trans "Criar Envio para o Brasil" %}</a>
          {% endcomment %}
          <div class="table-responsive">
            <form action="{% url 'shipment_add' %}" method="post" class="form-add-shipment" id="form-add-shipment">
                {% csrf_token %}
            </form>
            {% endif %}
            <br>
            {% if products.paginator.count > 0 %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>
                      {% trans "Ordenar pelo ID" as order_id %}
                      <a title="{{ order_id }}" href="javascript:void(0);">{{ id }} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  <th>
                      {% trans "Ordenar pelo nome" as order_name %}
                      <a title="{{ order_name }}" href="javascript:void(0);">{{ name }} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  <th>{% trans "ASIN" %}</th>
                  <th class="center">
                      {% trans "Ordenar pela quantidade" as order_qty %}
                      <a title="{{ order_qty }}" href="javascript:void(0);">{% trans "Quantidade" %} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  {% if user|has_user_perm:'view_users' %}
                  <!-- somente admin visualiza -->
                  <th class="center">
                      {% trans "Ordenar pelo usuário" as order_user %}
                      <a title="{{ order_user }}" href="javascript:void(0);">{{ user_label }} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  <!-- fim campo -->
                  {% endif %}
                  <th class="center">
                      {% trans "Ordenar pelo status" as order_status %}
                      <a title="{{ order_status }}" href="javascript:void(0);">{% trans "Status" %} <i class="fa fa-fw fa-sort-amount-asc"></i></a>
                  </th>
                  {% if user|has_shipment_perm:'add_shipment' %}
                  <th class="center">{% trans "Envio" %}</th>
                  {% endif %}
                  <th class="center"> {% trans "Visualizar" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                <tr>
                  <td>{{ product.id }}</td>
                  <td class="limit-field">{{ product.name }}</td>
                  <td>{% if product.asin %}{{ product.asin }}{% endif %}</td>
                  <td class="center row-quantity" data-current-qty="{{ product.quantity }}">
                      <span class="row-quantity-display">
                      {{ product.quantity }}{% if product.quantity_partial is not None and product.quantity != product.quantity_partial %} ({{ product.quantity_partial }}){% endif %}
                      </span>
                      {% with associated_shipments=product|exists_shipment_associated %}
                      {% if associated_shipments %}
                      <span class="help help-tooltip help-icon" title="{% blocktrans with associated_shipments=associated_shipments %}Este produto se encontra associado a um ou mais envios ainda em andamento. ID(s): {{ associated_shipments }}{% endblocktrans %}"></span>
                      {% endif %}
                      {% endwith %}
                      {% with best_before_date=product.best_before|date:'SHORT_DATE_FORMAT' %}
                      {% if best_before_date %}
                      <span class="row-bestbefore-display">
                          <br>
                          {% trans "Validade" %}:
                          <br>
                          {{ best_before_date }}
                      </span>
                      {% endif %}
                      {% endwith %}
                  </td>
                  {% if user|has_user_perm:'view_users' %}
                  <!-- somente admin visualiza -->
                  <td class="center">{{ product.user.first_name }}<br>({{ product.user.email }})</td>
                  <!-- fim campo -->
                  {% endif %}
                  <td class="">
                      {% if user|has_product_perm:'change_product_status' %}
                      <!-- somente admin visualiza o botao de editar status-->

                      <a id="mudar-status-{{ product.id }}" class="mudar-status btn btn-default" href="javascript:void(0);">
                          <i class="fa fa-pencil"></i>
                      </a>

                      <!-- fim botao -->
                      {% endif %}
                      <span id="product-status-display-{{ product.id }}">{% if product.status %}{{ product.get_status_display  }}{% endif %}</span>
                      {% if max_time_period > 0 and product.status == 2 %}
                      {% with days_in_voi_stock=product|days_in_stock:max_time_period %}
                      <br>
                      ({{ days_in_voi_stock }} {% trans "dias" %})
                      {% endwith %}
                      {% endif %}
                      {% if user|has_product_perm:'change_product_status' %}
                      <!-- somente admin visualiza -->

                      <div class="contem-status" style="display:none;">
                       <div class="status row">
                        <form action="" method="post" class="form-change-status" id="form-change-status-{{ product.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}" class="product-id">
                        {% check_status product '1' as sent_status %}
                        {% check_status product '2' as in_stock_status %}
                        {% check_status product '99' as archived_status %}
                        <div class="coluna-form-status col-md-12">
                            <label class="label-status"><i class="fa fa-pencil"></i> {% trans "Alterar Status" %}:</label><br><br>
                            <label><input type="radio" name="product_status" value="1" data-current-status="{{ product.status }}" {{ sent_status }} /> {% trans "Encaminhado VOI" %}</label><br>
                            <label><input type="radio" name="product_status" value="2" data-current-status="{{ product.status }}" {{ in_stock_status }} /> {% trans "Em Estoque VOI" %}</label><br>
                            <label><input type="radio" name="product_status" value="99" data-current-status="{{ product.status }}" {{ archived_status }} /> {% trans "Arquivado" %}</label><br>
                        </div>
                        <div class="coluna-form-status col-md-12">
                            <label><i class="fa fa-list-ol"></i> {% trans "Quantidade Recebida" %}:</label>
                            <input type="number" class="form-control row-qty-partial" name="product_quantity_partial" value="{% if product.quantity_partial is not None %}{{ product.quantity_partial }}{% endif %}" data-current-partial="{{ product.quantity_partial }}"  />
                            <br>
                            {% with best_before_date=product.best_before|date:'SHORT_DATE_FORMAT' %}
                            <label><i class="fa fa-calendar"></i> {% trans "Data de Validade" %}:</label><br>
                            <input type="text" class="form-control row-best-before datepicker" name="product_best_before" value="{% if best_before_date %}{{ best_before_date }}{% endif %}" data-best-before="{% if best_before_date %}{{ best_before_date }}{% endif %}"><br>
                            {% endwith %}
                        </div>
                        <div class="form-group col-md-12">
                          <label><i class="fa fa-archive"></i> {% trans "Condição no Recebimento" %}:</label>
                            {% select_condition product.actual_condition '1' as new_condition %}
                            {% select_condition product.actual_condition '2' as refurbished_condition %}
                            {% select_condition product.actual_condition '3' as used_like_new_condition %}
                            {% select_condition product.actual_condition '4' as used_very_good_condition %}
                            {% select_condition product.actual_condition '5' as used_good_condition %}
                            {% select_condition product.actual_condition '6' as used_acceptable_condition %}
                          <select class="form-control row-actual-condition" name="product_actual_condition" data-actual-condition="{% if product.actual_condition %}{{ product.actual_condition }}{% endif %}">
                            <option value="">{% trans "Condição" %}</option>
                            <option value="1" {{ new_condition }}>{% trans "New" %}</option>
                            <option value="2" {{ refurbished_condition }}>{% trans "Refurbished" %}</option>
                            <option value="3" {{ used_like_new_condition }}>{% trans "Used Like New" %}</option>
                            <option value="4" {{ used_very_good_condition }}>{% trans "Used Very Good" %}</option>
                            <option value="5" {{ used_good_condition }}>{% trans "Used Good" %}</option>
                            <option value="6" {{ used_acceptable_condition }}>{% trans "Used Acceptable" %}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-12">
                          <label><i class="fa fa-desktop"></i> {% trans "Comentários da Condição" %}:</label>
                          <input type="text" class="form-control row-condition-comments" name="product_condition_comments" value="{% if product.condition_comments %}{{ product.condition_comments }}{% endif %}" data-condition-comments="{% if product.condition_comments %}{{ product.condition_comments }}{% endif %}">
                        </div>

                        <a class="btn btn-primary send-btn-async" href="javascript:void(0);"><i class="fa fa-check"></i> {% trans "Salvar" %}</a>
                        <a class="btn btn-danger fechar" href="javascript:void(0);"><i class="fa fa-times"></i> {% trans "Fechar" %}</a>
                        </form>
                       </div>
                      </div>

                      <!-- fim box -->
                      {% endif %}
                  </td>
                  {% if user|has_shipment_perm:'add_shipment' %}
                      <td class="center">
                          {% if product.status == 2 and product.user == request.user %}
                              {% if product.quantity_partial is not None and product.quantity_partial > 0 or product.quantity_partial is None and product.quantity > 0 %}
                                <input type="checkbox" name="shipment_product" value="{{ product.id }}" id="shipment-{{ product.id }}" class="shipment-product" />
                              {% endif %}
                          {% endif %}
                      </td>
                  {% endif %}
                  <td class="center">
                      <a class=" download" href="{% url 'product_details' product.id %}"><i class="fa fa-pencil-square"></i>  {% trans "Visualizar" %}</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
              <p>{% trans "Nenhum produto encontrado." %}</p>
            {% endif %}
          </div>
          <nav aria-label="...">
            {% if products.has_other_pages %}
              <ul class="pagination">
                {% if products.has_previous %}
                  <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ products.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                  {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if products.has_next %}
                  <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ products.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </nav>
        </div>
        {% endif %}
      </div>
    </div>

{% endblock %}