{% extends 'includes/layout.html' %}
{% load i18n tz permissions products users lots commons %}
{% block conteudo %}

<div class="container-fluid">
      <div class="row">
        {% if user|has_product_perm:'view_products' and product or request.session.impersonated is not None and product %}
        <div class="col-md-3 sidebar">

        </div>
        <div class="col-md-6 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {{ product.name }}</h1>
          <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "ID" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.id }}</p>
                    </div>
                </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Nome" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.name }}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "ASIN" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.asin %}{{ product.asin }}{% endif %}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Descrição" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.description }}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "URL do Produto" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.url %}{{ product.url }}{% endif %}</p>
                    </div>
              </div>
              {% if user|has_product_perm:'change_product_status' and product.collaborator_id|check_collaborator:user %}
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Localização na Warehouse" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.pick_ticket %}{{ product.pick_ticket }}{% endif %}</p>
                    </div>
              </div>
              {% endif %}
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Loja" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.store %}{{ product.store }}{% endif %}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Quantidade" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.quantity }}{% if product.quantity_partial and product.quantity_partial > 0 and product.quantity != product.quantity_partial %} ({{ product.quantity_partial }}){% endif %}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Data da Compra" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.send_date|date:'SHORT_DATE_FORMAT' }}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Previsão de Entrega" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.edd_date|date:'SHORT_DATE_FORMAT' }}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Data de Validade" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.best_before|date:'SHORT_DATE_FORMAT' }}</p>
                    </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Data de Cadastro" %}:</label>
                    <div class="col-xs-9">
                        {% if product.create_date %}
                         {% if LANGUAGE_CODE == 'pt' %}
                          {% timezone "Brazil/East" %}
                        <p>{{ product.create_date|date:'SHORT_DATETIME_FORMAT' }} - <small>{% trans "Horário de Brasília" %}</small></p>
                          {% endtimezone %}
                         {% else %}
                          {% timezone "US/Eastern" %}
                        <p>{{ product.create_date|date:'SHORT_DATETIME_FORMAT' }} - <small>Eastern Time</small></p>
                          {% endtimezone %}
                         {% endif %}
                        {% endif %}
                    </div>
              </div>
{% comment %}
              <!-- com o envio para o brasil, precisamos controlar os dias do produto em estoque para nao passar de 90 dias
                   e o peso de cada para o calculo do envio
              -->
              <div class="form-group">
                    <label class="control-label col-xs-3">Peso por item:</label>
                    <div class="col-xs-9">
                        <p>9 Lbs</p>
                    </div>
              </div>

              <div class="form-group">
                    <label class="control-label col-xs-3">Em estoque há:</label>
                    <div class="col-xs-9">
                        <p>89 dias</p>
                    </div>
              </div>

              <!-- fim novos campo -->
{% endcomment %}
              {% if user|has_user_perm:'view_users' or user|has_store_perm:'collaborator' %}
                <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Usuário" %}:</label>
                    <div class="col-xs-9">
                        <p>{{ product.user.first_name }} ({{ product.user.email }})</p>
                    </div>
                </div>
              {% endif %}
                <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Status" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.status %}{{ product.get_status_display }}{% endif %}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Condição" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.condition %}{{ product.get_condition_display }}{% endif %}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Condição no Recebimento" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.actual_condition %}{{ product.get_actual_condition_display }}{% endif %}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Comentários da Condição" %}:</label>
                    <div class="col-xs-9">
                        <p>{% if product.condition_comments %}{{ product.condition_comments }}{% endif %}</p>
                    </div>
                </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">{% trans "Rastreamento" %}:</label>
                    <div class="col-xs-9">
                        {% for tracking in product_tracking %}
                        <p>{{ tracking.track_number }}</p>
                        {% endfor %}
                    </div>
                </div>

              {% if user|has_product_perm:'change_product' %}
              <a href="{% url 'product_edit' product.id %}" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> {% trans "Editar" %}</a>
              {% endif %}
              {% if user|has_product_perm:'delete_product' and shipments == 0 and product.collaborator_id|check_collaborator:user %}
              <a href="#" class="btn btn-danger send-btn-delete"><i class="fa fa-fw fa-trash"></i> {% trans "Excluir" %}</a>
              {% elif user|has_product_perm:'delete_product' and shipments > 0 and product.collaborator_id|check_collaborator:user %}
              <br><br>
              <span>
                {% blocktrans count i=shipments %}
                Exclusão não permitida, pois este produto encontra-se associado ao seguinte envio, ID: {{ shipments_id }}
                {% plural %}
                Exclusão não permitida, pois este produto encontra-se associado aos seguintes envios, IDs: {{ shipments_id }}
                {% endblocktrans %}
              </span>
              {% endif %}
              <br><br>
              <a href="{% url 'product_stock' %}"><i class="fas fa-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br>
            </div>
        </div>
        <div class="col-md-3 sidebar">
        </div>
        {% endif %}
      </div>
    </div>
    {% if user|has_product_perm:'delete_product' and shipments == 0 and product.collaborator_id|check_collaborator:user %}
    <form action="{% url 'product_delete' %}" method="post" class="form-delete-product" id="form-delete-product">
    {% csrf_token %}
        <input type="hidden" name="pid" value="{{ product.id }}">
    <div id="confirmacao-exclusao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Excluir" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Confirma a exclusão do produto?" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> {% trans "Sim" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> {% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    {% elif show_error %}
    <div id="product_delete_error" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Excluir" %}</h4>
                </div>
                <div class="modal-body">
                    <p>
                    {% blocktrans count i=shipments %}
                    Exclusão não permitida, pois este produto encontra-se associado ao seguinte envio, ID: {{ shipments_id }}
                    {% plural %}
                    Exclusão não permitida, pois este produto encontra-se associado aos seguintes envios, IDs: {{ shipments_id }}
                    {% endblocktrans %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> {% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}