{% extends 'includes/layout.html' %}
{% load i18n l10n products commons %}
{% block addproduto %}{% if page_type == 1 %}active{% endif %}{% endblock %}

{% block specific_styles %}
<link href="/static/css/inlines.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}

  <div class="container-fluid">
      <div class="row">
        {% if request.session.impersonated is not None or page_type == 1 and user|has_product_perm:'add_product' or page_type == 2 and user|has_product_perm:'change_product' %}
        <div class="col-md-3 sidebar">

        </div>
        <div class="col-md-6 main">
          <h1 class="page-header"><i class="fa fa-plus-square"></i> {{ title }}</h1>
            <form action="" method="post" id="form-add-product">
              {% csrf_token %}
              {{ product_formset.management_form }}
              {% for form in product_formset %}
                {{ form.id }}
{% comment %}
                <!-- Novo campo -->
                <div class="form-group col-md-12">
                  <label for="{{ form.stock_type.id_for_label }}">{{ form.stock_type.label }}*</label>
                    {% select_stock_type form.stock_type.value '1' as stock_type_fba %}
                    {% select_stock_type form.stock_type.value '2' as stock_type_fbm %}
                    <select class="form-control stock_type_validate" id="{{ form.stock_type.id_for_label }}" name="{{ form.stock_type.html_name }}">
                        <option value="">{{ form.stock_type.label }}</option>
                        <option value="1" {{ stock_type_fba }}>{% trans "FBA" %}</option>
                        <option value="2" {{ stock_type_fbm }}>{% trans "FBM" %}</option>
                    </select>
                  {% for error in form.stock_type.errors %}
                    <label id="stock_type-error" class="error" for="{{ form.stock_type.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>

                <div class="bs-example col-md-12 boxes-fb" id="FBM">
                     <div class="alert alert-warning">
                         <p><strong>{% trans "Estoque FBM" %}</strong></p>
                         <p>{% trans "Você escolheu deixar seus produtos armazenados conosco até serem vendidos para seus clientes. Lembre-se que com essa escolha você aceita os custos relativos a armazenagem a partir do momento em que o produto chegar. Os valores são:" %}</p>
                         <p><strong>{% trans "Storage:" %}</strong> {% trans "$ 6.00 por pé cubico / Mês - Mínimo é de $ 25.00/Mês" %}</p>
                         <p>* {% trans "Caso a soma do espaço ocupado por seus produtos dê menos de $25.00, será cobrado essa taxa mínima." %}</p>
                         <p>* {% trans "Caso o pagamento mensal não seja efetuado por 90 dias, os produtos serão doados." %}</p>
                     </div>
                  </div>
                <div class="bs-example col-md-12 boxes-fb" id="FBA">
                     <div class="alert alert-warning">
                         <p><strong>{% trans "Estoque FBA" %}</strong></p>
                         <p>{% trans "Você escolheu por realizar envio FBA. A partir do momento que os seus produtos chegarem na nossa warehouse, você terá 11 dias para criar o envio. Caso não seja realizado, haverá taxa de $ 0.30 por item no momento do envio. Consulte valores no nosso" %}
                         <a href="/pt/#prices" class="download">{% trans "site" %}</a>.</p>
                         <p>* {% trans "Caso os produtos não sejam enviados, após 60 dias, os produtos serão doados." %}</p>
                     </div>
                  </div>
                <br>

                <!-- Novo campo fim -->
{% endcomment %}

                <div class="form-group col-md-12">
                  <label for="{{ form.name.id_for_label }}">{{ form.name.label }}*</label>
                    {% blocktrans asvar name with name_label=form.name.label|lower %}Digite o {{ name_label }}{% endblocktrans %}
                  <input type="text" class="form-control name_validate" id="{{ form.name.id_for_label }}" aria-describedby="name" name="{{ form.name.html_name }}" placeholder="{{ name }}..." value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                  {% for error in form.name.errors %}
                    <label id="name-error" class="error" for="{{ form.name.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.asin.id_for_label }}">{{ form.asin.label }}*</label>
                    {% blocktrans asvar asin with asin_label=form.asin.label %}Digite o {{ asin_label }}{% endblocktrans %}
                  <input type="text" class="form-control" id="{{ form.asin.id_for_label }}" aria-describedby="asin" name="{{ form.asin.html_name }}" placeholder="{{ asin }}..." value="{% if form.asin.value %}{{ form.asin.value }}{% endif %}">
                  {% for error in form.asin.errors %}
                    <label id="asin-error" class="error" for="{{ form.asin.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {% trans "Descrição do produto" as description %}
                  <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" placeholder="{{ description }}...">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
                    {% blocktrans asvar az_url with az_url_label=form.url.label %}Digite a {{ az_url_label }}{% endblocktrans %}
                  <input type="text" class="form-control" id="{{ form.url.id_for_label }}" aria-describedby="url" name="{{ form.url.html_name }}" placeholder="{{ az_url }}..." value="{% if form.url.value %}{{ form.url.value }}{% endif %}">
                  {% for error in form.url.errors %}
                    <label id="url-error" class="error" for="{{ form.url.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.store.id_for_label }}">{{ form.store.label }}</label>
                    {% blocktrans asvar store with store_label=form.store.label %}Digite a {{ store_label }}{% endblocktrans %}
                  <input type="text" class="form-control" id="{{ form.store.id_for_label }}" aria-describedby="store" name="{{ form.store.html_name }}" placeholder="{{ store }}..." value="{% if form.store.value %}{{ form.store.value }}{% endif %}">
                  {% for error in form.store.errors %}
                    <label id="store-error" class="error" for="{{ form.store.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}*</label>
                  {% if form.status.value is None or form.status.value == 1 or user|has_product_perm:'change_product_status' and form.collaborator.value|check_collaborator:user %}
                    {% trans "Digite a quantidade" as quantity %}
                  <input type="number" class="form-control menor quantity_validate" id="{{ form.quantity.id_for_label }}" name="{{ form.quantity.html_name }}" placeholder="{{ quantity }}..." value="{% if form.quantity.value %}{{ form.quantity.value|unlocalize }}{% endif %}">
                  {% for error in form.quantity.errors %}
                    <label id="quantity-error" class="error" for="{{ form.quantity.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                  {% else %}
                    {% if form.quantity.value %}{{ form.quantity.value|unlocalize }}{% endif %}
                    <input type="hidden" name="{{ form.quantity.html_name }}" value="{% if form.quantity.value %}{{ form.quantity.value|unlocalize }}{% endif %}">
                  {% endif %}
                </div><br>
              {% if user|has_product_perm:'change_product_status' and form.collaborator.value|check_collaborator:user %}
                <div class="form-group col-md-12">
                  <label for="{{ form.quantity_partial.id_for_label }}">{{ form.quantity_partial.label }}</label>
                    {% trans "Digite a quantidade parcial" as quantity_partial %}
                  <input type="number" class="form-control menor quantity_partial_validate" id="{{ form.quantity_partial.id_for_label }}" name="{{ form.quantity_partial.html_name }}" placeholder="{{ quantity_partial }}..." value="{% if form.quantity_partial.value %}{{ form.quantity_partial.value|unlocalize }}{% endif %}">
                  {% for error in form.quantity_partial.errors %}
                    <label id="quantity_partial-error" class="error" for="{{ form.quantity_partial.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
              {% endif %}
{% comment %}
              <!-- Campo novo Peso -->

              <div class="form-group col-md-12">
                  <label for="peso">Peso por item</label>
                  <input type="number" class="form-control menor" id="peso" name="peso" placeholder="Digite o peso em Lbs..." value="" />
              </div><br>

              <!-- fim campo novo -->
{% endcomment %}
                <div class="form-group col-md-12">
                  <label for="{{ form.send_date.id_for_label }}">{{ form.send_date.label }}*</label>
                    {% trans "Data da compra" as send_date %}
                  {% with formatted_date=form.send_date.value|date:'SHORT_DATE_FORMAT' %}
                  <input type="text" class="form-control menor datepicker send_date_validate" id="{{ form.send_date.id_for_label }}" name="{{ form.send_date.html_name }}" placeholder="{{ send_date }}..." value="{% if formatted_date %}{{ formatted_date }}{% elif form.send_date.value %}{{ form.send_date.value }}{% endif %}">
                  {% endwith %}
                  {% for error in form.send_date.errors %}
                    <label id="send_date-error" class="error" for="{{ form.send_date.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.edd_date.id_for_label }}">{{ form.edd_date.label }}</label>
                    {% trans "Previsão de entrega" as edd_date %}
                  {% with formatted_edd_date=form.edd_date.value|date:'SHORT_DATE_FORMAT' %}
                  <input type="text" class="form-control menor datepicker edd_date_validate" id="{{ form.edd_date.id_for_label }}" name="{{ form.edd_date.html_name }}" placeholder="{{ edd_date }}..." value="{% if formatted_edd_date %}{{ formatted_edd_date }}{% elif form.edd_date.value %}{{ form.edd_date.value }}{% endif %}">
                  {% endwith %}
                  {% for error in form.edd_date.errors %}
                    <label id="edd_date-error" class="error" for="{{ form.edd_date.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                {% if user|has_product_perm:'change_product_status' and form.collaborator.value|check_collaborator:user %}
                <div class="form-group col-md-12">
                  <label for="{{ form.best_before.id_for_label }}">{{ form.best_before.label }}</label>
                    {% trans "Data de Validade" as best_before %}
                  {% with formatted_date2=form.best_before.value|date:'SHORT_DATE_FORMAT' %}
                  <input type="text" class="form-control menor datepicker best_before_validate" id="{{ form.best_before.id_for_label }}" name="{{ form.best_before.html_name }}" placeholder="{{ best_before }}..." value="{% if formatted_date2 %}{{ formatted_date2 }}{% elif form.best_before.value %}{{ form.best_before.value }}{% endif %}">
                  {% endwith %}
                  {% for error in form.best_before.errors %}
                    <label id="best_before-error" class="error" for="{{ form.best_before.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                {% endif %}
                <div class="form-group col-md-12">
                  <label for="{{ form.condition.id_for_label }}">{{ form.condition.label }}*</label>
                    {% select_condition form.condition.value '1' as new_condition %}
                    {% select_condition form.condition.value '2' as refurbished_condition %}
                    {% select_condition form.condition.value '3' as used_like_new_condition %}
                    {% select_condition form.condition.value '4' as used_very_good_condition %}
                    {% select_condition form.condition.value '5' as used_good_condition %}
                    {% select_condition form.condition.value '6' as used_acceptable_condition %}
                    <select class="form-control condition_validate" id="{{ form.condition.id_for_label }}" name="{{ form.condition.html_name }}">
                        <option value="">{{ form.condition.label }}</option>
                        <option value="1" {{ new_condition }}>{% trans "New" %}</option>
                        <option value="2" {{ refurbished_condition }}>{% trans "Refurbished" %}</option>
                        <option value="3" {{ used_like_new_condition }}>{% trans "Used Like New" %}</option>
                        <option value="4" {{ used_very_good_condition }}>{% trans "Used Very Good" %}</option>
                        <option value="5" {{ used_good_condition }}>{% trans "Used Good" %}</option>
                        <option value="6" {{ used_acceptable_condition }}>{% trans "Used Acceptable" %}</option>
                    </select>
                  {% for error in form.condition.errors %}
                    <label id="condition-error" class="error" for="{{ form.condition.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                {% if user|has_product_perm:'change_product_status' and form.collaborator.value|check_collaborator:user %}
                <div class="form-group col-md-12">
                  <label for="{{ form.actual_condition.id_for_label }}">{{ form.actual_condition.label }}</label>
                    {% select_condition form.actual_condition.value '1' as new_condition %}
                    {% select_condition form.actual_condition.value '2' as refurbished_condition %}
                    {% select_condition form.actual_condition.value '3' as used_like_new_condition %}
                    {% select_condition form.actual_condition.value '4' as used_very_good_condition %}
                    {% select_condition form.actual_condition.value '5' as used_good_condition %}
                    {% select_condition form.actual_condition.value '6' as used_acceptable_condition %}
                    <select class="form-control" id="{{ form.actual_condition.id_for_label }}" name="{{ form.actual_condition.html_name }}">
                        <option value="">{{ form.actual_condition.label }}</option>
                        <option value="1" {{ new_condition }}>{% trans "New" %}</option>
                        <option value="2" {{ refurbished_condition }}>{% trans "Refurbished" %}</option>
                        <option value="3" {{ used_like_new_condition }}>{% trans "Used Like New" %}</option>
                        <option value="4" {{ used_very_good_condition }}>{% trans "Used Very Good" %}</option>
                        <option value="5" {{ used_good_condition }}>{% trans "Used Good" %}</option>
                        <option value="6" {{ used_acceptable_condition }}>{% trans "Used Acceptable" %}</option>
                    </select>
                  {% for error in form.actual_condition.errors %}
                    <label id="actual_condition-error" class="error" for="{{ form.actual_condition.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.condition_comments.id_for_label }}">{{ form.condition_comments.label }}</label>
                    {% blocktrans asvar condition_comments with condition_comments_label=form.condition_comments.label|lower %}Digite os {{ condition_comments_label }}{% endblocktrans %}
                  <input type="text" class="form-control" id="{{ form.condition_comments.id_for_label }}" aria-describedby="condition_comments" name="{{ form.condition_comments.html_name }}" placeholder="{{ condition_comments }}..." value="{% if form.condition_comments.value %}{{ form.condition_comments.value }}{% endif %}">
                  {% for error in form.condition_comments.errors %}
                    <label id="condition_comments-error" class="error" for="{{ form.condition_comments.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.pick_ticket.id_for_label }}">{{ form.pick_ticket.label }}</label>
                    {% trans "Digite a localização na warehouse" as pick_ticket %}
                  <input type="text" class="form-control" id="{{ form.pick_ticket.id_for_label }}" name="{{ form.pick_ticket.html_name }}" placeholder="{{ pick_ticket }}..." value="{% if form.pick_ticket.value %}{{ form.pick_ticket.value }}{% endif %}">
                  {% for error in form.pick_ticket.errors %}
                    <label id="pick_ticket-error" class="error" for="{{ form.pick_ticket.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                {% endif %}
              {% endfor %}
              <div class="lista-tracks js-inline-admin-formset" id="{{ tracking_formset.prefix }}-group"
               data-inline-type="stacked"
               data-inline-formset="{{ tracking_formset.inline_formset_data }}">
                {{ tracking_formset.management_form }}
                {% trans "Digite o código" as track_number %}
                {% for tracking_form in tracking_formset %}
                  <div class="form-group group-track inline-related {% if forloop.last and not forloop.first %} empty-form{% endif %}"
                    id="{{ tracking_formset.prefix }}-{% if not forloop.last or forloop.first %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                    <div class="col-md-5">
                        <label for="{{ tracking_form.track_number.id_for_label }}" class="inline_label">
                            {{ tracking_form.track_number.label }} #{{ forloop.counter }}
                        </label>
                        <input type="text" class="form-control" id="{{ tracking_form.track_number.id_for_label }}" name="{{ tracking_form.track_number.html_name }}" placeholder="{{ track_number }}..." value="{% if tracking_form.track_number.value %}{{ tracking_form.track_number.value }}{% endif %}"/>
                    </div>
                    {{ tracking_form.id }}
                    {{ tracking_form.product }}
                    <div class="col-md-7 content-btn-add delete">
                    {% if tracking_formset.can_delete %}
                        {% if tracking_form.id.value %}
                        {{ tracking_form.DELETE }}&nbsp;{{ tracking_form.DELETE.label }}
                        {% elif forloop.first is False %}
                        <a class="rem-track btn btn-danger inline-deletelink" title="{{ tracking_formset.deleteText }}" href="#"><i class="fa fa-fw fa-times"></i></a>
                        {% endif %}
                    {% endif %}
                    </div>
                    <br>
                  </div>
                {% endfor %}
              </div>
              <div class="col-md-12"><br>
                <a class="add-track btn btn-success {{ tracking_formset.prefix }}-add-row add-row" title="{{ tracking_formset.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus"></i>{{ tracking_formset.addText }}</a>
              </div><br>
                <div class="bs-example col-md-12" id="alerta-valor-minimo">
                 <div class="alert alert-warning">
                     <p><strong>{% trans "Lembre-se!!" %}</strong>
                         <br>
                         {% trans "Você deve inserir no FROM do seu envio o seu código de cliente para que possamos identificar as suas caixas quando chegarem na nossa warehouse." %}
                     </p>
                     <p><strong>{% trans "Fique atento e evite cobranças extras." %}</strong></p>
                 </div>
              </div>
              <div class="form-group col-md-12"><br><br>
                  <button type="submit" id="send-btn" class="btn btn-primary"><i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}</button><br><br>
                  <a href="{% url 'product_stock' %}"><i class="fas fa-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br>
              </div>
            </form>
        </div>
        <div class="col-md-3 sidebar">
        </div>
        {% endif %}
      </div>
    </div>

{% endblock %}