{% extends 'includes/layout.html' %}

{% block conteudo %}

<div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar">

        </div>
        <div class="col-md-6 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> Chinelo Canvin Klein</h1>
          <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Id:</label>
                    <div class="col-xs-9">
                        <p>7687</p>
                    </div>
                </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">Nome:</label>
                    <div class="col-xs-9">
                        <p>Chinelo Canvin Klein</p>
                    </div>
                </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">Descrição:</label>
                    <div class="col-xs-9">
                        <p>Borracha preto 34</p>
                    </div>
                </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">Quantidade:</label>
                    <div class="col-xs-9">
                        <p>12</p>
                    </div>
                </div>
              <div class="form-group">
                    <label class="control-label col-xs-3">Track number:</label>
                    <div class="col-xs-9">
                        <p>023285</p>
                    </div>
                </div>
              <a href="cadastro_produto.html" class="btn btn-primary"><i class="fa fa-fw fa-pencil"></i> Editar</a>
              <a href="#" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i> Excluir</a><br><br>
              <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> Voltar</a><br><br><br>
            </div>
        </div>
        <div class="col-md-3 sidebar">
        </div>
      </div>
    </div>

{% endblock %}