{% extends 'includes/layout.html' %}
{% load i18n l10n permissions users shipments commons %}
{% block listashipment %}active{% endblock %}

{% block specific_styles %}
<link href="/static/css/inlines.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<!-- Passo 1 -->

 <div class="container-fluid">
      <div class="row">
        {% if user|has_shipment_perm:'view_shipments' %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {% trans "Envio" %} {{ shipment.id }}</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "Nome" %}</th>
                  <th>{% trans "Descrição" %}</th>
                  <th class="center">{% trans "Quantidade" %}</th>
                  {% if user|has_user_perm:'view_users' %}
                  <th>{% trans "Usuário" %}</th>
                  {% endif %}
                  {% if shipment.status == 1 and user|has_shipment_perm:'change_shipment' %}
                  <th>{% trans "Retirar" %}</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                  <td>{{ product.product.id }}</td>
                  <td>{{ product.product.name }}</td>
                  <td>{{ product.product.description }}</td>
                  <td class="center">{{ product.quantity }}</td>
                  {% if user|has_user_perm:'view_users' %}
                  <td>{{ shipment.user.first_name }}</td>
                  {% endif %}
                  {% if shipment.status == 1 and user|has_shipment_perm:'change_shipment' %}
                  {% trans "Excluir" as delete %}
                  <td>
                      <form method="delete">
                          <input type="hidden" name="delete_product_shipment_id" value="{{ shipment.id }}">
                          <input type="hidden" name="delete_product_product_id" value="{{ product.id }}">
                          <a class="btn btn-danger delete-product-shipment" title="{{ delete }} {{ product.product.name }}" href="#"><i class="fa fa-fw fa-close"></i></a>
                      </form>
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div> <hr />
          <div class="row">
            <div class="col-md-4">
                <label><i class="fa fa-fw fa-bar-chart"></i> {% trans "Valores" %}:</label><br><br>
                <p><strong><i class="fa fa-fw fa-list-ol"></i> {% trans "Total de Produtos" %}: </strong><span id="totalProducts">{{ shipment.total_products }}</span> </p>
                <p><strong><i class="fa fa-fw fa-money"></i> {% trans "Valor Total" %}: </strong> U$ <span id="totalCost">{{ shipment.cost|localize }}</span></p>
            </div>
            <div class="col-md-4">
                <p><strong><i class="fa fa-fw fa-calendar"></i> {% trans "Data de Envio" %}: </strong></p>
                <div class="form-group">
                    {{ shipment.send_date }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><i class="fa fa-fw fa-file-pdf-o"></i> {% trans "Download PDFs" %}:</label><br><br>
                    <label>PDF 1:</label><br>
                    <a href="{% url 'shipment_pdf_1' shipment.id %}" class="download" target="_blank"><i class="fa fa-fw fa-file-pdf-o"></i> Download</a>
                    <br>
                    <br>
                    <label>PDF 2:</label>
                    {% if shipment.status == 1 %}
                    <p>Ainda não cadastrado</p>
                    {% elif shipment.status == 2 %}
                    <br><p>Upload não autorizado</p>
                    {% elif shipment.status == 3 %}
                    <br><input type="file" name="pdf2" id="pdf2" /><br>
                    {% else %}
                    <br>
                    <a href="#" class="download" target="_blank"><i class="fa fa-fw fa-file-pdf-o"></i> Download</a>
                    {% endif %}

                </div>
            </div>
           </div>
           <hr />
           {% trans "Peso" as weight %}
           {% trans "L" as length %}
           {% trans "W" as width %}
           {% trans "H" as height %}
           {% if shipment.status != 1 %}
           <div class="row">
             <div class="col-md-10">
                <label><i class="fa fa-fw fa-archive"></i> {% trans "Informações pacote(s)" %}:</label><br><br>
                {% for package in packages %}
                <div class="form-group pacote-infos">
                    <div class="col-md-2">
                        <label class="">{% trans "Pacote" %} {{ forloop.counter }}: </label>
                    </div>
                    <div class="col-md-8">
                        <p>{{ weight }}: {{ package.weight|unlocalize }} {% unit_weight_display 1 abbreviate=True %} / {{ length }}: {{ package.length|unlocalize }}{% unit_length_display 3 abbreviate=True %} x {{ width }}: {{ package.width|unlocalize }}{% unit_length_display 3 abbreviate=True %} x {{ height }}: {{ package.height|unlocalize }}{% unit_length_display 3 abbreviate=True %}</p>
                    </div>
                </div>
                {% if not forloop.last %}
                <br><br>
                {% endif %}
                {% endfor %}
             </div>
            {% if shipment.status > 3 and user|has_shipment_perm:'add_package' %}
            <div class="col-md-2">
                 <div class="form-group">
                    <label><i class="fa fa-fw fa-file-pdf-o"></i> {% trans "Comprovante UPS" %}:</label><br><br>
                    <input type="file" name="ups" class="menor" id="ups" />
                </div>
            </div>
            {% endif %}
           </div>
           <hr />
           {% endif %}
           <div class="row">
               <label><i class="fa fa-fw fa-step-forward"></i> {% trans "Status" %}: </label> {% trans "Acompanhe abaixo o status do envio" %}:<br><br><br>

               <div class="progress">
                  <div class="progress-bar progress-bar-success {% status_bar shipment %}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  </div>
               </div>

               <div class="col-md-12 itens-progress">
                   <div class="col-md-3 center">
                        <label><i class="fa fa-2x fa-fw fa-plus-square"></i><br>{% trans "Preparando para Envio" %}</label>
                   </div>
                   <div class="col-md-3 center">
                        <label><i class="fa fa-2x fa-shopping-cart"></i><br>{% trans "Pagamento Autorizado" %}</label>
                   </div>
                   <div class="col-md-3 center">
                        <label><i class="fa fa-2x fa-file-pdf-o"></i><br>{% trans "Upload PDF 2 Autorizado" %}</label>
                   </div>
                   <div class="col-md-2 center">
                        <label><i class="fa fa-2x fa-list-alt"></i><br>{% trans "Checagens Finais" %}</label>
                   </div>
                   <div class="col-md-1 item-progress last">
                        <label><i class="fa fa-2x fa-thumbs-up"></i><br>{% trans "Enviado" %}</label>
                   </div>
               </div>
           </div><hr />
           {% if shipment.status == 1 and user|has_shipment_perm:'add_package' %}
           <div class="row">
               <form action="{% url 'shipment_details' shipment.id %}" method="post" id="form-add-package">
                   {% csrf_token %}
               <input type="hidden" name="add_shipment_package" value="1">
               <label><i class="fa fa-fw fa-line-chart"></i> {% trans "Área Administrativa" %}</label><br><br><br>
               <div class="col-md-12 js-inline-admin-formset" id="{{ packages.prefix }}-group"
               data-inline-type="stacked"
               data-inline-formset="{{ packages.inline_formset_data }}">
                   {{ packages.management_form }}
                   <label>{% trans "Informações pacote(s)" %}:</label>
                    <div class="lista-pacotes-cadastro">
                   {% for package_form in packages %}
                     <div class="form-group pacote-infos pacote-infos-item inline-related {% if forloop.last and not forloop.first %} empty-form{% endif %}"
                         id="{{ packages.prefix }}-{% if not forloop.last or forloop.first %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                       {{ package_form.id }}
                       {{ package_form.shipment }}
                        <div class="col-md-2">
                            <label class="filtar-btn-m inline_label">{% trans "Pacote" %} #{{ forloop.counter }}: </label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="{{ package_form.weight.label }}..." name="{{ package_form.weight.html_name }}" class="form-control add-validate-rule" id="{{ package_form.weight.id_for_label }}" value="{% if package_form.weight.value %}{{ package_form.weight.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.weight.errors %}
                              <label id="{{ package_form.weight.id_for_label }}-error" class="error" for="{{ package_form.weight.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge">{% trans "em" %} {% unit_weight_display 1 %}</span>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="{{ package_form.length.label }}..." name="{{ package_form.length.html_name }}" class="form-control add-validate-rule" id="{{ package_form.length.id_for_label }}" value="{% if package_form.length.value %}{{ package_form.length.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.length.errors %}
                              <label id="{{ package_form.length.id_for_label }}-error" class="error" for="{{ package_form.length.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge profun">{% trans "em" %} {% unit_length_display 3 %}</span><br><br>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="{{ package_form.width.label }}..." name="{{ package_form.width.html_name }}" class="form-control add-validate-rule" id="{{ package_form.width.id_for_label }}" value="{% if package_form.width.value %}{{ package_form.width.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.width.errors %}
                              <label id="{{ package_form.width.id_for_label }}-error" class="error" for="{{ package_form.width.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge largura">{% trans "em" %} {% unit_length_display 3 %}</span>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="{{ package_form.height.label }}..." name="{{ package_form.height.html_name }}" class="form-control add-validate-rule" id="{{ package_form.height.id_for_label }}" value="{% if package_form.height.value %}{{ package_form.height.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.height.errors %}
                              <label id="{{ package_form.height.id_for_label }}-error" class="error" for="{{ package_form.height.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge altura">{% trans "em" %} {% unit_length_display 3 %}</span>
                        </div>
                        {% if forloop.first is False %}
                        <div class="col-md-2">
                            <a class="rem-track btn btn-danger rem-pacote-shipment inline-deletelink" title="{{ packages.deleteText }}" href="#"><i class="fa fa-fw fa-times"></i></a>
                        </div>
                        {% endif %}
                     </div>
                   {% endfor %}
                     <div class="col-md-12">
                         <a class="add-track btn btn-success add-pacote-shipment add-row" title="{{ packages.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus"></i> {% trans "Adicionar Pacote ao Envio" %}</a>
                     </div>
                    </div>
              </div>
              </form>
           </div><hr />
           {% endif %}
           {% if shipment.status == 2 and user == shipment.user %}
             <!--<a class="btn btn-default filtar-btn" href="{% url 'payment_details' %}"><i class="fa fa-fw fa-paypal"></i> {% trans "Efetuar Pagamento Agora" %}</a>-->
             {{ paypal_form.render }}
             <br><br>
           {% endif %}
             <div class="row">
                {% if shipment.status == 4 %}
                <a class="btn btn-primary filtar-btn alterar-status" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Enviar e Finalizar Envio" %}
                </a>
                <br><br>
                {% endif %}
                {% if shipment.status == 1 and user|has_shipment_perm:'add_package' or shipment.status == 3 %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-{{ shipment.status }}" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}
                </a>
                <br><br>
                {% endif %}
                <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a>
                <br><br><br><br>
             </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>

{% endblock %}
