{% extends 'includes/layout.html' %}
{% load i18n l10n shipments %}
{% block criarshipment %}active{% endblock %}

{% block specific_styles %}
<link href="/static/css/inlines.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        {% if user|has_shipment_perm:'add_product' %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {% trans "Criar" %} {{ title }}</h1>
           <div class="row">
            <div class="form-group">
                <div class="col-md-5">
                    <label>{% trans "Adicionar mais produtos a este shipment" %}:</label>
                    {% trans "Digite o nome do Produto" as new_product %}
                    <input type="text" name="{{ product_formset.prefix }}-autocomplete" placeholder="{{ new_product }}..." class="form-control" id="{{ product_formset.prefix }}-autocomplete" />
                    <input type="hidden" name="{{ product_formset.prefix }}-autocomplete-selected" id="{{ product_formset.prefix }}-autocomplete-selected" />
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary filtar-btn add-row" title="{{ product_formset.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus-square"></i> {{ product_formset.addText }}</a>
                </div>
            </div>
          </div><br><br>
        <form action="" method="post" id="form-add-shipment">
          {% csrf_token %}
            {{ product_formset.management_form }}
          <div class="table-responsive">
            <table class="table table-striped js-inline-admin-formset" id="{{ product_formset.prefix }}-group"
               data-inline-type="stacked"
               data-inline-autocomplete="/product/autocomplete"
               data-inline-formset="{{ product_formset.inline_formset_data }}">
              <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "Nome" %}</th>
                  <th>{% trans "Descrição" %}</th>
                  <th class="center">{% trans "Quantidade" %}</th>
                  <th>{% trans "Retirar" %}</th>
                </tr>
              </thead>
              <tbody>
              {% for product_form in product_formset %}
                <tr class="inline-related {% if forloop.last %}empty-form{% endif %}"
                  id="{{ product_formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                  {{ product_form.product|safe }}
                  <td class="center">
                      <input type="number" class="form-control menor-m" id="{{ product_form.quantity.id_for_label }}" name="{{ product_form.quantity.html_name }}" value="{% if product_form.quantity.value %}{{ product_form.quantity.value|unlocalize }}{% endif %}" />
                      {{ product_form.id }}
                      {{ product_form.shipment }}
                  </td>
                  <td>
                      {% if product_formset.can_delete %}
                      <a class="btn btn-danger inline-deletelink" title="{{ product_formset.deleteText }}" href="#"><i class="fa fa-fw fa-close"></i></a>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div> <hr />
          <div class="row">
            <div class="col-md-4">
                <label><i class="fa fa-fw fa-bar-chart"></i> Valores:</label><br><br>
                <a class="btn btn-default" href="#"><i class="fa fa-fw fa-calculator"></i> Recalcular valor do Shipment</a><br><br>
                <p><strong><i class="fa fa-fw fa-list-ol"></i> Total de Produtos: </strong>38 </p>
                <p><strong><i class="fa fa-fw fa-money"></i> Valor Total: </strong> U$ 47,50</p>
            </div>
            <div class="col-md-4">
                <p><strong><i class="fa fa-fw fa-calendar"></i> Data do Envio: </strong></p>
                <div class="form-group">
                    <input type="text" placeholder="Data de Envio..." name="data-envio" class="form-control menor" id="datepicker" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><i class="fa fa-fw fa-file-pdf-o"></i> Download PDFs:</label><br><br>
                    <label>PDF 1:</label><input type="file" name="pdf1" class="form-control" id="pdf1" /><br>
                    <label>PDF 2:</label><br><p>Upload não autorizado</p>
                </div>
            </div>
           </div><hr />
           <div class="row">
            <a class="btn btn-primary filtar-btn alterar-status" href="#"><i class="fa fa-fw fa-paper-plane"></i> Salvar</a><br><br><!--
            <a class="btn btn-primary filtar-btn" href="#"><i class="fa fa-fw fa-paypal"></i> Salvar e efetuar Pagamento Agora</a><br>--><a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> Voltar</a><br><br><br><br>
           </div>
        </form>
          </div>
          {% endif %}
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>

{% endblock %}
