{% extends 'includes/layout.html' %}
{% load i18n l10n shipments products %}
{% block criarshipment %}active{% endblock %}

{% block specific_styles %}
<link href="/static/css/inlines.css" rel="stylesheet">
{% endblock %}

{% block specific_scripts %}
<script src="/static/externo/ckeditor/ckeditor.js"></script>
<script src="/static/js/specifics/shipment.js"></script>
{% endblock %}

{% block conteudo %}

    <div class="container-fluid">
      <div class="row">
        {% if user|has_shipment_perm:'add_shipment' %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {% trans "Criar" %} {{ title }}</h1>
           {% if user|has_shipment_perm:'add_product' %}
           <div class="row">
            <div class="form-group">
                <div class="col-md-5">
                    <label>{% trans "Adicionar mais produtos a este envio" %}:</label>
                    {% trans "Digite o nome do Produto" as new_product %}
                    <input type="text" name="{{ product_formset.prefix }}-autocomplete" placeholder="{{ new_product }}..." class="form-control" id="{{ product_formset.prefix }}-autocomplete" />
                    <input type="hidden" name="{{ product_formset.prefix }}-autocomplete-selected" id="{{ product_formset.prefix }}-autocomplete-selected" />
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary filtar-btn {{ product_formset.prefix }}-add-row add-row" title="{{ product_formset.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus-square"></i> {{ product_formset.addText }}</a>
                </div>
            </div>
          </div>
          <br>
          {% endif %}
          <br>
        <form action="" method="post" id="form-save-shipment" enctype="multipart/form-data">
          {% csrf_token %}
            <input type="hidden" name="save_shipment" value="1">
            {{ shipment_formset.management_form }}
            {{ product_formset.management_form }}
            {{ warehouse_formset.management_form }}
          <div class="table-responsive">
            <table class="table table-striped js-inline-admin-formset" id="{{ product_formset.prefix }}-group"
               data-inline-type="stacked"
               data-inline-autocomplete="{% url 'product_autocomplete' %}"
               data-inline-formset="{{ product_formset.inline_formset_data }}">
              <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "Nome" %}</th>
                  <th>{% trans "Descrição" %}</th>
                  <th>{% trans "Validade" %}</th>
                  <th class="center">{% trans "Tempo em estoque" %}</th>
                  <th class="center">{% trans "Quantidade" %}</th>
                  {% if user|has_shipment_perm:'delete_product' %}
                  <th>{% trans "Retirar" %}</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for product_form in product_formset %}
                <tr class="inline-related {% if forloop.last %}empty-form{% endif %}"
                  id="{{ product_formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                  {{ product_form.product|safe }}
                  <td class="center">
                    {% days_in_stock product_form.product.value max_time_period=max_time_period as days_in_voi_stock %}
                    {{ days_in_voi_stock }} {% trans "dias" %}
                  </td>
                  <td class="center">
{% comment %}
                      <input type="number" class="form-control menor-m quantity_validate required-number-validate" id="{{ product_form.quantity.id_for_label }}" name="{{ product_form.quantity.html_name }}" value="{% if product_form.quantity.value %}{{ product_form.quantity.value|unlocalize }}{% endif %}" />
                      {% for error in product_form.quantity.errors %}
                        <label id="{{ product_form.quantity.id_for_label }}-error" class="error" for="{{ product_form.quantity.id_for_label }}">{{ error|escape }}</label>
                      {% endfor %}
{% endcomment %}
                      <input type="hidden" class="quantity_validate" id="hidden_{{ product_form.quantity.id_for_label }}" name="{{ product_form.quantity.html_name }}" value="{% if product_form.quantity.value %}{{ product_form.quantity.value|unlocalize }}{% endif %}" />
                      {% if product_form.quantity.value %}{{ product_form.quantity.value|unlocalize }}{% endif %}

                      {{ product_form.id }}
                      {{ product_form.shipment }}
                  </td>
                  {% if user|has_shipment_perm:'delete_product' %}
                  <td>
                      {% if product_formset.can_delete %}
                      <a class="btn btn-danger inline-deletelink" title="{{ product_formset.deleteText }}" href="#"><i class="fa fa-fw fa-close"></i></a>
                      {% endif %}
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <input type="hidden" class="products_validate" id="products_validate" name="products_validate" value="{% if product_formset %}1{% endif %}" />
          </div> <hr />
          {% for shipment_form in shipment_formset %}
            {{ shipment_form.id }}
          <div class="row">
            <div class="col-md-6">
                <label><i class="fa fa-fw fa-bar-chart"></i> {% trans "Valores" %}:</label><br><br>
                {% if billing_type == 1 %}
                <a class="btn btn-default" href="#" id="btn-calculate-shipment"><i class="fa fa-fw fa-calculator"></i> {% trans "Calcular valor do Envio" %}</a><br><br>
                {% endif %}
                <p><strong><i class="fa fa-fw fa-list-ol"></i> {% trans "Total de Produtos" %}: </strong><span id="totalProducts">-</span> </p>
                {% if billing_type == 1 %}
                <p><strong><i class="fa fa-fw fa-money"></i> {% trans "Valor Total" %}: </strong> U$ <span id="totalCost">-</span></p>
                {% endif %}
{% comment %}
                {% minimum_value_alert %}
{% endcomment %}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label><i class="fa fa-fw fa-file-pdf-o"></i> {% trans "Upload/Download Arquivos" %}:</label><br><br>
                    <label>{{ shipment_form.pdf_1.label }}:</label>{{ shipment_form.pdf_1 }}
                    {% for error in shipment_form.pdf_1.errors %}
                        <label id="{{ shipment_form.pdf_1.id_for_label }}-error" class="error" for="{{ shipment_form.pdf_1.id_for_label }}">{{ error|escape }}</label>
                    {% endfor %}
                </div>
            </div>
          </div>
          {% endfor %}
          <hr />
          <div class="row">
            <div class="col-md-12">
                <h4><i class="fa fa-fw fa-dropbox"></i> {% trans "Informações sobre destino dos produtos (Warehouses)" %}</h4><br>
            </div>
            <div class="lista-warehouses js-inline-admin-formset" id="{{ warehouse_formset.prefix }}-group"
                data-inline-type="stacked"
                data-inline-formset="{{ warehouse_formset.inline_formset_data }}">
                {% for warehouse_form in warehouse_formset %}
                {{ warehouse_form.id }}
                <div class="warehouse col-md-6 inline-related {% if forloop.last %}empty-form{% endif %}"
                    id="{{ warehouse_formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                    <label for="{{ warehouse_form.name.id_for_label }}" class="inline_label">
                        {{ warehouse_form.name.label }} #{{ forloop.counter }}
                    </label>
                    {{ warehouse_form.shipment }}
                    <input type="text" class="form-control warehouse_validate required-validate" id="{{ warehouse_form.name.id_for_label }}" name="{{ warehouse_form.name.html_name }}" value="{% if warehouse_form.name.value %}{{ warehouse_form.name.value }}{% endif %}" placeholder="{% trans 'Local de envio dos produtos...' %}" />
                    {% for error in warehouse_form.name.errors %}
                        <label id="{{ warehouse_form.name.id_for_label }}-error" class="error" for="{{ warehouse_form.name.id_for_label }}">{{ error|escape }}</label>
                    {% endfor %}
                    <br>
                    <textarea class="form-control textarea-wh wh-ck" name="{{ warehouse_form.description.html_name }}" id="{{ warehouse_form.description.id_for_label }}" style="visibility: hidden; display: none;">{% if warehouse_form.description.value %}{{ warehouse_form.description.value }}{% endif %}</textarea>
                    {% if user|has_shipment_perm:'delete_warehouse' and warehouse_formset.can_delete %}
                        {% if forloop.first is False %}
                        <div class="">
                            <a class="rem-wh btn btn-danger inline-deletelink" title="{{ warehouse_formset.deleteText }}" href="#"><i class="fa fa-fw fa-times"></i> {{ warehouse_formset.deleteText }}</a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="col-md-12"><br>
                <a class="add-wh btn btn-success {{ warehouse_formset.prefix }}-add-row add-row" title="{{ warehouse_formset.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus"></i>{% trans "Adicionar warehouse" %}</a>
            </div>
            <br>
          </div>
          <div class="row">
            <button class="btn btn-primary filtar-btn alterar-status" id="send-btn" type="submit"><i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}</button><br><br>
            <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br><br>
           </div>
        </form>
          </div>
          {% endif %}
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>

{% endblock %}
