{% extends 'includes/layout.html' %}
{% load i18n l10n permissions users shipments commons %}
{% block listashipment %}active{% endblock %}

{% block specific_styles %}
<link href="/static/css/inlines.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<!-- Passo 1 -->

 <div class="container-fluid">
      <div class="row">
        {% if user|has_shipment_perm:'view_shipments' %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-archive"></i> {% trans "Envio" %} {{ shipment.id }}</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "Nome" %}</th>
                  <th>{% trans "Descrição" %}</th>
                  <th class="center">{% trans "Quantidade" %}</th>
                  {% if user|has_user_perm:'view_users' %}
                  <th>{% trans "Usuário" %}</th>
                  {% endif %}
                  {% if shipment.status == 1 and user|has_shipment_perm:'change_shipment' %}
                  <th>{% trans "Retirar" %}</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                  <td>{{ product.product.id }}</td>
                  <td>{{ product.product.name }}</td>
                  <td>{{ product.product.description }}</td>
                  <td class="center">{{ product.quantity }}</td>
                  {% if user|has_user_perm:'view_users' %}
                  <td>{{ shipment.user.first_name }}</td>
                  {% endif %}
                  {% if shipment.status == 1 and user|has_shipment_perm:'change_shipment' %}
                  {% trans "Excluir" as delete %}
                  <td>
                      <form method="delete">
                          <input type="hidden" name="delete_product_shipment_id" value="{{ shipment.id }}">
                          <input type="hidden" name="delete_product_product_id" value="{{ product.id }}">
                          <a class="btn btn-danger delete-product-shipment" title="{{ delete }} {{ product.product.name }}" href="#"><i class="fa fa-fw fa-close"></i></a>
                      </form>
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- informacoes das warehouse - cadastro-->
          <br><hr>
          <div class="row">
            <div class="col-md-12">
                <h4><i class="fa fa-fw fa-dropbox"></i> {% trans "Informações sobre destino dos produtos (Warehouses)" %}</h4><br>
            </div>
            <!-- informacoes apos o cadastro-->

            <div class="lista-wh-info">
                {% for warehouse in warehouses %}
                <div class="warehouse-info col-md-6">
                    <label>Warehouse #{{ forloop.counter }}: </label> {{ warehouse.name }} <br>
                    <label>{% trans "Descrição" %}: </label><br>
                    <p>{{ warehouse.description|safe }}</p>
                </div>
                {% endfor %}
            </div>
            <!-- fim infos warehouses -->
            <br>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
                <label><i class="fa fa-fw fa-bar-chart"></i> {% trans "Valores" %}:</label><br><br>
                <p><strong><i class="fa fa-fw fa-list-ol"></i> {% trans "Total de Produtos" %}: </strong><span id="totalProducts">{{ shipment.total_products }}</span> </p>
                <p><strong><i class="fa fa-fw fa-money"></i> {% trans "Valor Total" %}: </strong> U$ <span id="totalCost">{{ shipment.cost|localize }}</span></p>
            </div>
            <div class="col-md-4">
                <p><strong><i class="fa fa-fw fa-calendar"></i> {% trans "Data de Envio" %}: </strong></p>
                <div class="form-group">
                    {{ shipment.send_date }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><i class="fa fa-fw fa-file-pdf-o"></i> {% trans "Upload/Download Arquivos" %}:</label><br><br>
                    <label>{% trans "Etiqueta do produto" %}:</label><br>
                    <a href="{% url 'shipment_pdf_1' 'pdf_1' shipment.id %}" class="download" target="_blank"><i class="fa fa-fw fa-file-pdf-o"></i> Download</a>
                    <br>
                </div>
            </div>
           </div>
           <hr />
           {% trans "Peso" as weight %}
           {% trans "L" as length %}
           {% trans "W" as width %}
           {% trans "H" as height %}
           {% if shipment.status != 1 %}
           <div class="row">
          <!-- lista das informacoes dos pacotes. fiz duas linhas com os possiveis campos -->
             <div class="col-md-12">
                <label><i class="fa fa-fw fa-archive"></i> {% trans "Informações dos pacote(s)" %}:</label><br><br>
                <form action="" method="post" id="form-upload-file" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if shipment.status == 3 %}
                  <input type="hidden" name="add_package_file" value="1">
                  {% elif shipment.status > 3 and user|has_shipment_perm:'add_package' %}
                  <input type="hidden" name="add_package_tracking" value="1">
                  {% endif %}
                  {% if shipment.status <= 3 and user|has_shipment_perm:'add_package' %}
                    <input type="hidden" name="edit_package_warehouse" value="1">
                  {% endif %}
                  {{ packages.management_form }}
                {% for package in packages %}
                    {{ package.id }}
                <div class="form-group pacote-infos">
                    <div class="col-md-12">
                        <hr>
                        <label class="titulo-pct"><span>{% trans "Pacote" %} {{ forloop.counter }}:</span></label>
                    </div>
                    <div class="col-md-2">
                        <label><i class="fa fa-fw fa-truck"></i> {{ package.warehouse.label }}:</label><br><br>
                        {% if shipment.status <= 3 and user|has_shipment_perm:'add_package' %}
                        <p><input type="text" placeholder="{{ package.warehouse.label }}..." name="{{ package.warehouse.html_name }}" class="form-control" id="{{ package.warehouse.id_for_label }}" aria-required="true" value="{% if package.warehouse.value %}{{ package.warehouse.value }}{% endif %}"/></p>
                        {% else %}
                        <p>{{ package.warehouse.value }}</p>
                        <input type="hidden" name="{{ package.warehouse.html_name }}" value="{{ package.warehouse.value }}">
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <label><i class="fa fa-fw fa-info-circle"></i> {% trans "Informações do pacote" %}:</label><br><br>
                        <p>{{ weight }}: {{ package.weight.value|unlocalize }} {% unit_weight_display 1 abbreviate=True %} / {{ length }}: {{ package.length.value|unlocalize }}{% unit_length_display 3 abbreviate=True %} x {{ width }}: {{ package.width.value|unlocalize }}{% unit_length_display 3 abbreviate=True %} x {{ height }}: {{ package.height.value|unlocalize }}{% unit_length_display 3 abbreviate=True %}</p>
                        <input type="hidden" name="{{ package.weight.html_name }}" value="{{ package.weight.value|unlocalize }}">
                        <input type="hidden" name="{{ package.length.html_name }}" value="{{ package.length.value|unlocalize }}">
                        <input type="hidden" name="{{ package.width.html_name }}" value="{{ package.width.value|unlocalize }}">
                        <input type="hidden" name="{{ package.height.html_name }}" value="{{ package.height.value|unlocalize }}">
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-fw fa-file"></i> {{package.pdf_2.label}}:</label><br><br>
                        {% if shipment.status == 2 %}
                        <p>{% trans "Upload não autorizado" %}</p>
                        {% elif shipment.status == 3 %}
                          {% if user == shipment.user or user|has_group:'admins' %}
                        <p>
                            {{ package.pdf_2 }}
                            {% for error in package.pdf_2.errors %}
                            <label id="{{ package.pdf_2.id_for_label }}-error" class="error" for="{{ package.pdf_2.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                        </p>
                          {% else %}
                        <p>{% trans "Upload não permitido" %}</p>
                          {% endif %}
                        {% else %}
                        <p><a href="{% url 'shipment_pdf_2' 'pdf_2' package.id.value %}" class="download" target="_blank">Download</a></p>
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="{{ package.shipment_tracking.id_for_label }}"><i class="fa fa-fw fa-file-pdf-o"></i> {{ package.shipment_tracking.label }}:</label><br><br>
                            <p>
                                {% if shipment.status > 3 and user|has_shipment_perm:'add_package' %}
                                <input type="text" name="{{ package.shipment_tracking.html_name }}" class="form-control" id="{{ package.shipment_tracking.id_for_label }}" value="{% if package.shipment_tracking.value %}{{ package.shipment_tracking.value }}{% endif %}" />
                                {% for error in package.shipment_tracking.errors %}
                                <label id="{{ package.shipment_tracking.id_for_label }}-error" class="error" for="{{ package.shipment_tracking.id_for_label }}">{{ error|escape }}</label>
                                {% endfor %}
                                {% elif shipment.status == 5 and shipment.shipment != '' %}
                                {% if package.shipment_tracking.value %}{{ package.shipment_tracking.value }}{% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                <br>
                {% endif %}
                {% endfor %}
                </form>
             </div>
          <!-- fim lista pacotes -->
           </div>
           <br>
           <hr />
           {% endif %}
           <div class="row">
               <h4><i class="fa fa-fw fa-step-forward"></i> {% trans "Status" %}: </h4> {% trans "Acompanhe abaixo o status do envio" %}:<br><br><br>

               <div class="progress">
                  <div class="progress-bar progress-bar-success {% status_bar shipment %}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  </div>
               </div>

               <div class="col-md-12 itens-progress">
                   <div class="col-md-3 center">
                        <label><i class="fa fa-2x fa-fw fa-plus-square"></i><br>{% trans "Preparando para Envio" %}</label>
                   </div>
                   <div class="col-md-3 center">
                        <label><i class="fa fa-2x fa-shopping-cart"></i><br>{% trans "Pagamento Autorizado" %}</label>
                   </div>
                   <div class="col-md-3 center">
                        <label><i class="fa fa-2x fa-file-pdf-o"></i><br>{% trans "Upload Etiqueta Caixa Autorizado" %}</label>
                   </div>
                   <div class="col-md-2 center">
                        <label><i class="fa fa-2x fa-list-alt"></i><br>{% trans "Checagens Finais" %}</label>
                   </div>
                   <div class="col-md-1 item-progress last">
                        <label><i class="fa fa-2x fa-thumbs-up"></i><br>{% trans "Enviado" %}</label>
                   </div>
               </div>
           </div><hr />
           {% if shipment.status == 1 and user|has_shipment_perm:'add_package' %}
           <div class="row">
               <form action="{% url 'shipment_details' shipment.id %}" method="post" id="form-add-package">
                   {% csrf_token %}
               <input type="hidden" name="add_shipment_package" value="1">
               <h4><i class="fa fa-fw fa-line-chart"></i> {% trans "Área Administrativa" %}</h4><br><br><br>
               <div class="col-md-12 js-inline-admin-formset" id="{{ packages.prefix }}-group"
               data-inline-type="stacked"
               data-inline-formset="{{ packages.inline_formset_data }}">
                   {{ packages.management_form }}
                   <label>{% trans "Informações pacote(s)" %}:</label>
                    <div class="lista-pacotes-cadastro">
                   {% for package_form in packages %}
                     <div class="form-group pacote-infos pacote-infos-item inline-related {% if forloop.last and not forloop.first %} empty-form{% endif %}"
                         id="{{ packages.prefix }}-{% if not forloop.last or forloop.first %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                       {{ package_form.id }}
                       {{ package_form.shipment }}
                        <div class="col-md-2">
                            <label class="filtar-btn-m inline_label">{% trans "Pacote" %} #{{ forloop.counter }}: </label>
                        </div>

                        <!-- campo novo para inserir a warehouse para onde ira o pacote -->

                        <div class="col-md-3">
                            <input type="text" placeholder="{{ package_form.warehouse.label }}..." name="{{ package_form.warehouse.html_name }}" class="form-control required-validate" id="{{ package_form.warehouse.id_for_label }}" aria-required="true" value="{% if package_form.warehouse.value %}{{ package_form.warehouse.value }}{% endif %}"/>
                        </div>

                        <!-- fim campo novo -->

                        <div class="col-md-1">
                            <input type="text" placeholder="{{ package_form.weight.label }}..." name="{{ package_form.weight.html_name }}" class="form-control required-number-validate" id="{{ package_form.weight.id_for_label }}" value="{% if package_form.weight.value %}{{ package_form.weight.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.weight.errors %}
                              <label id="{{ package_form.weight.id_for_label }}-error" class="error" for="{{ package_form.weight.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge">{% trans "em" %} {% unit_weight_display 1 %}</span>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="{{ package_form.length.label }}..." name="{{ package_form.length.html_name }}" class="form-control required-number-validate" id="{{ package_form.length.id_for_label }}" value="{% if package_form.length.value %}{{ package_form.length.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.length.errors %}
                              <label id="{{ package_form.length.id_for_label }}-error" class="error" for="{{ package_form.length.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge profun">{% trans "em" %} {% unit_length_display 3 %}</span><br><br>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="{{ package_form.width.label }}..." name="{{ package_form.width.html_name }}" class="form-control required-number-validate" id="{{ package_form.width.id_for_label }}" value="{% if package_form.width.value %}{{ package_form.width.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.width.errors %}
                              <label id="{{ package_form.width.id_for_label }}-error" class="error" for="{{ package_form.width.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge largura">{% trans "em" %} {% unit_length_display 3 %}</span>
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="{{ package_form.height.label }}..." name="{{ package_form.height.html_name }}" class="form-control required-number-validate" id="{{ package_form.height.id_for_label }}" value="{% if package_form.height.value %}{{ package_form.height.value|unlocalize }}{% endif %}" />
                            {% for error in package_form.height.errors %}
                              <label id="{{ package_form.height.id_for_label }}-error" class="error" for="{{ package_form.height.id_for_label }}">{{ error|escape }}</label>
                            {% endfor %}
                            <span class="badge altura">{% trans "em" %} {% unit_length_display 3 %}</span>
                        </div>
                        {% if forloop.first is False %}
                        <div class="col-md-2">
                            <a class="rem-track btn btn-danger rem-pacote-shipment inline-deletelink" title="{{ packages.deleteText }}" href="#"><i class="fa fa-fw fa-times"></i></a>
                        </div>
                        {% endif %}
                     </div>
                   {% endfor %}
                     <div class="col-md-12">
                         <a class="add-track btn btn-success add-pacote-shipment {{ packages.prefix }}-add-row add-row" title="{{ packages.addText }}" href="javascript:void(0);"><i class="fa fa-fw fa-plus"></i> {% trans "Adicionar Pacote ao Envio" %}</a>
                     </div>
                    </div>
              </div>
              </form>
           </div><hr />
           {% endif %}
           {% if shipment.status == 2 %}
            {% if user == shipment.user or user|has_group:'admins' %}
             {{ paypal_form.render }}
             <br><br>
            {% endif %}
           {% endif %}
             <div class="row">
                {% if shipment.status == 4 and user|has_group:'admins' %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-final" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Enviar e Finalizar Envio" %}
                </a>
                <br><br>
                {% endif %}
                {% if shipment.status == 1 and user|has_shipment_perm:'add_package' %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-1" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}
                </a>
                <br><br>
                {% endif %}
                {% if shipment.status == 3 %}
                 {% if user == shipment.user or user|has_group:'admins' or user|has_shipment_perm:'add_package' %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-3" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}
                </a>
                <br><br>
                 {% endif %}
                {% endif %}
                {% if shipment.status == 5 or shipment.status == 2 %}
                 {% if user|has_shipment_perm:'add_package' %}
                <a class="btn btn-primary filtar-btn alterar-status" id="send-btn-5" href="#">
                    <i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}
                </a>
                <br><br>
                 {% endif %}
                {% endif %}


                 <!-- Botao arquivar -->
                    <!--<a class="btn btn-danger filtar-btn alterar-status" id="archive-btn" href="#">-->
                        <!--<i class="fa fa-fw fa-archive"></i> {% trans "Arquivar Envio" %}-->
                    <!--</a>-->
                 <!-- botao arquivar -->

                <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a>
                <br><br><br><br>
             </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    {% if shipment.status == 4 and user|has_group:'admins' %}
    <div id="send-shipment-confirmation" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Confirmação" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Confirma a conclusão do processo de envio?" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="send-btn-final-confirmation" class="btn btn-danger">{% trans "Sim" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
