{% extends 'includes/layout.html' %}
{% load i18n l10n tz lots permissions users commons %}

{% block logo %}
    <a href="/" class="navbar-brand page-scroll">
        <img class="logo-fba" src="/static/img/logo-lots.png" />
    </a>
{% endblock %}

{% block conteudo %}

<div class="container-fluid">
      <div class="row">
        <div class="col-md-1 sidebar">

        </div>
        {% timezone_name LANGUAGE_CODE as mytz %}
        <div class="col-md-10 main">
          <h1 class="page-header"><i class="fa fa-cart-arrow-down"></i> {{ lot.name }}</h1>
          <div class="row">
              {% if lot.collaborator %}
              <!-- bloco de informação do colaborador. Só aparece quando um colaborador fr o vendedor do lote -->
              <div class="col-md-3 content-partner">
                  <p>{% trans "Lote vendido pelo colaborador" %}:</p>
                  <img src="/static/img/team/1.png" /><br /><br />
                  <div class="infos-parceiro ">
                      <p><strong>{{ lot.collaborator.name }}</strong> </p>
                      {% stars lot.collaborator.rating as stars_rating %}
                      <div class="rating {{ stars_rating }}">
                           <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                       </div><br /><br />
                  </div>
              </div>
              <!-- Fim do bloco novo-->
              {% endif %}
              <div class="col-md-4">
                  <p><strong>{% trans "Situação" %}: </strong> {% if lot.status %}<strong>{{ lot.get_status_display  }}</strong>{% endif %}</p>
                  <p>
                  {% timezone mytz %}
                      <strong>{% trans "Data venda" %}: </strong> {% if lot.sell_date %}{{ lot.sell_date }}{% endif %}
                  {% endtimezone %}
                  </p>
{% comment %}
                  <p><strong>{% trans "Custo dos Produtos" %} <span class="help help-tooltip help-icon" title="{% trans 'Soma de todos os &quot;Custos dos Produtos&quot; multiplicados pela &quot;Quantidade&quot; de produtos de cada produto do lote.' %}"></span>: </strong> U$ {{ lot.products_cost|localize }}</p>
{% endcomment %}
                  <p><strong>{% trans "Lucro" %} <span class="help help-tooltip help-icon" title="{% trans 'Soma de todos os &quot;Lucros Totais&quot; dos produtos do lote.' %}"></span>: </strong> U$ {{ lot.profit|localize }}</p>
              </div>
              <div class="col-md-3">
                  <p>
                      <strong>
                          {% if lot.destination == 1 %}
                          {% trans "ROI médio" %} <span class="help help-tooltip help-icon" title="{% trans 'Soma de todos os &quot;ROI&quot; divididos pelo número de produtos do lote.' %}"></span>:
                          {% else %}
                          {% trans "Retorno Estimado" %} <span class="help help-tooltip help-icon" title="{% trans 'Soma de todos os &quot;Retornos Estimados&quot; divididos pelo número de produtos do lote.' %}"></span>:
                          {% endif %}
                      </strong> {{ lot.average_roi|localize }}%
                  </p>
{% comment %}
                  <p><strong>{% trans "Redirecionamento" %} <span class="help help-tooltip help-icon" title="{% trans 'Este valor é somente informativo, ele será pago no processo de criação do envio por esta plataforma.' %}"></span>: </strong> U$ {{ lot.redirect_cost|localize }}</p>
{% endcomment %}
                  <p><strong>{% trans "Total a pagar" %} <span class="help help-tooltip help-icon" title="{% trans 'Soma de todos os &quot;Valores de Compra&quot; multiplicados pela &quot;Quantidade&quot; de produtos de cada produto do lote.' %}"></span>: </strong> U$ {{ lot.lot_cost|localize }}</p>
              </div>
              <div class="col-md-2">
                  {% if lot.payment_complete is False %}
                  <!-- Aparece apenas para usuarios comuns -->
                    <br><br>
                    {% render_payment_button paypal_form lot.id lot.destination %}
                  <!-- fim botao compra

                  <a href="#" class="btn btn-default"><i class="fa fa-credit-card"></i> {% trans "Pagar com Cartão de Crédito" %}</a>
                  -->
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <br><h3><i class="fa fa-list-ol"></i> {% trans "Produto(s)" %}</h3><br />
{% if LANGUAGE_CODE == 'pt' %}
              {% if lot.description %}
                  <div class="bs-example" id="lot-alert">
                     <div class="alert alert-warning">
                        <strong>{% trans "Fique atento" %}!</strong> {{ lot.description }}.
                     </div>
                  </div>
              {% endif %}
              <div class="bs-example" id="alerta-valor-minimo">
                 <div class="alert alert-info">
                   {% url 'terms' as terms_url %}
                   {% timezone mytz %}
                    {% blocktrans with lot_create_date=lot.create_date|date:'SHORT_DATE_FORMAT' %}
                    <strong>Importante!</strong> É imprescindível que o usuário realize a sua própria análise antes de finalizar a compra. As informações abaixo utilizam ferramentas automatizadas para a inserção dos valores, passíveis de variações. Caso tenha dúvidas, leia nossos termos <a href="{{ terms_url }}"><strong>Clicando aqui</strong></a>.
                    {% endblocktrans %}
                   {% endtimezone %}
                 </div>
              </div>
{% endif %}
          </div>
          {% for product in lot.product_set.all %}
          {% if forloop.counter0|divisibleby:3 %}
          <div class="row lista itens">
          {% endif %}
              <div class="col-md-4 item">
                  <div class="col-md-12">
                      <p class="nome"><strong>{% trans "Nome" %}:</strong><br> {{ product.name }}</p>
                  </div>

                  {% if lot.destination == 1 %}
                  <div class="col-md-12">
                      <p><strong>{% trans "Rank" %}:</strong> {{ product.rank|localize }}%</p>
                  </div>
                  {% endif %}

                  <div class="col-md-12">
                      <p>
                          <strong>
                              {% if lot.destination == 1 %}
                              {% trans "UPC / CODIGO IDENTIFICADOR" %}:
                              {% elif lot.destination == 2 %}
                              {% trans "UPC" %}:
                              {% endif %}
                          </strong>
                          <br> {{ product.identifier }}
                      </p>
                  </div>
                  <div class="col-md-12">
                      <p><strong>{% trans "Condição" %}:</strong><br> {% if product.condition %}{{ product.get_condition_display }}{% endif %}</p>
                  </div>
                  <div class="col-md-6">
                      {% calculate_buy_price product as product_buy_price %}
                      <p><strong>{% trans "Valor de Compra" %}:</strong><br> U$ {{ product_buy_price|localize }}</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>{% trans "Quantidade" %}:</strong><br> {{ product.quantity }}</p>
                  </div>

                  {% if lot.destination == 1 %}
                  <div class="col-md-6">
                      <p><strong>{% trans "Valor de Venda" %}:</strong><br> U$ {{ product.sell_price|localize }}</p>
                  </div>
                  <div class="col-md-6">
                      <p>
                          <strong>
                              {% if lot.destination == 1 %}
                              {% trans "Tarifa FBA" %}:
                              {% elif lot.destination == 2 %}
                              {% trans "Fee Ebay" %}:
                              {% endif %}
                          </strong>
                          <br> U$ {{ product.fba_fee|localize }}
                      </p>
                  </div>
{% comment %}
                  <div class="col-md-6">
                      <p><strong>{% trans "Tarifa Amazon" %}:</strong><br> U$ {{ product.amazon_fee|localize }}</p>
                  </div>
{% endcomment %}
                  <div class="col-md-12">
                      <p><strong>{% trans "Redirecionamento" %}:</strong><br> {% trans "Grátis" %}</p>
                  </div>
                  <div class="col-md-12">
                      <p>
                          <strong>
                              {% if lot.destination == 1 %}
                              {% trans "Custo de Envio para Amazon" %}:
                              {% elif lot.destination == 2 %}
                              {% trans "Shipping estimado para o cliente" %}:
                              {% endif %}
                          </strong>
                          <br> U$ {{ product.shipping_cost|localize }}
                      </p>
                  </div>
{% comment %}
                  <div class="col-md-12">
                      <p><strong>{% trans "Custo do Produto" %} <span class="help help-tooltip help-icon" title="{% trans 'Valor informativo que é composto por: &quot;Valor de Compra&quot; mais &quot;Tarifa FBA&quot; mais &quot;Tarifa Amazon&quot; mais &quot;Redirecionamento&quot; mais &quot;Custo de Envio para Amazon&quot;.' %}"></span>:</strong><br> U$ {{ product.product_cost|localize }}</p>
                  </div>
{% endcomment %}
                  <div class="col-md-12">
                      <p><strong>{% trans "Lucro Líquido por Unidade" %} <span class="help help-tooltip help-icon" title="{% trans 'Valor informativo que é composto por: &quot;Valor de Venda&quot; menos &quot;Custo do Produto&quot;.' %}"></span>:</strong><br> U$ {{ product.profit_per_unit|localize }}</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>{% trans "Lucro Total" %} <span class="help help-tooltip help-icon" title="{% trans 'Valor informativo que é composto por: &quot;Lucro líquido por Unidade&quot; vezes &quot;Quantidade&quot;.' %}"></span>:</strong><br> U$ {{ product.total_profit|localize }}</p>
                  </div>
                  <div class="col-md-6">
                      <p><strong>{% trans "ROI" %} (%):</strong><br> {{ product.roi|localize }}</p>
                  </div>
                  {% endif %}

                   <!-- Campo observação-->
                  <div class="col-md-12">
                        <p><strong>{% trans "Observação" %}:</strong><br> {% if product.notes %}{{product.notes}}.{% endif %}</p>
                  </div>

                  {% if lot.destination == 1 %}
                  {% if product.url %}
                  <!-- btn link para amazon -->
                  <div class="col-md-12">
                        <a class="btn btn-default link-amz" target="_blank" href="{{ product.url }}">
                            <i class="fa fa-amazon"></i>
                            {% if lot.destination == 1 %}
                              {% trans 'Veja o Produto na Amazon' %}
                            {% elif lot.destination == 2 %}
                              {% trans 'Veja o Produto na Ebay' %}
                            {% endif %}
                        </a>
                  </div>
                  {% endif %}
                  {% endif %}

              </div>
          {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div>
          {% endif %}
          {% endfor %}
            {% if lot.payment_complete is False %}
                <!-- Aparece apenas para usuarios comuns -->
                <br><br>
                {% render_payment_button paypal_form lot.id lot.destination %}
                <!-- fim botao compra -->

                <!-- Botão compra cartão


                <a href="#" class="btn btn-default"><i class="fa fa-credit-card"></i> {% trans "Pagar com Cartão de Crédito" %}</a>
                -->
                <br><br>
                {% if user|has_store_perm:'change_lot' %}
                <a href="{%url 'admin:store_lot_change' lot.id %}" class="btn btn-primary"><i class="fa fa-fw fa-pencil"></i> {% trans "Editar" %}</a>
                {% endif %}
                {% if user|has_store_perm:'delete_lot' %}
                <a href="#" class="btn btn-danger send-btn-delete"><i class="fa fa-fw fa-trash"></i> {% trans "Excluir" %}</a><br><br>
                {% endif %}
            {% endif %}
            <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a>
            <br><br><br>
        </div>
        <div class="col-md-1 sidebar">
        </div>
      </div>
    </div>
    <div id="modal-store-subscribe" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Acesso à compra de lotes" %}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {% blocktrans %}
                        Você está em nossa fila de espera de assinantes.<br>
                        Assim que liberarmos mais vagas, você receberá um email de notificação.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="modal-footer">
                    <!--<button type="submit" class="btn btn-danger">{% trans "Sim" %}</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% if user|has_store_perm:'delete_lot' and lot.payment_complete is False %}
    <form action="{%url 'admin:store_lot_delete' lot.id %}" method="post" class="form-delete-lot" id="form-delete-lot">
    {% csrf_token %}
    <div id="confirmacao-exclusao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Excluir" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Confirma a exclusão do lote?" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">{% trans "Sim" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    {% endif %}
{% endblock %}