{% extends 'includes/layout.html' %}
{% load i18n l10n permissions users commons lots %}
{% block storelist %}active{% endblock %}

{% block conteudo %}
    <div class="banner-lote">
        <div class="">
            <h2><i class="fa fa-ban"></i><span class="text-gg">{% trans "Chega" %}</span> {% trans "de problemas para encontrar produtos" %}</h2>
            <h2><i class="fa fa-credit-card"></i><span class="text-gg">{% trans "Chega" %}</span> {% trans "de problemas para pagar com seu cartão de crédito do Brasil" %}</h2>
            <h2><img src="/static/img/sale-img.png" width="100%" /> </h2>
            <h2><i class="fa fa-motorcycle"></i><span class="text-gg">{% trans "Agora" %}</span> {% trans "Você não paga mais redirecionamento." %} <strong>{% trans "Com a gente é grátis" %}</strong></h2>
            <h2><i class="fa fa-chart-line"></i><span class="text-gg">{% trans "Agora" %}</span> {% trans "preocupe-se apenas com o crescimento do seu negócio. Nós pensamos tudo pra você" %}</h2>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">
          <form action="" method="get" id="form-filter-store" class="form-filter"></form>
<!--
        <div class="col-md-2 sidebar">
            <form action="" method="get" id="form-filter-store" class="form-filter">
            <div class="filtros">
                <label><i class="fa fa-filter"></i> {% trans "Filtros" %}</label>
                <div class="filtros-box">
                    <h6>Valor</h6>
                    <div class="form-group">
                        <label for="input-valor-500" id="valor-500">
                            <input type="checkbox" class="form-control" id="input-valor-500" name="value" value="-;500" {% if '-;500' in filter_values.value %}checked="checked"{% endif %} />
                            {% trans "Até $ 500.00" %}
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="input-valor-1000" id="valor-1000">
                            <input type="checkbox" class="form-control" id="input-valor-1000" name="value" value="500;1000" {% if '500;1000' in filter_values.value %}checked="checked"{% endif %} />
                            {% trans "De $ 500.00 até $ 1000.00" %}
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="input-valor-acima" id="valor-acima">
                            <input type="checkbox" class="form-control" id="input-valor-acima" name="value" value="1000;-" {% if '1000;-' in filter_values.value %}checked="checked"{% endif %} />
                            {% trans "Acima de $ 1000.00" %}
                        </label>
                     </div>
                </div>
                <div class="filtros-box">
                    <h6>{% trans "Rank" %}</h6>
                    <div class="form-group">
                        <label for="input-rank-1" id="rank-1">
                            <input type="checkbox" class="form-control" id="input-rank-1" name="rank" value="-;1" {% if '-;1' in filter_values.rank %}checked="checked"{% endif %} />
                            {% trans "Até 1%" %}
                        </label><br/>
                     </div>
                    <div class="form-group">
                        <label for="input-rank-3" id="rank-3">
                            <input type="checkbox" class="form-control" id="input-rank-3" name="rank" value="1;3" {% if '1;3' in filter_values.rank %}checked="checked"{% endif %} />
                            {% trans "De 1% até 3%" %}
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="input-rank-5" id="rank-5">
                            <input type="checkbox" class="form-control" id="input-rank-5" name="rank" value="3;5" {% if '3;5' in filter_values.rank %}checked="checked"{% endif %} />
                            {% trans "De 3% até 5%" %}
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="input-rank-acima" id="rank-acima">
                            <input type="checkbox" class="form-control" id="input-rank-acima" name="rank" value="5;-" {% if '5;-' in filter_values.rank %}checked="checked"{% endif %} />
                            {% trans "Acima de 5%" %}
                        </label>
                     </div>
                </div>
                <div class="filtros-box">
                    <h6>{% trans "ROI" %}</h6>
                    <div class="form-group">
                        <label for="input-roi-50" id="roi-50">
                            <input type="checkbox" class="form-control" id="input-roi-50" name="roi" value="-;50" {% if '-;50' in filter_values.roi %}checked="checked"{% endif %} />
                            {% trans "Até 50%" %}
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="input-roi-70" id="roi-70">
                            <input type="checkbox" class="form-control" id="input-roi-70" name="roi" value="50;70" {% if '50;70' in filter_values.roi %}checked="checked"{% endif %} />
                            {% trans "De 50% até 70%" %}
                        </label>
                     </div>
                    <div class="form-group">
                        <label for="input-roi-acima" id="roi-acima">
                            <input type="checkbox" class="form-control" id="input-roi-acima" name="roi" value="70;-" {% if '70;-' in filter_values.roi %}checked="checked"{% endif %} />
                            {% trans "Acima de 70%" %}
                        </label>
                     </div>
                </div>
                <div class="filtros-box">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary filtar-btn" id="filtro"><i class="fa fa-fw fa-filter"></i> {% trans "Filtrar" %}</button>
                    </div>
                </div>
            </div>
            </form>
        </div>--><div class="col-md-1"></div>
        <div class="col-md-10 main loja">
          {% log_message '@#@#@#@#@#@#@#@#@#@#@@#@#@#@#@#@#@#@#@' %}
          {% for lot in lots %}
          {% if forloop.counter0|divisibleby:4 %}
          <div class="row">
          {% endif %}

              <!-- A classe parceiro deve ser inserida, como está abaixo, quando o box for de um lote de parceiro-->

              <div class="box-container-lote{% if lot.collaborator %} parceiro{% endif %}">
                 {% is_subscriber user lot=lot as is_user_subscriber %}
                 {% if is_user_subscriber %}
                 <a href="{% url 'store_lot_details' lot.id %}" class="box-lote{% if lot.status == 2 %} vendido{% endif %}">
                 {% else %}
                 <a href="#" class="box-lote{% if lot.status == 2 %} vendido{% endif %} not-subscriber">
                 {% endif %}
                     {% if lot.status == 2 %}
                     <p class="vendido-text">{% trans "Vendido" %}</p>
                     {% endif %}
                     <div class="foto">
                        {% if lot.thumbnail %}
                         <img src="/media/{{ lot.thumbnail }}" />
                        {% else %}
                         <img src="/static/img/default-voi.png" />
                        {% endif %}
                     </div>
                     {% is_vip lot as is_lot_vip %}
                     <div class="descricao-lote-prod">
                        <h6>{{ lot.name }}</h6>
                        <p class="valor-prod">U$ {{ lot.lot_cost|localize }} </p>
                        {% if is_lot_vip %}
                        <span class="lot-subscribers">{% trans "Somente Assinantes" %}</span>
                        {% endif %}
                        <br>
                        <p class="lucro-prod">{% trans "Lucro" %}: U$ {{ lot.profit|localize }}</p>
                        <p class="lucro-prod">{% trans "Número de Itens" %}: {{ lot.products_quantity }}</p>
                        <p class="lucro-prod">{% trans "ROI" %}: {{ lot.average_roi|localize }}% | Rank: {{ lot.average_rank|localize }}%</p>
                        {% if lot.collaborator %}
                        <!--Conteúdo novo -->
                        <p class="lucro-prod parceiro-titulo"><strong>{% trans "Vendido por" %}:  </strong>{{ lot.collaborator.name }}</p>
                        <!--
                        Esse conteúdo abaixo é o rating. Só deve aparecer nos lotes que são de parceiros
                        abaixo coloquei uma classe pra data avaliacao. de um até cinco por extenso. cada classe vai mostrar o número de estrelas.
                        -->
                        {% stars lot.collaborator.rating as stars_rating %}
                        <div class="rating {{ stars_rating }} ">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                         <!-- Fim conteúdo novo -->
                        {% endif %}
                        {% if is_lot_vip %}
                          <!-- selo vip. Só vai aparecer quando o lote estiver nas primeiras 24 horas-->
                            <img class="img-vip" src="/static/img/vip.png" width="" />
                         <!-- Fim selo -->
                        {% endif %}

                     </div>

{% comment %}
                     <!-- Bloco com o contador. Muda a cor e o texto de acordo com as primeiras 24/48Hrs
                           para isso, quando passar pra publico, muda a classe da div abaixo de "tempo privado" para "tempo publico".

                           quando estiver publico, mudar o texto para "Tempo para o lote ser retirado".
                     -->
{% endcomment %}
                     {% lot_countdown user lot as lot_countdown_time %}
                     {% if lot_countdown_time %}
                     <div class="tempo {% if is_lot_vip %}privado{% else %}publico{% endif %} countdown-section">
                         <p class="lucro-prod countdown-message">
                             {% if is_lot_vip %}
                             {% trans "Tempo para deixar de ser VIP" %}
                             {% else %}
                             {% trans "Tempo para ser retirado" %}
                             {% endif %}
                         </p>
                         <p class="lucro-prod countdown" data-countdown="{{ lot_countdown_time }}" data-lid="{{ lot.id }}"> </p>
                     </div>
                     {% endif %}

                 </a>
              </div>
          {% if forloop.counter|divisibleby:4 or forloop.last %}
          </div>
          {% endif %}
          {% endfor %}

          <div class="row">
              <nav aria-label="...">
                {% if lots.has_other_pages %}
                  <ul class="pagination">
                    {% if lots.has_previous %}
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ lots.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in lots.paginator.page_range %}
                      {% if lots.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if lots.has_next %}
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ lots.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </nav>
          </div>
        </div>
          <div class="col-md-1"></div>
      </div>
    </div>
    <div id="modal-store-subscribe" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Acesso à compra de lotes" %}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {% blocktrans %}
                        Conteúdo somente para assinantes.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="modal-footer">
                    <!--<button type="submit" class="btn btn-danger">{% trans "Sim" %}</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}