{% extends 'includes/layout.html' %}
{% load i18n l10n permissions users commons %}
{% block lotes-u %}active{% endblock %}

{% block conteudo %}
    <div class="banner-lote">
        <div class="">
            <h2><span class="text-gg">{% trans "Chega" %}</span> {% trans "de problemas para encontrar produtos" %}</h2>
            <h2><span class="text-gg">{% trans "Chega" %}</span> {% trans "de problemas para pagar com seu cartão de crédito do Brasil" %}</h2>
            <h2><img src="/static/img/sale-img.png" width="100%" /> </h2>
            <h2><span class="text-gg">{% trans "Agora" %}</span> {% trans "preocupação apenas com o crescimento do seu negócio. Nós pensamos tudo pra você" %}</h2>
            <h2><span class="text-gg">{% trans "Agora" %}</span> {% trans "com poucos cliques seus produtos já estarão no seu inventário Amazon" %}</h2>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-10 main">
          <div class="row">
              {% for lot in lots %}
              <div class="box-container-lote">
                 <a href="{% url 'store_lot_details' lot.id %}" class="box-lote{% if lot.status == 2 %} vendido{% endif %}">
                     {% if lot.status == 2 %}
                     <p class="vendido-text">{% trans "Vendido" %}</p>
                     {% endif %}
                     <div class="foto">
                        <img src="/static/img/cacarola.jpg" />
                     </div>
                     <div class="descricao-lote-prod">
                        <h6>{{ lot.name }}</h6>
                        <p class="valor-prod">U$ {{ lot.lot_cost|localize }} </p>
                         <span>{% trans "Somente Assinantes" %}</span><br>
                        <p class="lucro-prod">{% trans "Número de Itens" %}: {{ lot.products_quantity }}</p>
                        <p class="lucro-prod">{% trans "ROI" %}: {{ lot.average_roi|localize }}% | Rank: {{ lot.rank }}%</p>
                     </div>
                 </a>
              </div>
              {% endfor %}
              <nav aria-label="...">
                {% if lots.has_other_pages %}
                  <ul class="pagination">
                    {% if lots.has_previous %}
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ lots.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in lots.paginator.page_range %}
                      {% if lots.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if lots.has_next %}
                      <li><a href="javascript:void(0);" class="pagination-page" data-page="{{ lots.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </nav>
          </div>
        </div>
      </div>
    </div>
{% endblock %}