<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Vendedor Online Internacional" %} - {% trans "Cadastro" %}</title>

    <!-- Bootstrap CSS -->
    <link href="/static/externo/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/externo/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="/static/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    <script src="/static/jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>

</head>

<body id="page-top" class="cadastro-usuario">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> {% trans "Menu" %} <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    {% if LANGUAGE_CODE == 'pt-br' %}
                    <img src="/static/img/logo-maquina-vendas.png" />
                    {% else %}
                    <img src="/static/img/logo-en.png" style="width: 250px;" />
                    {% endif %}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/login/"><strong><i class="fa fa-sign-in"></i></strong> {% trans "Login" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="box-resposta">
            {% if success %}
                {% if expiry is None %}
            <p class="titulo">{% trans "Cadastro validado com sucesso." %}</p>
                    {% if is_active is False %}
            <p>{% trans "Você receberá um e-mail quando o administrador do sistema ativar sua conta." %}</p>
                    {% else %}
            <p>{% trans "Cadastro já se encontra ativo no sistema." %}</p>
                    {% endif %}
            <p><strong>{% trans "Obrigado e sucesso!" %}</strong></p>
                {% else %}
            <p>{% blocktrans %}Enviamos um e-mail para você validar seu cadastro. Este e-mail é válido por {{ expiry }} dias.{% endblocktrans %}</p>
                {% endif %}
            {% else %}
            <p class="titulo download">{% trans "Código de validação inválido." %}</p>
                {% if uidb64 is not None %}
            {% url 'user_validation_resend' uidb64=uidb64 as my_url %}
            <p><a class="download" href="{{ my_url }}">{% trans "Clique aqui" %}</a> {% trans "para receber novamente o e-mail com o link para validação do cadastro." %}</p>
            <p>{% blocktrans %}Lembre-se que o código tem validade de {{ expiry }} dias.{% endblocktrans %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <footer class="fixed-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">{% trans "Copyright &copy; Vendedor Online 2017" %}</span>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline social-buttons"><!--
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/groups/vendedorinternacional/">Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>-->
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                        <li>
                            {% trans "<a href='/termos-e-condicoes-de-uso.html'>Termos e Condições de Uso" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/externo/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/static/externo/jquery/jquery.validate.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/externo/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/applications.js"></script>

</body>

</html>
