{% extends 'includes/layout.html' %}
{% load i18n l10n payments %}
{% block edituser %}active{% endblock %}

{% block conteudo %}

  <div class="container-fluid">
      <div class="row">
        {% if True %}
        <div class="col-md-1 sidebar">

        </div>
        <div class="col-md-6 main">
          <h1 class="page-header"><i class="fa fa-edit"></i> {% trans "Editar cadastro" %}</h1>
            {% is_subscriber_voiprime user as is_voiprime %}
            {% is_subscriber_wcyazs user as is_wcyazs %}
            <form action="" method="post" class="form-edit-user" id="form-edit-user">
              {% csrf_token %}
              {{ user_formset.management_form }}
              {% for form in user_formset %}
                {{ form.id }}
                <div class="form-group col-md-12">
                  <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}*</label>
                    {% blocktrans asvar name with name_label=form.first_name.label|lower %}Digite o {{ name_label }}{% endblocktrans %}
                  <input type="text" class="form-control name_validate" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" placeholder="{{ name }}..." value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                  {% for error in form.name.errors %}
                    <label id="first_name-error" class="error" for="{{ form.first_name.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}*</label>
                    {% blocktrans asvar lastname with last_name_label=form.last_name.label|lower %}Digite o {{ last_name_label }}{% endblocktrans %}
                  <input type="text" class="form-control lastname_validate" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" placeholder="{{ lastname }}..." value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                  {% for error in form.last_name.errors %}
                    <label id="last_name-error" class="error" for="{{ form.last_name.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.email.id_for_label }}">{{ form.email.label }}*</label>
                    {% blocktrans asvar email with email_label=form.email.label|lower %}Digite o {{ email_label }}{% endblocktrans %}
                  <input type="email" class="form-control email_validate" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="{{ email }}..." value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                  {% for error in form.email.errors %}
                    <label id="email-error" class="error" for="{{ form.email.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
{% comment %}
                  <div class="form-group col-md-12">
                    <label for="{{ form.amz_store_name.id_for_label }}">{% trans "Nome da sua loja na Amazon" %}</label>
                      {% trans "Digite o nome da loja na Amazon" as amzstore %}
                    <input type="text" class="form-control" id="{{ form.amz_store_name.id_for_label }}" aria-describedby="amzstoreHelp" name="{{ form.amz_store_name.html_name }}" placeholder="{{ amzstore }}..." value="{% if form.amz_store_name.value %}{{ form.amz_store_name.value }}{% endif %}">
                    {% for error in form.amz_store_name.errors %}
                      <label id="amzstore-error" class="error" for="{{ form.amz_store_name.id_for_label }}">{{ error|escape }}</label>
                    {% endfor %}
                  </div><br>
{% endcomment %}
                <div class="form-group col-md-12">
                  <label for="{{ form.cell_phone.id_for_label }}">{{ form.cell_phone.label }}*</label>
                    {% trans "Digite o telefone, celular de preferência" as cell_phone %}
                  <input type="number" class="form-control cell_phone_validate" id="{{ form.cell_phone.id_for_label }}" name="{{ form.cell_phone.html_name }}" placeholder="{{ cell_phone }}..." value="{% if form.cell_phone.value %}{{ form.cell_phone.value }}{% endif %}">
                  {% for error in form.cell_phone.errors %}
                    <label id="cell_phone-error" class="error" for="{{ form.cell_phone.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                    {% trans "Digite o telefone" as phone %}
                  <input type="number" class="form-control phone_validate" id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" placeholder="{{ phone }}..." value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}">
                  {% for error in form.phone.errors %}
                    <label id="phone-error" class="error" for="{{ form.phone.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
{% comment %}
                <!-- Assinante -->
                <div class="form-group terms-cond">
                   <label for="assinante-check" id="assinante-check">
                       <input type="checkbox" class="form-control" id="assinante" name="assinante" value="1" checked />
                       {% trans "Quero me tornar um assinante" %}
                   </label>
                   <a href="javascript:void(0);" id="btn-explicacao" class="assinante-link">?</a>
                </div>
{% endcomment %}
              {% endfor %}
              <button type="submit" id="send-btn" class="btn btn-primary" onclick="$('.loading').show();"><i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}</button><br><br>
              <a href="/"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br>
            </form>
        </div>
          <div class="col-md-4 box-cad-esquerda">
                <div class="box-valor">
                    <h3 class="page-header"> {% trans "Nossos planos disponíveis" %}:</h3>
                </div>

            <div class="box-comparativo-valor">
                <div class="box-valor">
                    <p class="seja center">VOI Prime</p>
                    <p class="assinate-span"><span>U$ 74,90</span>/{% trans "mês" %}</p><br>
                    <small>*{% trans "Sem adesão. Cancele a qualquer momento" %}.</small>
                    <ul>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>{% trans "Prioridade na Compra de lotes (Primeiras 24hrs)" %}</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>{% trans "Envio para Amazon em até 3 dias úteis após a compra" %}</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>{% trans "Redirecionamento Grátis" %}</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>{% trans "Descontos nos serviços de redirecionamento" %}</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span><a href='https://voiservices.com/en/voi-prime/' class='download'>{% trans "Saiba Mais" %}</a></span></li>
                    </ul>
                    {% if is_voiprime is False %}
                    <div class="contem-btn-ass">
                         <a class="btn btn-primary" href="{% url 'user_subscribe' 1 %}" target="_blank"><i class="fa fa-fw fa-user-plus"></i> {% trans "Assinar" %}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
                <br><!--
                <div class="box-comparativo-valor">
                <div class="box-valor">
                    <p class="seja center">We Create your Amazon Shipment</p>
                    <p class="assinate-span"><span>U$ 24,90</span>/{% trans "mês" %}</p><br>
                    <small>*{% trans "Sem adesão. Cancele a qualquer momento" %}.</small>
                    <ul>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span>{% trans "Criamos seu envio para Amazon para você" %}</span></li>
                        <li><i class="fa fa-fw fa-check-circle-o"></i> <span><a href='https://voiservices.com/en/create-az-shipment/' class='download'>{% trans "Saiba Mais" %}</a></span></li>
                    </ul>
                    {% if is_wcyazs is False %}
                    <div class="contem-btn-ass">
                         <a class="btn btn-primary" href="{% url 'user_subscribe' 2 %}" target="_blank"><i class="fa fa-fw fa-user-plus"></i> {% trans "Assinar" %}</a>
                    </div>
                    {% endif %}
                </div>
            </div>-->


            </div>

          <div class="col-md-12 box-valor">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                <h3 class="page-header"><i class="fa fa-fw fa-check-circle-o"></i> {% trans "Suas assinaturas ativas" %}:</h3>
                 {% if is_voiprime is False and is_wcyazs is False %}
                 <!-- Caso não possua nenhuma assinatura ativa -->
                 <p>{% trans "Você não possui nenhuma assinatura ativa. Para assinar nossos planos, veja as opções acima e clique em assinar." %}</p>
                 {% else %}
                  <!-- Box assinaturas -->
                  {% if is_voiprime %}
                  <div class="col-md-5">
                     <div class="box-comparativo-valor">
                        <div class="box-valor ass">
                            <p><strong>VOI Prime</strong></p><hr>
                            <p><strong>{% trans "Assinatura" %}:</strong> Ativa</p>
                            {% comment %}<p><strong>{% trans "Vencimento" %}:</strong> 20</p>{% endcomment %}
                            <p><strong>{% trans "Pagamento" %}:</strong> Paypal</p><hr>

                            <a href="javascript:void(0);" id="link-unsubscribe-VP" class="btn btn-default"><i class="fa fa-minus-circle"></i> {% trans "Cancelar Assinatura" %}</a>

                        </div>
                     </div>
                 </div>
                 {% endif %}
                 {% if is_wcyazs %}
                 <div class="col-md-5">
                     <div class="box-comparativo-valor">
                        <div class="box-valor ass">
                            <p><strong>We Create your Amazon Shipment</strong></p><hr>
                            <p><strong>{% trans "Assinatura" %}:</strong> Ativa</p>
                            {% comment %}<p><strong>{% trans "Vencimento" %}:</strong> 12</p>{% endcomment %}
                            <p><strong>{% trans "Pagamento" %}:</strong> Paypal</p><hr>

                            <a href="javascript:void(0);" id="link-unsubscribe-WC" class="btn btn-default"><i class="fa fa-minus-circle"></i> {% trans "Cancelar Assinatura" %}</a>

                        </div>
                     </div>
                 </div>
                 {% endif %}
                 {% endif %}
              </div>

            </div><br><br>
        {% endif %}
    </div>
  </div>

   <!--Modal explicao plano -->

    <div id="assinantes-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Porque se tornar um assinante" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "- Tenha acesso a todos os lotes a venda na nossa plataforma<br> - Receba notificações sempre que for lançado um lote novo<br> - Compre pelo paypal <br> - Imediatamente seu produto estará disponível para redirecionamento<br> - Sim, o redirecionamento também é conosco<br /> - Entre outras excelentes vantagens.<br><br> Para isso, marque a opção 'Quero ser um assinante' e desfrute das vantagens de ser um assinante." %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>


 <!-- Modal cancelamento VP -->
    <div id="modal-unsubscribe-VP" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fas fa-hand-paper" style="font-size: 30px;"></i> {% trans "Cancelamento" %}</h4>
                </div>
                <div class="modal-body">
                    <p class="fba-text"><strong>Unsubscribe VOI Prime:</strong></p>
                    <p class="fba-text">1) Click on the link: <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_manage-paylist' class=download' target='_blank'>https://www.paypal.com/cgi-bin/webscr?cmd=_manage-paylist</a></p>
                    <p class="fba-text">2) Chose vendor 'VOI Services LLC', description 'VOI Prime."</p>
                    <p class="fba-text">3) Click on "Cancel"</p>
                    <p class="fba-text">4) Confirm the "Cancel Plan"</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> {% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>


 <!-- Modal cancelamento WC -->
    <div id="modal-unsubscribe-WC" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fas fa-hand-paper" style="font-size: 30px;"></i> {% trans "Cancelamento" %}</h4>
                </div>
                <div class="modal-body">
                    <p class="fba-text"><strong>Unsubscribe WE CREATE YOUR AMAZON SHIPMENT:</strong></p>
                    <p class="fba-text">1) Click on the link: <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_manage-paylist' class=download' target='_blank'>https://www.paypal.com/cgi-bin/webscr?cmd=_manage-paylist</a></p>
                    <p class="fba-text">2) Chose vendor "VOI Services LLC", description "WE CREATE YOUR AMAZON SHIPMENT""</p>
                    <p class="fba-text">3) Click on "Cancel"</p>
                    <p class="fba-text">4) Confirm the "Cancel Plan"</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> {% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}