{% extends 'includes/layout.html' %}
{% load i18n l10n %}
{% block edituser %}active{% endblock %}

{% block conteudo %}

  <div class="container-fluid">
      <div class="row">
        {% if True %}
        <div class="col-md-3 sidebar">

        </div>
        <div class="col-md-6 main">
          <h1 class="page-header"><i class="fa fa-plus-square"></i> {{ title }}</h1>

            <form action="" method="post" class="form-edit-user" id="form-edit-user">
              {% csrf_token %}
              {{ user_formset.management_form }}
              {% for form in user_formset %}
                {{ form.id }}
                <div class="form-group col-md-12">
                  <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}*</label>
                    {% blocktrans asvar name with name_label=form.first_name.label|lower %}Digite o {{ name_label }}{% endblocktrans %}
                  <input type="text" class="form-control name_validate" id="{{ form.first_name.id_for_label }}" aria-describedby="name" name="{{ form.first_name.html_name }}" placeholder="{{ name }}..." value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                  {% for error in form.name.errors %}
                    <label id="first_name-error" class="error" for="{{ form.first_name.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}*</label>
                    {% blocktrans asvar lastname with name_label=form.last_name.label|lower %}Digite o {{ name_label }}{% endblocktrans %}
                  <input type="text" class="form-control lastname_validate" id="{{ form.last_name.id_for_label }}" aria-describedby="name" name="{{ form.last_name.html_name }}" placeholder="{{ lastname }}..." value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                  {% for error in form.name.errors %}
                    <label id="last_name-error" class="error" for="{{ form.last_name.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <!--  AJUSTAR ABAIXO  -->
                {% comment "MODIFICAR" %}
              <div class="form-group">
                <label for="celular">{% trans "Telefone 1" %}*</label>
                  {% trans "Digite o telefone, celular de preferência" as cell_phone %}
                <input type="number" class="form-control" id="celular" name="cell_phone" placeholder="{{ cell_phone }}..." value="{% if form %}{{ form.cell_phone.value }}{% endif %}">
                {% for error in form.cell_phone.errors %}
                  <label id="celular-error" class="error" for="celular">{{ error|escape }}</label>
                {% endfor %}
              </div>
              <div class="form-group">
                <label for="telefone">{% trans "Telefone 2" %}</label>
                  {% trans "Digite o telefone" as phone %}
                <input type="number" class="form-control" id="telefone" name="phone" placeholder="{{ phone }}..." value="{% if form %}{{ form.phone.value }}{% endif %}">
                {% for error in form.phone.errors %}
                  <label id="telefone-error" class="error" for="telefone">{{ error|escape }}</label>
                {% endfor %}
              </div>
                {% endcomment %}
              {% endfor %}
              <button type="submit" id="send-btn" class="btn btn-primary">{% trans "Enviar" %}</button><br><br>
              <a href="/"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br>
            </form>

        </div>
        {% endif %}
    </div>
  </div>
{% endblock %}