<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Vendedor Online Internacional - cadastro" %}</title>

    <!-- Bootstrap CSS -->
    <link href="/static/externo/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/externo/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="/static/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    <script src="/static/jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>

</head>

<body id="page-top" class="cadastro-usuario">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> {% trans "Menu" %} <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/static/img/logo_sup.png" /><img src="/static/img/logo_bottom.png" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/"><strong><i class="fa fa-sign-in"></i></strong> {% trans "Voltar Site Institucional" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <form action="" method="post" class="form-cad-cliente" id="form-add-user">
              {% csrf_token %}
              <div class="form-group">
                <label for="nome">{% trans "Nome" %}*</label>
                  {% trans "Digite o nome..." as first_name %}
                <input type="text" class="form-control" id="nome" aria-describedby="nome" name="first_name" placeholder="{{ first_name }}" value="{% if form %}{{ form.first_name.value }}{% endif %}">
              </div>
              <div class="form-group">
                <label for="nome">{% trans "Sobrenome" %}*</label>
                  {% trans "Digite o sobrenome..." as last_name %}
                <input type="text" class="form-control" id="sobrenome" aria-describedby="sobrenome" name="last_name" placeholder="{{ last_name }}" value="{% if form %}{{ form.last_name.value }}{% endif %}">
              </div>
              <div class="form-group">
                <label for="email">{% trans "E-mail" %}*</label>
                  {% trans "Digite o e-mail..." as email %}
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="{{ email }}" value="{% if form %}{{ form.email.value }}{% endif %}">
              </div>
              <div class="form-group">
                <label for="cpf">{% trans "CPF" %}*</label>
                  {% trans "Digite o CPF..." as doc_number %}
                <input type="number" class="form-control" id="cpf" name="doc_number" placeholder="{{ doc_number }}" value="{% if form %}{{ form.doc_number.value }}{% endif %}">
              </div>
                <div class="form-group">
                <label for="telefone">{% trans "Telefone" %}</label>
                  {% trans "Digite o telefone..." as phone %}
                <input type="number" class="form-control" id="telefone" name="phone" placeholder="{{ phone }}" value="{% if form %}{{ form.phone.value }}{% endif %}">
              </div>
                <div class="form-group">
                <label for="celular">{% trans "Celular" %}*</label>
                  {% trans "Digite o celular..." as cell_phone %}
                <input type="number" class="form-control" id="celular" name="cell_phone" placeholder="{{ cell_phone }}" value="{% if form %}{{ form.cell_phone.value }}{% endif %}">
              </div>
              <div class="form-group">
                <label for="endereco">{% trans "Endereço" %}*</label>
                  {% trans "Digite o endereço..." as address_1 %}
                <input type="text" class="form-control" id="endereco" aria-describedby="endereco" name="address_1" placeholder="{{ address_1 }}" value="{% if form %}{{ form.address_1.value }}{% endif %}">
              </div>
              <div class="form-group espaco-bottom">
                  <div class="col-md-4">
                     <label for="complemento">{% trans "Complemento" %}</label>
                      {% trans "Digite o complemento..." as address_2 %}
                     <input type="text" class="form-control" id="complemento" aria-describedby="complemento" name="address_2" placeholder="{{ address_2 }}" value="{% if form %}{{ form.address_2.value }}{% endif %}">
                  </div>
                  <div class="col-md-4">
                    <label for="bairro">{% trans "Bairro" %}*</label>
                      {% trans "Digite o bairro..." as neighborhood %}
                    <input type="text" class="form-control" id="bairro" aria-describedby="bairro" name="neighborhood" placeholder="{{ neighborhood }}" value="{% if form %}{{ form.neighborhood.value }}{% endif %}">
                  </div>
                  <div class="col-md-4">
                    <label for="cidade">{% trans "Cidade" %}*</label>
                      {% trans "Digite o cidade..." as city %}
                    <input type="text" class="form-control" id="cidade" aria-describedby="cidade" name="city" placeholder="{{ city }}" value="{% if form %}{{ form.city.value }}{% endif %}">
                  </div>
              </div>
              <div class="form-group espaco-bottom">
                  <div class="col-md-6">
                  <label for="estado">{% trans "Estado" %}*</label>
                      {% trans "Digite o estado..." as state %}
                    <input type="text" class="form-control" id="estado" aria-describedby="estado" name="state" placeholder="{{ state }}" value="{% if form %}{{ form.state.value }}{% endif %}">
                  </div>
                  <div class="col-md-6">
                    <label for="cep">{% trans "CEP" %}*</label>
                      {% trans "Digite o CEP..." as zipcode %}
                    <input type="number" class="form-control" id="cep" aria-describedby="cep" name="zipcode" placeholder="{{ zipcode }}" value="{% if form %}{{ form.zipcode.value }}{% endif %}">
                  </div>
              </div>
              <div class="form-group">
                <label for="senha">{% trans "Senha" %}*</label>
                  {% trans "Digite sua senha..." as password %}
                <input type="password" class="form-control menor" id="senha" name="password" placeholder="{{ password }}">
                <br><small>{% trans "Digite ao menos 1 letra minúscula, 1 letra maiúscula, 1 número e 1 caractere especial" %}</small>
              </div>
              <div class="form-group">
                <label for="cSenha">{% trans "Confirmar Senha" %}*</label>
                  {% trans "Confirmar a senha..." as password_confirmation %}
                <input type="password" class="form-control menor" id="cSenha" name="password_confirmation" placeholder="{{ password_confirmation }}">
              </div>
              <button type="submit" id="send-btn" class="btn btn-primary">{% trans "Enviar" %}</button><br><br>
              <a href="/"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br>
            </form>

        </div>
    </div>
    <!-- Modal confirmacao de acao-->
    <script type="text/javascript">
    $(function(){
    {% if success %}
        {% trans "Sucesso" as modal_title %}
        $('#confirmacao').modal('show');
    {% elif status_code and status_code == 400 %}
        {% trans "Erro" as modal_title %}
        {% if form and form.non_field_errors %}
            $('#confirmacao').modal('show');
        {% else %}
            $('#form-add-user').submit();
        {% endif %}
    {% endif %}
    });
    </script>
    <div id="confirmacao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ modal_title }}</h4>
                </div>
                <div class="modal-body">
                    {% if success %}
                        <p>{% trans "Informações enviadas com sucesso." %}</p>
                        <p>{% blocktrans %}Você receberá um e-mail para validar o seu cadastro. Este e-mail é válido por {{ expiry }} dias.{% endblocktrans %}</p>
                    {% elif status_code and status_code == 400 %}
                        {% if form and form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Não foi possível efetuar o seu cadastro." %}</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading basta dar display block-->
    <div class="loading" style="display: none;">{% trans "Carregando" %}...</div>


    <!-- jQuery -->
    <script src="/static/externo/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/static/externo/jquery/jquery.validate.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/externo/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/applications.js"></script>

</body>

</html>
