{% extends 'includes/layout.html' %}
{% load i18n l10n %}
{% block edituser %}active{% endblock %}

{% block conteudo %}

  <div class="container-fluid">
      <div class="row">
        {% if True %}
        <div class="col-md-3 sidebar">

        </div>
        <div class="col-md-6 main">
          <h1 class="page-header"><i class="fa fa-edit"></i> {% trans "Editar cadastro" %}</h1>

            <form action="" method="post" class="form-edit-user" id="form-edit-user">
              {% csrf_token %}
              {{ user_formset.management_form }}
              {% for form in user_formset %}
                {{ form.id }}
                <div class="form-group col-md-12">
                  <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}*</label>
                    {% blocktrans asvar name with name_label=form.first_name.label|lower %}Digite o {{ name_label }}{% endblocktrans %}
                  <input type="text" class="form-control name_validate" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" placeholder="{{ name }}..." value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                  {% for error in form.name.errors %}
                    <label id="first_name-error" class="error" for="{{ form.first_name.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}*</label>
                    {% blocktrans asvar lastname with last_name_label=form.last_name.label|lower %}Digite o {{ last_name_label }}{% endblocktrans %}
                  <input type="text" class="form-control lastname_validate" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" placeholder="{{ lastname }}..." value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                  {% for error in form.last_name.errors %}
                    <label id="last_name-error" class="error" for="{{ form.last_name.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.email.id_for_label }}">{{ form.email.label }}*</label>
                    {% blocktrans asvar email with email_label=form.email.label|lower %}Digite o {{ email_label }}{% endblocktrans %}
                  <input type="email" class="form-control email_validate" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="{{ email }}..." value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                  {% for error in form.email.errors %}
                    <label id="email-error" class="error" for="{{ form.email.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.cell_phone.id_for_label }}">{{ form.cell_phone.label }}*</label>
                    {% trans "Digite o telefone, celular de preferência" as cell_phone %}
                  <input type="number" class="form-control cell_phone_validate" id="{{ form.cell_phone.id_for_label }}" name="{{ form.cell_phone.html_name }}" placeholder="{{ cell_phone }}..." value="{% if form.cell_phone.value %}{{ form.cell_phone.value }}{% endif %}">
                  {% for error in form.cell_phone.errors %}
                    <label id="cell_phone-error" class="error" for="{{ form.cell_phone.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
                <div class="form-group col-md-12">
                  <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                    {% trans "Digite o telefone" as phone %}
                  <input type="number" class="form-control phone_validate" id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" placeholder="{{ phone }}..." value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}">
                  {% for error in form.phone.errors %}
                    <label id="phone-error" class="error" for="{{ form.phone.id_for_label }}">{{ error|escape }}</label>
                  {% endfor %}
                </div><br>
              {% endfor %}
              <button type="submit" id="send-btn" class="btn btn-primary" onclick="$('.loading').show();"><i class="fa fa-fw fa-paper-plane"></i> {% trans "Salvar" %}</button><br><br>
              <a href="/"><i class="fa fa-fw fa-long-arrow-left"></i> {% trans "Voltar" %}</a><br><br><br>
            </form>

        </div>
        {% endif %}
    </div>
  </div>
{% endblock %}