<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Vendedor Online Internacional" %} - {% trans "Troca Senha" %}</title>

    <!-- Bootstrap CSS -->
    <link href="/static/externo/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/externo/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="/static/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="/static/externo/jquery/jquery.min.js"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    <script src="/static/jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>

    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N5M2X7X');</script>
    <!-- End Google Tag Manager -->

</head>

<body id="page-top" class="cadastro-usuario">

    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5M2X7X"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> {% trans "Menu" %} <i class="fa fa-bars"></i>
                </button>
                <a href="/" class="navbar-brand page-scroll">
                    <span class="logo-services fr">VOI </span><span class="logo-services">SERVICES</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="{% url 'login' %}"><strong><i class="fa fa-sign-in"></i></strong> {% trans "Login" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="box-resposta">
            {% if finish %}
                <p>{% trans "Senha alterada com sucesso." %}</p>
                <p><a class="download" href="{% url 'login' %}">{% trans "Clique aqui" %}</a> {% trans "para realizar o seu login no sistema." %}</p>
            {% else %}
                {% if success or valid %}


            {% url 'user_reset_password' uidb64=uidb64 token=token as my_url %}
            <form action="{{ my_url }}" method="post" class="form-cad-cliente" id="form-reset-password">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">{% trans "Confirmar e-mail" %}*</label>
                  {% trans "Digite seu e-mail" as email %}
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="{{ email }}..." value="{% if form %}{{ form.email.value }}{% endif %}">
              </div>
              <div class="form-group">
                <label for="senha">{% trans "Senha" %}*</label>
                  {% trans "Nova senha" as password %}
                <input type="password" class="form-control menor" id="senha" name="password" placeholder="{{ password }}...">
                {% for error in form.password.errors %}
                  <label id="senha-error" class="error" for="senha">{{ error|escape }}</label>
                {% endfor %}
              </div>
              <div class="form-group">
                <label for="cSenha">{% trans "Confirmar Senha" %}*</label>
                  {% trans "Confirmar a senha" as password_confirmation %}
                <input type="password" class="form-control menor" id="cSenha" name="password_confirmation" placeholder="{{ password_confirmation }}...">
                {% for error in form.password_confirmation.errors %}
                  <label id="cSenha-error" class="error" for="cSenha">{{ error|escape }}</label>
                {% endfor %}
              </div>
              <button type="submit" id="send-btn" class="btn btn-primary">{% trans "Salvar" %}</button><br><br>
            </form>
                {% else %}
            <p>{% trans "Token inválido." %}</p>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>

    <footer class="fixed-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">{% trans "Copyright &copy; VOI Services 2019" %}</span>
                </div>
                <div class="col-md-3"><!--
                    <a href="https://prepshiptool.com" target="_blank" class="by download">
                        <img src="../../static/img/logo-en-maior.png" width="20px"/> by {% trans "PrepShip Tool" %}
                   </a>-->
                </div>
                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href='https://voiservices.com/en/terms/' target="_blank" >{% trans "Termos e Condições de Uso" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

     <!-- Modal confirmacao de acao-->
    <script type="text/javascript">
    $(function(){
    {% if valid %}
        {% trans "Erro" as modal_title %}
        $('#confirmacao').modal('show');
    {% endif %}
    });
    </script>
    <div id="confirmacao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ modal_title }}</h4>
                </div>
                <div class="modal-body">
                    {% if valid %}
                        <p>{% trans "Um ou mais valores preenchidos não são válidos, tente novamente." %}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-times-circle"></i> {% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading basta dar display block-->
    <div class="loading" style="display: none;">{% trans "Carregando" %}...</div>


    <!-- jQuery validate -->
    <script type="text/javascript" src="/static/externo/jquery/jquery.validate.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/externo/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/applications.js"></script>

</body>

</html>
