<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vendedor Online Internacional - cadastro</title>

    <!-- Bootstrap CSS -->
    <link href="/html/static/externo/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/html/static/externo/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="/html/static/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="cadastro-usuario">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/html/static/img/logo_sup.png" /><img src="/html/static/img/logo_bottom.png" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a class="page-scroll" href="#team"><strong><i class="fa fa-sign-in"></i></strong> Voltar Site Institucional</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <form class="form-cad-cliente">
              <div class="form-group">
                <label for="nome">Nome*</label>
                <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Digite o nome...">
              </div>
              <div class="form-group">
                <label for="E-mai">E-mail*</label>
                <input type="email" class="form-control" id="E-mai" aria-describedby="emailHelp" placeholder="Digite o email...">
              </div>
              <div class="form-group">
                <label for="CPF">CPF*</label>
                <input type="number" class="form-control" id="CPF" placeholder="Digite o CPF...">
              </div>
                <div class="form-group">
                <label for="Telefone">Telefone*</label>
                <input type="number" class="form-control" id="telefone" placeholder="Digite o Telefone...">
              </div>
                <div class="form-group">
                <label for="Celular">Celular</label>
                <input type="number" class="form-control" id="Celular" placeholder="Digite o Celular...">
              </div>
              <div class="form-group">
                <label for="endereco">Endereço*</label>
                <input type="text" class="form-control" id="endereco" aria-describedby="endereco" placeholder="Digite o endereço...">
              </div>
              <div class="form-group espaco-bottom">
                  <div class="col-md-4">
                     <label for="Complemento">Complemento</label>
                     <input type="text" class="form-control" id="Complemento" aria-describedby="Complemento" placeholder="Digite o Complemento...">
                  </div>
                  <div class="col-md-4">
                    <label for="Bairro">Bairro*</label>
                    <input type="text" class="form-control" id="Bairro" aria-describedby="Bairro" placeholder="Digite o Bairro...">
                  </div>
                  <div class="col-md-4">
                      <label for="Cidade">Cidade*</label>
                      <input type="text" class="form-control" id="Cidade" aria-describedby="Cidade" placeholder="Digite a Cidade...">
                  </div>
              </div>
              <div class="form-group espaco-bottom">
                  <div class="col-md-6">
                  <label for="Estado">Estado</label>
                    <select class="form-control" id="Estado">
                      <option>Rio de Janeiro</option>
                      <option>São Paulo</option>
                      <option>Maranhão</option>
                      <option>Goias</option>
                      <option>Minas Gerais</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="cep">CEP*</label>
                    <input type="number" class="form-control" id="cep" aria-describedby="cep" placeholder="Digite o Complemento...">
                  </div>
              </div>
              <div class="form-group">
                <label for="usuario">Nome de Usuário</label>
                <input type="text" class="form-control menor" id="usuario" aria-describedby="usuario" placeholder="Nome usuário...">
              </div>
              <div class="form-group">
                <label for="Senha">Senha*</label>
                <input type="text" class="form-control menor" id="Senha" placeholder="Digite sua senha...">
              </div>
              <div class="form-group">
                <label for="cSenha">Confirmar Senha*</label>
                <input type="text" class="form-control menor" id="cSenha" placeholder="Confirmar senha...">
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button><br><br>
              <a href="javascript:history.back()"><i class="fa fa-fw fa-long-arrow-left"></i> Voltar</a><br><br><br>
            </form>

        </div>
    </div>
     <!-- Modal confirmacao de acao-->
    <div id="confirmacao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sucesso</h4>
                </div>
                <div class="modal-body">
                    <p>Informações enviadas com sucesso</p>
                    <!--<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading basta dar display block-->
    <div class="loading" style="display: none;">Loading...</div>


    <!-- jQuery -->
    <script src="externo/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="externo/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/applications.js"></script>

</body>

</html>
