<!DOCTYPE html>
{% load i18n commons permissions products shipments services lots static %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112929909-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112929909-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Vendedor Online Internacional" %} - {{ title }}</title>

    <!-- Bootstrap -->
    <link href="/static/externo/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fontes -->
    <link href="/static/externo/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Estilo Jquery-ui -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Estilo -->
    <link href="/static/css/style.css" rel="stylesheet">

    {% block specific_styles %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/static/externo/jquery/jquery.min.js"></script>

    <script src="/static/js/constants.js"></script>

    <script src="/static/js/inlines.js"></script>

    <script src="/static/jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>

    {% block specific_scripts %}{% endblock %}

</head>

<body id="page-top" class="lista-usuarios sistema sistema-en">
 <header class="bs-docs-nav navbar navbar-static-top header-sistema" id="top">
            <div class="navbar-header">
                <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand page-scroll">
                    <img src="/static/img/logo_sup.png" /><span class="logo-services fr">VOI </span><span class="logo-services">SERVICES</span><!--<img src="/static/img/logo_bottom.png" />-->
                </a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.impersonated is not None %}
                    <li class="dropdown">
                        <a href="{%url 'user_end_impersonate' %}" class="dropdown-toggle logo-marca-link operacional-conf"><span class="glyphicon glyphicon-cog "></span> {% trans "Encerrar acessar como" %} </a>
                    </li>
                    {% endif %}
                    {% if user|can_view_admin %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle logo-marca-link operacional-conf" data-toggle="dropdown"><span class="glyphicon glyphicon-cog "></span> {% trans "Administrativo" %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="{% block usuarios %}{% endblock %}">
                                <a href="{%url 'admin:myauth_myuser_changelist' %}"><i class="fa fa-fw fa-users"></i> {% trans "Usuários" %}</a>
                            </li>
                            <li class="divider"></li>
                            <li class="{% block pagamentos %}{% endblock %}">
                                <a href="{%url 'admin:payment_mypaypalipn_changelist' %}"><i class="fa fa-fw fa-paypal"></i> {% trans "Pagamentos" %}</a>
                            </li>
                            {% if user|has_service_perm:'add_service' %}
                            <li class="divider"></li>
                            <li class="{% block servicos %}{% endblock %}">
                                <a href="{%url 'admin:service_service_changelist' %}"><i class="fa fa-fw fa-cogs"></i> {% trans "Serviços" %}</a>
                            </li>
                            {% endif %}
                            {% if user|has_store_perm:'add_lot' %}
                            <li class="divider"></li>
                            <li class="{% block lotes %}{% endblock %}">
                                <a href="{%url 'admin:store_lot_changelist' %}"><i class="fa fa-fw fa-th"></i> {% trans "Lotes" %}</a>
                            </li>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <li class="divider"></li>
                            <li>
                                <form action="{%url 'user_impersonate' %}" id="impersonate_form" method="post">
                                    {% csrf_token %}
                                    {% trans "Acessar como" %}: <input class="form-control" type="text" name="impersonate_id" onkeydown="var key = event.which || event.keyCode || 0; if(key === 13){ document.getElementById('impersonate_form').submit(); }" />
                                </form>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
{% if LANGUAGE_CODE == 'pt' %}
                    <li class="seja-parceiro-menu {% block partner %}{% endblock %}">
                       <a href="{% url 'colab' %}">
                          <i class="fa fa-street-view"></i> {% trans "Seja um colaborador" %}
                          <span title="{% trans 'Seja um colaborador' %}" class="suspenso">{% trans "Novo" %}</span>
                       </a>
                    </li>
{% endif %}
                    <li class="{% block storelist %}{% endblock %}">
                        <a href="{% url 'store' %}" class="logo-marca-link operacional-conf"><i class="fa fa-shopping-bag"></i> {% trans "Loja" %}</a>
                    </li>

                    <li class="{% block comoFunciona %}{% endblock %}">
                        <a href="{% url 'how_it_works' %}" class=""><i class="fa fa-leanpub"></i> {% trans "Como Funciona" %}</a>
                    </li>
{% if LANGUAGE_CODE == 'pt' %}
                    <li class="{% block faq %}{% endblock %}">
                        <a href="{% url 'faq' %}" class=""><i class="fa fa-question-circle"></i> {% trans "Perguntas Frequentes" %}</a>
                    </li>
{% endif %}
                    <li>
                        <a href="javascript: void(0);" id="contato-popup-link"><i class="fa fa-fw fa-envelope"></i> {% trans "Contato" %}</a>
                    </li>
{% if LANGUAGE_CODE == 'pt' %}
                    <li class="tutorial">
                        <a href="{% trans '/pt/ajuda/voi-services-da-compra-ao-envio-para-amazon.pdf' %}" target="_blank" class="abre-tutorial"><i class="fa fa-leanpub"></i> {% trans "Tutorial Plataforma" %}</a>
                    </li>
{% endif %}
{% comment %}
                    <li class="tutorial adress">
                        <a href="javascript:void(0);" class="abre-tutorial open-adress"><i class="fa fa-map-marker"></i> {% trans "Ver Endereço VOI" %}</a>
                    </li>



                    {% if user|has_product_perm:'view_products' or user|has_product_perm:'add_product' %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle logo-marca-link operacional-conf" data-toggle="dropdown"><i class="fa fa-archive"></i> {% trans "Estoque" %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if user|has_product_perm:'view_products' %}
                            <li class="{% block productlist %}{% endblock %}">
                                <a href="{% url 'product_stock' %}"><i class="fa fa-fw fa-list-alt"></i> {% trans "Lista de Produtos" %}</a>
                            </li>
                            {% endif %}
                            {% if user|has_product_perm:'view_products' and user|has_product_perm:'add_product' %}
                            <li class="divider"></li>
                            {% endif %}
                            {% if user|has_product_perm:'add_product' %}
                            <li class="{% block addproduto %}{% endblock %}">
                                <a href="{% url 'product_add' %}"><i class="fa fa-fw fa-plus-square"></i> {% trans "Adicionar Produto" %}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if user|has_shipment_perm:'view_shipments' or user|has_shipment_perm:'add_shipment' %}
                    <li class="dropdown ">
                        {% open_fba_shipments request.user as ofs %}
                        <a href="#" class="dropdown-toggle logo-marca-link operacional-conf" data-toggle="dropdown">
                            <i class="fa fa-share"></i> {% trans "Envios Amazon" %}
                            <b class="caret"></b>
                            {% if ofs > 0 %}
                            <span title="{% trans 'Envios em aberto' %}" class="suspenso">{{ ofs }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            {% if user|has_shipment_perm:'view_shipments' %}
                            <li class="{% block shipmentlist %}{% endblock %}">
                                <a href="{% url 'shipment' %}"><i class="fa fa-fw fa-list-alt"></i> {% trans "Lista de Envios" %}</a>
                            </li>
                            {% endif %}
                            {% if user|has_shipment_perm:'view_shipments' and user|has_shipment_perm:'add_shipment' %}
                            <li class="divider"></li>
                            {% endif %}
                            {% if user|has_shipment_perm:'add_shipment' %}
                            <li class="{% block criarshipment %}{% endblock %}">
                                <a href="{% url 'shipment_add' %}"><i class="fa fa-fw fa-plus-square"></i> {% trans "Criar Envio" %}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if user|has_shipment_perm:'view_fbm_shipments' or user|has_shipment_perm:'add_fbm_shipment' %}
                    <li class="dropdown ">
                        {% open_mf_shipments request.user as oms %}
                        <a href="#" class="dropdown-toggle logo-marca-link operacional-conf" data-toggle="dropdown">
                            <i class="fa fa-share"></i> {% trans "Envios Merchant" %}
                            <b class="caret"></b>
                            {% if oms > 0 %}
                            <span title="{% trans 'Envios em aberto' %}" class="suspenso">{{ oms }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            {% if user|has_shipment_perm:'view_fbm_shipments' %}
                            <li class="{% block merchant_shipment %}{% endblock %}">
                                <a href="{% url 'merchant_shipment' %}"><i class="fa fa-fw fa-list-alt"></i> {% trans "Lista de Envios" %}</a>
                            </li>
                            {% endif %}
                            {% if user|has_shipment_perm:'view_fbm_shipments' and user|has_shipment_perm:'add_fbm_shipment' %}
                            <li class="divider"></li>
                            {% endif %}
                            {% if user|has_shipment_perm:'add_fbm_shipment' %}
                            <li class="{% block merchant_shipment_add %}{% endblock %}">
                                <a href="{% url 'merchant_shipment_add' %}"><i class="fa fa-fw fa-plus-square"></i> {% trans "Criar Envio" %}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

{% endcomment %}
                    {% if not user.is_authenticated %}
                    <li>
                        <a title="Login" href="/pt/entrar"><strong><i class="fa fa-sign-in"></i></strong> Log in</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle logo-marca-link operacional-conf" data-toggle="dropdown"><span class="glyphicon glyphicon-cog "></span>  {% trans "Olá" %}, {{ user.first_name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if user.first_name != 'Administrador' %}
                            <li class="{% block edituser %}{% endblock %}">
                                <a href="{% url 'user_edit' %}"><i class="fa fa-fw fa-user"></i> {% trans "Editar cadastro" %}</a>
                            </li>
                            <li class="divider"></li>
                            {% endif %}
                             {% if user|has_product_perm:'view_products' or user|has_product_perm:'add_product' %}
                                <li class="{% block productlist %}{% endblock %}">
                                    <a href="{% url 'product_stock' %}"><i class="fa fa-fw fa-list-alt"></i> {% trans "Estoque" %}</a>
                                </li>
                                <li class="divider"></li>
                            {% endif %}
                            {% if user|has_shipment_perm:'view_shipments' or user|has_shipment_perm:'add_shipment' %}
                                <li class="{% block shipmentlist %}{% endblock %}">
                                    {% open_fba_shipments request.user as ofs %}
                                    <a href="{% url 'shipment' %}">
                                        <i class="fa fa-amazon"></i> {% trans "Envios Amazon" %}
                                        {% if ofs > 0 %}
                                        <span title="{% trans 'Envios em aberto' %}" class="suspenso">{{ ofs }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="divider-fix divider"></li>
                            {% endif %}
                            {% if user|has_store_perm:'view_purchased_lots' %}
                            <li class="{% block mypurchases %}{% endblock %}">
                                <a href="{% url 'store_purchase' %}"><i class="fa fa-fw fa-shopping-basket"></i> {% trans "Minhas compras" %}</a>
                            </li>
                            <li class="divider"></li>
                            {% endif %}
                            <li class="">
                                <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> {% trans "sair" %}</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

                <form action="{% url 'my_set_language' %}" method="post">{% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        {% if language.code != LANGUAGE_CODE %}
                            <input type="hidden" name="language" value="{{ language.code }}">
                            {% if language.code == 'en' %}
                                <input title="Translate to English" class="bandeira bandeira-en" type="submit">
                            {% else %}
                                <input title="Traduzir para português do Brasil" class="bandeira" type="submit">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </form>
            </nav>
    </header>

    {% block conteudo %}Conteudo pagina{% endblock %}
{% comment %}
    <!-- Btn para usuario se tornar assinante. So quem nao e assinante pode visualizar esse bloco-->
    <div class="box-assine-agora">
        <span>{% trans "Assine Agora" %}</span> <a href="#"><i class="fa fa-fw fa-hand-pointer-o fa-2x"></i></a>
    </div>
    <!-- Fim bloco -->
{% endcomment %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3"><br />
                    <span class="copyright">{% trans "Copyright &copy; VOI Services 2018" %}</span>
                </div>
                <div class="col-md-6"><br /><!--
                    <a href="https://prepshiptool.com" target="_blank" class="by download">
                        <img src="/static/img/logo-en-maior.png" width="20px" /> by {% trans "PrepShip Tool" %}</a>-->
                    <span class="copyright"><strong>{% trans "Endereço" %}:</strong> 920 Lafayette Rd 204-B, Seabrook, NH 03874 <br> <strong>{% trans "Telefone" %}:</strong> 1 978 992 8417</span>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="{% url 'terms' %}">{% trans "Termos e Condições de Uso" %}</a>

                        </li>
                        <li>
                            <a href="{% url 'privacy_policy' %}">{% trans "Políticas de Privacidade" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


     <!-- Modal confirmacao de acao-->
    <script type="text/javascript">
    $(function(){
    {% if success %}
        {% trans "Sucesso" as modal_title %}
        $('#confirmacao').modal('show');
    {% elif status_code and status_code == 400 %}
        {% trans "Erro" as modal_title %}
        {% if form and form.non_field_errors %}
            $('#confirmacao').modal('show');
        {% endif %}
    {% elif custom_modal %}
        $('#confirmacao').modal('show');
    {% endif %}
    });
    </script>
    <div id="confirmacao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ modal_title }}</h4>
                </div>
                <div class="modal-body">
                    {% if success %}
                        <p>{{ success_message }}</p>
                    {% elif status_code and status_code == 400 %}
                        {% if form and form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <p>{{ error | safe }}</p>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Não foi possível concluir sua ação." %}</p>
                        {% endif %}
                    {% elif custom_modal %}
                        <p>{{ modal_message }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="contato-modal" class="modal fade modal-m">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Fale Conosco" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Para entrar em contato com nosso suporte e nossos canais de atendimento, envie um email para <a class='download' href='mailto:support@voiservices.com'>support@voiservices.com</a>. Retornaremos o mais breve possível." %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="box-adress" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Endereço VOI" %}</h4>
                </div>
                <div class="modal-body">
                    <p><strong>{% trans "Veja abaixo o nosso endereço para o qual você deve enviar seus produtos antes que eles sejam enviados para Amazon/Ebay." %}</strong></p>
                    <br>
                    <p class="center">Address: 8611 SW  207 Terrace<br />City: Miami ou Cutler Bay<br />State: FL<br />Zip code: 33189</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-fw fa-power-off"></i>{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>

    {% url 'terms' as termsandconditions %}
    {% if user.terms_conditions is False and not request.path|startswith:termsandconditions %}
   <!-- Modal termos -->
    <div id="terms_conditions" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Importante!" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Olá" %}, {{ user.first_name }}</p>
                    <p>{% trans "Os termos e condições de uso da nossa plataforma foram atualizados. <a href='/pt/termos-e-condicoes-de-uso/' class='download' target='_blank'>Confira clicando aqui</a>." %}</p>
                    <p></p>
                    <a href="#" id="terms-conditions-acceptance" class="btn btn-primary"><i class="fa fa-fw fa-check-circle"></i> {% trans "Li e aceito os termos e condições de uso" %}</a>
                    <span>{% trans "É necessário aceitar os termos para poder continuar a utilizar a plataforma." %}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% comment %}
   <!-- Modal Assinatura -->
    <div id="assinatura-confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-fw fa-frown-o"></i> {% trans "Você ainda não é assinante!" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "Olá" %}, {{ user.first_name }}</p>
                    <p>{% trans "Verificamos que você ainda não é assinante. Seja um assinante e tenha direito a diversas vantagens, tais como:" %}</p>
                    <p>{% trans "- Compra de lotes<br>- Receba emails todas as vezes que um lote estiver disponível<br>- Acesso a nosso sistema de Prep & Ship<br />- Suporte técnico<br />- Entre outras diversas vantagens que irão facilitar muito sua vida como vendedor Amazon" %}</p>
                    <p></p>
                    <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-check-circle"></i> {% trans "Quero ser assinante" %}</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Fechar" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endcomment %}

    <!-- Loading basta dar display block-->
    <div class="loading" style="display: none;">{% trans "Carregando" %}...</div>

    <!-- jQuery validate -->
    <script type="text/javascript" src="{% static 'externo/jquery/jquery.validate.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'externo/jquery/jquery-ui.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{% static 'externo/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>

    <!-- Theme JavaScript -->
    <script type="text/javascript" src="{% static 'js/applications.js' %}"></script>

</body>

</html>